<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.BaseIssuingcompanyRuleMapper">
    
    <resultMap type="com.paic.ehis.system.domain.BaseIssuingcompanyRule" id="BaseIssuingcompanyRuleResult">
        <result property="ruleNo"    column="rule_no"    />
        <result property="companyCode"    column="company_code"    />
        <result property="riskCode"    column="risk_code"    />
        <result property="settlementType"    column="settlement_type"    />
        <result property="settlementValue"    column="settlement_value"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBaseIssuingcompanyRuleVo">
        select rule_no, company_code, risk_code, settlement_type, settlement_value, status, create_by, create_time, update_by, update_time from base_issuingcompany_rule
    </sql>

    <select id="selectBaseIssuingcompanyRuleList" parameterType="com.paic.ehis.system.domain.BaseIssuingcompanyRule" resultMap="BaseIssuingcompanyRuleResult">
        <include refid="selectBaseIssuingcompanyRuleVo"/>
        <where>  
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="riskCode != null  and riskCode != ''"> and risk_code = #{riskCode}</if>
            <if test="settlementType != null  and settlementType != ''"> and settlement_type = #{settlementType}</if>
            <if test="settlementValue != null "> and settlement_value = #{settlementValue}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaseIssuingcompanyRuleById" parameterType="String" resultMap="BaseIssuingcompanyRuleResult">
        <include refid="selectBaseIssuingcompanyRuleVo"/>
        where rule_no = #{ruleNo}
    </select>
        
    <insert id="insertBaseIssuingcompanyRule" parameterType="com.paic.ehis.system.domain.BaseIssuingcompanyRule">
        insert into base_issuingcompany_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleNo != null">rule_no,</if>
            <if test="companyCode != null and companyCode != ''">company_code,</if>
            <if test="riskCode != null and riskCode != ''">risk_code,</if>
            <if test="settlementType != null and settlementType != ''">settlement_type,</if>
            <if test="settlementValue != null">settlement_value,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleNo != null">#{ruleNo},</if>
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
            <if test="riskCode != null and riskCode != ''">#{riskCode},</if>
            <if test="settlementType != null and settlementType != ''">#{settlementType},</if>
            <if test="settlementValue != null">#{settlementValue},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBaseIssuingcompanyRule" parameterType="com.paic.ehis.system.domain.BaseIssuingcompanyRule">
        update base_issuingcompany_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code = #{companyCode},</if>
            <if test="riskCode != null and riskCode != ''">risk_code = #{riskCode},</if>
            <if test="settlementType != null and settlementType != ''">settlement_type = #{settlementType},</if>
            <if test="settlementValue != null">settlement_value = #{settlementValue},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rule_no = #{ruleNo}
    </update>

    <delete id="deleteBaseIssuingcompanyRuleById" parameterType="String">
        delete from base_issuingcompany_rule where rule_no = #{ruleNo}
    </delete>

    <delete id="deleteBaseIssuingcompanyRuleByIds" parameterType="String">
        delete from base_issuingcompany_rule where rule_no in 
        <foreach item="ruleNo" collection="array" open="(" separator="," close=")">
            #{ruleNo}
        </foreach>
    </delete>
    
</mapper>