<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.BaseIcd10Mapper">
    
    <resultMap type="com.paic.ehis.system.domain.BaseIcd10" id="BaseIcd10Result">
        <result property="icdCode"    column="icd_code"    />
        <result property="icdName"    column="icd_name"    />
        <result property="icdClass"    column="icd_class"    />
        <result property="source"    column="source"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBaseIcd10Vo">
        select icd_code, icd_name, icd_class, source, status, create_by, create_time, update_by, update_time from base_icd10
    </sql>

    <select id="selectBaseIcd10List" parameterType="com.paic.ehis.system.domain.BaseIcd10" resultMap="BaseIcd10Result">
        <include refid="selectBaseIcd10Vo"/>
        <where>  
            <if test="icdName != null  and icdName != ''"> and icd_name like concat('%', #{icdName}, '%')</if>
            <if test="icdClass != null  and icdClass != ''"> and icd_class = #{icdClass}</if>
            <if test="source != null  and source != ''"> and source = #{source}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaseIcd10ById" parameterType="String" resultMap="BaseIcd10Result">
        <include refid="selectBaseIcd10Vo"/>
        where icd_code = #{icdCode}
    </select>
        
    <insert id="insertBaseIcd10" parameterType="com.paic.ehis.system.domain.BaseIcd10">
        insert into base_icd10
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="icdCode != null">icd_code,</if>
            <if test="icdName != null and icdName != ''">icd_name,</if>
            <if test="icdClass != null and icdClass != ''">icd_class,</if>
            <if test="source != null and source != ''">source,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="icdCode != null">#{icdCode},</if>
            <if test="icdName != null and icdName != ''">#{icdName},</if>
            <if test="icdClass != null and icdClass != ''">#{icdClass},</if>
            <if test="source != null and source != ''">#{source},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBaseIcd10" parameterType="com.paic.ehis.system.domain.BaseIcd10">
        update base_icd10
        <trim prefix="SET" suffixOverrides=",">
            <if test="icdName != null and icdName != ''">icd_name = #{icdName},</if>
            <if test="icdClass != null and icdClass != ''">icd_class = #{icdClass},</if>
            <if test="source != null and source != ''">source = #{source},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where icd_code = #{icdCode}
    </update>

    <delete id="deleteBaseIcd10ById" parameterType="String">
        delete from base_icd10 where icd_code = #{icdCode}
    </delete>

    <delete id="deleteBaseIcd10ByIds" parameterType="String">
        delete from base_icd10 where icd_code in 
        <foreach item="icdCode" collection="array" open="(" separator="," close=")">
            #{icdCode}
        </foreach>
    </delete>
    
</mapper>