<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.ClaimCaseMapper">
    
    <resultMap type="com.paic.ehis.system.domain.ClaimCase" id="ClaimCaseResult">
        <result property="rptNo"    column="rpt_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="filingNo"    column="filing_no"    />
        <result property="caseStatus"    column="case_status"    />
        <result property="pulloutReason"    column="pullout_reason"    />
        <result property="pulloutDescribe"    column="pullout_describe"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="claimType" column="claim_type"  />
        <result property="submitdate"    column="submit_date"    />
        <result property="companyCode"    column="company_code"    />
        <result property="name"    column="name"    />
        <result property="idNo"    column="id_no"    />
    </resultMap>
    <resultMap type="com.paic.ehis.system.domain.vo.ProcessingCaseVo" id="ProcessingClaimCaseResult">
        <result property="rptNo"    column="rpt_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="filingNo"    column="filing_no"    />
        <result property="stayTime" column="stay_time"   />
        <result property="claimType" column="claim_type"  />
        <result property="caseStatus"    column="case_status"    />
    </resultMap>
    <resultMap type="com.paic.ehis.system.domain.vo.ClaimAndBatchVo" id="ClaimAndBatchVo">
        <result property="rptNo"    column="rpt_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="filingNo"    column="filing_no"    />
        <result property="source"    column="source"    />
    </resultMap>
    <resultMap type="com.paic.ehis.system.domain.vo.DispatchVo" id="DispatchVo">
        <result property="batchNo"    column="batch_no"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="caseStatus"    column="case_status"    />
        <result property="claimType" column="claim_type"  />
        <result property="submitdate"    column="submit_date"    />
        <result property="companyCode"    column="company_code"    />
        <result property="name"    column="name"    />
        <result property="idNo"    column="id_no"    />
        <result property="operator"    column="operator"    />
        <result property="source"    column="source"    />
    </resultMap>
    <sql id="selectClaimCaseVo">
        select rpt_no, batch_no, filing_no, case_status, pullout_reason, pullout_describe, status, create_by, create_time, update_by, update_time from claim_case
    </sql>

    <select id="selectClaimCaseList" parameterType="ClaimCase" resultMap="ClaimCaseResult">
        <include refid="selectClaimCaseVo"/>
        <where>  
            <if test="batchNo != null  and batchNo != ''"> and batch_no = #{batchNo}</if>
            <if test="filingNo != null  and filingNo != ''"> and filing_no = #{filingNo}</if>
            <if test="caseStatus != null  and caseStatus != ''"> and case_status = #{caseStatus}</if>
            <if test="pulloutReason != null  and pulloutReason != ''"> and pullout_reason = #{pulloutReason}</if>
            <if test="pulloutDescribe != null  and pulloutDescribe != ''"> and pullout_describe = #{pulloutDescribe}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectProcessingClaimCaseList" parameterType="com.paic.ehis.system.domain.dto.ClaimCaseDTO" resultMap="ProcessingClaimCaseResult">
        SELECT DISTINCT
        cc.batch_no,
        cc.rpt_no,
        cc.filing_no,
        cc.case_status,
        cc.update_by,
        ( SELECT cb.claim_type FROM claim_batch cb WHERE cb.batch_no = cc.batch_no ) claim_type,
        ( SELECT cci.name FROM claim_case_insured cci WHERE cci.rpt_no = cc.rpt_no ) name ,
        CONCAT(
        FLOOR( TIMESTAMPDIFF( SECOND, ccr.create_time, now( ) ) / 86400 ),
        '天',
        TIMESTAMPDIFF( HOUR, ccr.create_time, now( ) ) % 24,
        '时',
        TIMESTAMPDIFF( MINUTE, ccr.create_time, now( ) ) % 60,
        '分'
        ) stay_time
        FROM
        claim_case cc
        LEFT JOIN claim_case_record ccr ON ccr.rpt_no = cc.rpt_no
        <where>
            <if test="batchNo != null  and batchNo != ''"> and cc.batch_no = #{batchNo}</if>
            <if test="rptNo != null and rptNo != ''"> and cc.rpt_no = #{rptNo}</if>
            <if test="caseStatus != null  and caseStatus != ''"> and cc.case_status = #{caseStatus}</if>
            <if test="status != null  and status != ''"> and cc.status = #{status}</if>
            <if test="updateBy != null  and updateBy != ''"> and cc.update_by = #{updateBy}</if>
            <if test="name != null  and name != ''"> and name like concat('%',#{name},'%')</if>
        </where>
    </select>

    <select id="selectClaimCaseProcessedList" parameterType="com.paic.ehis.system.domain.dto.ClaimCaseDTO" resultMap="ProcessingClaimCaseResult">
        SELECT DISTINCT
        cr.batch_no,
        cr.rpt_no,
        cr.filing_no,
        cr.case_status
        FROM
        (SELECT
        cc.batch_no,
        cc.rpt_no,
        cc.filing_no,
        cc.case_status,
        cc.STATUS,
        ccr.update_by,
        ccr.operation,
        ccr.history_flag
        from
        claim_case cc
        LEFT JOIN claim_case_record ccr ON ccr.rpt_no = cc.rpt_no ) cr
        LEFT JOIN claim_case_insured cci ON cci.rpt_no = cr.rpt_no
        <where>
            <if test="batchNo != null  and batchNo != ''"> and cr.batch_no = #{batchNo}</if>
            <if test="rptNo != null and rptNo != ''"> and cr.rpt_no = #{rptNo}</if>
            <if test="caseStatus != null  and caseStatus != ''"> and cr.case_status not in (${caseStatus})</if>
            <if test="status != null  and status != ''"> and cr.status = #{status}</if>
            <if test="updateBy != null  and updateBy != ''"> and cr.update_by = #{updateBy}</if>
            <if test="operation  != null  and operation  != ''"> and cr.operation  = #{operation}</if>
            <if test="isHistory != null  and isHistory != ''"> and cr.history_flag = #{isHistory}</if>
            <if test="name != null  and name != ''"> and name like concat('%',#{name},'%')</if>
        </where>
    </select>


    
    <select id="selectClaimCaseById" parameterType="String" resultMap="ClaimCaseResult">
        <include refid="selectClaimCaseVo"/>
        where rpt_no = #{rptNo} and status="Y"
    </select>
        
    <insert id="insertClaimCase" parameterType="ClaimCase">
        insert into claim_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null">rpt_no,</if>
            <if test="batchNo != null and batchNo != ''">batch_no,</if>
            <if test="filingNo != null and filingNo != ''">filing_no,</if>
            <if test="caseStatus != null and caseStatus != ''">case_status,</if>
            <if test="pulloutReason != null">pullout_reason,</if>
            <if test="pulloutDescribe != null">pullout_describe,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null">#{rptNo},</if>
            <if test="batchNo != null and batchNo != ''">#{batchNo},</if>
            <if test="filingNo != null and filingNo != ''">#{filingNo},</if>
            <if test="caseStatus != null and caseStatus != ''">#{caseStatus},</if>
            <if test="pulloutReason != null">#{pulloutReason},</if>
            <if test="pulloutDescribe != null">#{pulloutDescribe},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimCase" parameterType="ClaimCase">
        update claim_case
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchNo != null and batchNo != ''">batch_no = #{batchNo},</if>
            <if test="filingNo != null and filingNo != ''">filing_no = #{filingNo},</if>
            <if test="caseStatus != null and caseStatus != ''">case_status = #{caseStatus},</if>
            <if test="pulloutReason != null">pullout_reason = #{pulloutReason},</if>
            <if test="pulloutDescribe != null">pullout_describe = #{pulloutDescribe},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rpt_no = #{rptNo}
    </update>

    <delete id="deleteClaimCaseById" parameterType="String">
        delete from claim_case where rpt_no = #{rptNo}
    </delete>

    <delete id="deleteClaimCaseByIds" parameterType="String">
        delete from claim_case where rpt_no in 
        <foreach item="rptNo" collection="array" open="(" separator="," close=")">
            #{rptNo}
        </foreach>
    </delete>

    <select id="selectClaimClaimAndBatchById" parameterType="String" resultMap="ClaimAndBatchVo">
        select form1.rpt_no,form1.batch_no,form1.filing_no,batch.source
        from claim_case form1
        inner join claim_batch batch on form1.batch_no=batch.batch_no and form1.status='Y' and form1.rpt_no = #{rptNo}
    </select>

    <select id="selectCaseDispatchList" parameterType="com.paic.ehis.system.domain.dto.DispatchDTO" resultMap="DispatchVo">
        select 	cc.rpt_no,cc.case_status,cb.claim_type,cb.submit_date,cb.source,ccr.operator from claim_case cc
        left join claim_batch  cb  on cc.batch_no=cb.batch_no
        left join claim_case_record ccr  on ccr.rpt_no=cc.rpt_no
        <where>
            <if test="rptNo != null and rptNo != ''"> and cr.rpt_no = #{rptNo}</if>
            <if test="claimType != null  and claimType != ''"> and claim_type = #{claimType}</if>
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="idNo != null  and idNo != ''"> and id_no = #{idNo}</if>
            <if test="submitstartdate != null and submitenddate != null"> and submit_date between #{submitstartdate} and DATE_ADD(#{submitenddate},INTERVAL 1 DAY)</if>
            <if test="caseStatus != null  and caseStatus != ''"> and case_status = #{caseStatus}</if>
            <if test="updateBy != null  and updateBy != ''"> and cc.update_by = #{updateBy}</if>
        </where>
    </select>
    <select id="selectPolicyDispatchList" parameterType="DispatchDTO" resultMap="DispatchVo">
        select  pin.name,pin.company_code,pis.id_no from policy_info pin
        left join policy_insured pis  on pis.insured_no=pin.insured_no
        <where>
            <if test="rptNo != null and rptNo != ''"> and cr.rpt_no = #{rptNo}</if>
            <if test="claimType != null  and claimType != ''"> and claim_type = #{claimType}</if>
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="idNo != null  and idNo != ''"> and id_no = #{idNo}</if>
            <if test="submitstartdate != null and submitenddate != null"> and submit_date between #{submitstartdate} and DATE_ADD(#{submitenddate},INTERVAL 1 DAY)</if>
            <if test="caseStatus != null  and caseStatus != ''"> and case_status = #{caseStatus}</if>
            <if test="updateBy != null  and updateBy != ''"> and cc.update_by = #{updateBy}</if>
        </where>
    </select>


    <select id="SelectConditionsForTheAdjustmentUnder" parameterType="ClaimCase" resultMap="ClaimCaseResult">
        select act.risk_code, act.risk_name, act.risk_nature,
        act.risk_type, act.risk_class, act.risk_status,
        act.synchronize_time, act.examine_conclusion, act.conclusion_explanation,
        act.status, act.create_by, act.create_time, act.update_by, act.update_time
        from (select product.risk_code, product.risk_name, product.risk_nature,
        product.risk_type, product.risk_class, product.risk_status,
        product.synchronize_time, product.examine_conclusion, product.conclusion_explanation,
        product.status, product.create_by, product.create_time, product.update_by, product.update_time
        from claim_product product
        inner join claim_product_task_log log on log.risk_code = product.risk_code
        and log.risk_status ='03' and log.is_history = 'N' and product.status = 'Y' and log.update_by is null) act order by update_time desc
        <where>
            <if test="rptNo != null  and rptNo != ''"> and act.rpt_no = #{rptNo}</if>
            <if test="batchNo != null  and batchNo != ''"> and act.batch_no = #{batchNo}</if>
            <if test="updateBy != null  and updateBy != ''"> and act.update_by = #{updateBy}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>

        </where>
    </select>

    <select id="SelectConditionsForTheAdjustmentOver" parameterType="ClaimCase" resultMap="ClaimCaseResult">
        select act.risk_code, act.risk_name, act.risk_nature,
        act.risk_type, act.risk_class, act.risk_status,
        act.synchronize_time, act.examine_conclusion, act.conclusion_explanation,
        act.status, act.create_by, act.create_time, act.update_by, act.update_time
        from (select product.risk_code, product.risk_name, product.risk_nature,
        product.risk_type, product.risk_class, product.risk_status,
        product.synchronize_time, product.examine_conclusion, product.conclusion_explanation,
        product.status, product.create_by, product.create_time, product.update_by, product.update_time
        from claim_product product
        inner join claim_product_task_log log on log.risk_code = product.risk_code
        and log.risk_status ='03' and log.is_history = 'N' and product.status = 'Y' and log.update_by is null) act order by update_time desc
        <where>
            <if test="rptNo != null  and rptNo != ''"> and act.rpt_no = #{rptNo}</if>
            <if test="batchNo != null  and batchNo != ''"> and act.batch_no = #{batchNo}</if>
            <if test="updateBy != null  and updateBy != ''"> and act.update_by = #{updateBy}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
        </where>
    </select>

    <select id="SelectConditionsForTheAdjustmentHang" parameterType="ClaimCase" resultMap="ClaimCaseResult">
        select act.risk_code, act.risk_name, act.risk_nature,
        act.risk_type, act.risk_class, act.risk_status,
        act.synchronize_time, act.examine_conclusion, act.conclusion_explanation,
        act.status, act.create_by, act.create_time, act.update_by, act.update_time
        from (select product.risk_code, product.risk_name, product.risk_nature,
        product.risk_type, product.risk_class, product.risk_status,
        product.synchronize_time, product.examine_conclusion, product.conclusion_explanation,
        product.status, product.create_by, product.create_time, product.update_by, product.update_time
        from claim_product product
        inner join claim_product_task_log log on log.risk_code = product.risk_code
        and log.risk_status ='03' and log.is_history = 'N' and product.status = 'Y' and log.update_by is null) act order by update_time desc
        <where>
            <if test="rptNo != null  and rptNo != ''"> and act.rpt_no = #{rptNo}</if>
            <if test="batchNo != null  and batchNo != ''"> and act.batch_no = #{batchNo}</if>
            <if test="updateBy != null  and updateBy != ''"> and act.update_by = #{updateBy}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
        </where>
    </select>


</mapper>