<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.ClaimCasePolicyMapper">
    
    <resultMap type="ClaimCasePolicy" id="ClaimCasePolicyResult">
        <result property="relationId"    column="relation_id"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="policyNo"    column="policy_no"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectClaimCasePolicyVo">
        select relation_id, rpt_no, policy_no, status, create_by, create_time, update_by, update_time from claim_case_policy
    </sql>

    <select id="selectClaimCasePolicyList" parameterType="ClaimCasePolicy" resultMap="ClaimCasePolicyResult">
        <include refid="selectClaimCasePolicyVo"/>
        <where>  
            <if test="rptNo != null  and rptNo != ''"> and rpt_no = #{rptNo}</if>
            <if test="policyNo != null  and policyNo != ''"> and policy_no = #{policyNo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimCasePolicyById" parameterType="Long" resultMap="ClaimCasePolicyResult">
        <include refid="selectClaimCasePolicyVo"/>
        where relation_id = #{relationId}
    </select>
        
    <insert id="insertClaimCasePolicy" parameterType="ClaimCasePolicy" useGeneratedKeys="true" keyProperty="relationId">
        insert into claim_case_policy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no,</if>
            <if test="policyNo != null and policyNo != ''">policy_no,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">#{rptNo},</if>
            <if test="policyNo != null and policyNo != ''">#{policyNo},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimCasePolicy" parameterType="ClaimCasePolicy">
        update claim_case_policy
        <trim prefix="SET" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no = #{rptNo},</if>
            <if test="policyNo != null and policyNo != ''">policy_no = #{policyNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where relation_id = #{relationId}
    </update>

    <delete id="deleteClaimCasePolicyById" parameterType="Long">
        delete from claim_case_policy where relation_id = #{relationId}
    </delete>

    <delete id="deleteClaimCasePolicyByIds" parameterType="String">
        delete from claim_case_policy where relation_id in 
        <foreach item="relationId" collection="array" open="(" separator="," close=")">
            #{relationId}
        </foreach>
    </delete>
    
</mapper>