<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.ClaimCaseApplyTypeMapper">
    
    <resultMap type="ClaimCaseApplyType" id="ClaimCaseApplyTypeResult">
        <result property="applyId"    column="apply_id"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="applyType"    column="apply_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectClaimCaseApplyTypeVo">
        select apply_id, rpt_no, apply_type, status, create_by, create_time, update_by, update_time from claim_case_apply_type
    </sql>

    <select id="selectClaimCaseApplyTypeList" parameterType="ClaimCaseApplyType" resultMap="ClaimCaseApplyTypeResult">
        <include refid="selectClaimCaseApplyTypeVo"/>
        <where>  
            <if test="rptNo != null  and rptNo != ''"> and rpt_no = #{rptNo}</if>
            <if test="applyType != null  and applyType != ''"> and apply_type = #{applyType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimCaseApplyTypeById" parameterType="Long" resultMap="ClaimCaseApplyTypeResult">
        <include refid="selectClaimCaseApplyTypeVo"/>
        where apply_id = #{applyId}
    </select>
        
    <insert id="insertClaimCaseApplyType" parameterType="ClaimCaseApplyType" useGeneratedKeys="true" keyProperty="applyId">
        insert into claim_case_apply_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no,</if>
            <if test="applyType != null and applyType != ''">apply_type,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">#{rptNo},</if>
            <if test="applyType != null and applyType != ''">#{applyType},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimCaseApplyType" parameterType="ClaimCaseApplyType">
        update claim_case_apply_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no = #{rptNo},</if>
            <if test="applyType != null and applyType != ''">apply_type = #{applyType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where apply_id = #{applyId}
    </update>

    <delete id="deleteClaimCaseApplyTypeById" parameterType="Long">
        delete from claim_case_apply_type where apply_id = #{applyId}
    </delete>

    <delete id="deleteClaimCaseApplyTypeByIds" parameterType="String">
        delete from claim_case_apply_type where apply_id in 
        <foreach item="applyId" collection="array" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </delete>
    
</mapper>