<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.ClaimCaseBillDiagnosisMapper">
    
    <resultMap type="ClaimCaseBillDiagnosis" id="ClaimCaseBillDiagnosisResult">
        <result property="digId"    column="dig_id"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="billId"    column="bill_id"    />
        <result property="icdCode"    column="icd_code"    />
        <result property="digType"    column="dig_type"    />
        <result property="digOrder"    column="dig_order"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectClaimCaseBillDiagnosisVo">
        select dig_id, rpt_no, bill_id, icd_code, dig_type, dig_order, status, create_by, create_time, update_by, update_time from claim_case_bill_diagnosis
    </sql>

    <select id="selectClaimCaseBillDiagnosisList" parameterType="ClaimCaseBillDiagnosis" resultMap="ClaimCaseBillDiagnosisResult">
        <include refid="selectClaimCaseBillDiagnosisVo"/>
        <where>  
            <if test="rptNo != null  and rptNo != ''"> and rpt_no = #{rptNo}</if>
            <if test="billId != null "> and bill_id = #{billId}</if>
            <if test="icdCode != null  and icdCode != ''"> and icd_code = #{icdCode}</if>
            <if test="digType != null  and digType != ''"> and dig_type = #{digType}</if>
            <if test="digOrder != null "> and dig_order = #{digOrder}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimCaseBillDiagnosisById" parameterType="Long" resultMap="ClaimCaseBillDiagnosisResult">
        <include refid="selectClaimCaseBillDiagnosisVo"/>
        where dig_id = #{digId}
    </select>
        
    <insert id="insertClaimCaseBillDiagnosis" parameterType="ClaimCaseBillDiagnosis" useGeneratedKeys="true" keyProperty="digId">
        insert into claim_case_bill_diagnosis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no,</if>
            <if test="billId != null">bill_id,</if>
            <if test="icdCode != null and icdCode != ''">icd_code,</if>
            <if test="digType != null and digType != ''">dig_type,</if>
            <if test="digOrder != null">dig_order,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">#{rptNo},</if>
            <if test="billId != null">#{billId},</if>
            <if test="icdCode != null and icdCode != ''">#{icdCode},</if>
            <if test="digType != null and digType != ''">#{digType},</if>
            <if test="digOrder != null">#{digOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimCaseBillDiagnosis" parameterType="ClaimCaseBillDiagnosis">
        update claim_case_bill_diagnosis
        <trim prefix="SET" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no = #{rptNo},</if>
            <if test="billId != null">bill_id = #{billId},</if>
            <if test="icdCode != null and icdCode != ''">icd_code = #{icdCode},</if>
            <if test="digType != null and digType != ''">dig_type = #{digType},</if>
            <if test="digOrder != null">dig_order = #{digOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where dig_id = #{digId}
    </update>

    <delete id="deleteClaimCaseBillDiagnosisById" parameterType="Long">
        delete from claim_case_bill_diagnosis where dig_id = #{digId}
    </delete>

    <delete id="deleteClaimCaseBillDiagnosisByIds" parameterType="String">
        delete from claim_case_bill_diagnosis where dig_id in 
        <foreach item="digId" collection="array" open="(" separator="," close=")">
            #{digId}
        </foreach>
    </delete>
    
</mapper>