<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.ClaimCaseBillMapper">
    
    <resultMap type="ClaimCaseBill" id="ClaimCaseBillResult">
        <result property="billId"    column="bill_id"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="hospitalCode"    column="hospital_code"    />
        <result property="department"    column="department"    />
        <result property="isDesHospital"    column="is_des_hospital"    />
        <result property="accType"    column="acc_type"    />
        <result property="billCurrency"    column="bill_currency"    />
        <result property="billAmount"    column="bill_amount"    />
        <result property="visNumber"    column="vis_number"    />
        <result property="treatmentType"    column="treatment_type"    />
        <result property="treatmentStartDate"    column="treatment_start_date"    />
        <result property="treatmentEndDate"    column="treatment_end_date"    />
        <result property="treatmentDays"    column="treatment_Days"    />
        <result property="invoiceNo"    column="invoice_no"    />
        <result property="billNo"    column="bill_no"    />
        <result property="billType"    column="bill_type"    />
        <result property="ssAdvancePayment"    column="ss_advance_payment"    />
        <result property="tpAdvancePayment"    column="tp_advance_payment"    />
        <result property="isShareAp"    column="is_share_ap"    />
        <result property="transSerialNo"    column="trans_serial_no"    />
        <result property="transSerialCopay"    column="trans_Serial_copay"    />
        <result property="copay"    column="copay"    />
        <result property="isShareCopay"    column="is_share_copay"    />
        <result property="hosDiscountAmount"    column="hos_discount_amount"    />
        <result property="isShareDisAmount"    column="is_share_dis_amount"    />
        <result property="selfAmount"    column="self_amount"    />
        <result property="partSelfAmount"    column="part_self_amount"    />
        <result property="unableAmount"    column="unable_amount"    />
        <result property="clinicalDiagnosis"    column="clinical_diagnosis"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectClaimCaseBillVo">
        select bill_id, rpt_no, hospital_code, department, is_des_hospital, acc_type, bill_currency, bill_amount, vis_number, treatment_type, treatment_start_date, treatment_end_date, treatment_Days, invoice_no, bill_no, bill_type, ss_advance_payment, tp_advance_payment, is_share_ap, trans_serial_no, trans_Serial_copay, copay, is_share_copay, hos_discount_amount, is_share_dis_amount, self_amount, part_self_amount, unable_amount, clinical_diagnosis, status, create_by, create_time, update_by, update_time from claim_case_bill
    </sql>

    <select id="selectClaimCaseBillList" parameterType="ClaimCaseBill" resultMap="ClaimCaseBillResult">
        <include refid="selectClaimCaseBillVo"/>
        <where>  
            <if test="rptNo != null  and rptNo != ''"> and rpt_no = #{rptNo}</if>
            <if test="hospitalCode != null  and hospitalCode != ''"> and hospital_code = #{hospitalCode}</if>
            <if test="department != null  and department != ''"> and department = #{department}</if>
            <if test="isDesHospital != null  and isDesHospital != ''"> and is_des_hospital = #{isDesHospital}</if>
            <if test="accType != null  and accType != ''"> and acc_type = #{accType}</if>
            <if test="billCurrency != null  and billCurrency != ''"> and bill_currency = #{billCurrency}</if>
            <if test="billAmount != null "> and bill_amount = #{billAmount}</if>
            <if test="visNumber != null "> and vis_number = #{visNumber}</if>
            <if test="treatmentType != null  and treatmentType != ''"> and treatment_type = #{treatmentType}</if>
            <if test="treatmentStartDate != null "> and treatment_start_date = #{treatmentStartDate}</if>
            <if test="treatmentEndDate != null "> and treatment_end_date = #{treatmentEndDate}</if>
            <if test="treatmentDays != null "> and treatment_Days = #{treatmentDays}</if>
            <if test="invoiceNo != null  and invoiceNo != ''"> and invoice_no = #{invoiceNo}</if>
            <if test="billNo != null  and billNo != ''"> and bill_no = #{billNo}</if>
            <if test="billType != null  and billType != ''"> and bill_type = #{billType}</if>
            <if test="ssAdvancePayment != null "> and ss_advance_payment = #{ssAdvancePayment}</if>
            <if test="tpAdvancePayment != null "> and tp_advance_payment = #{tpAdvancePayment}</if>
            <if test="isShareAp != null  and isShareAp != ''"> and is_share_ap = #{isShareAp}</if>
            <if test="transSerialNo != null  and transSerialNo != ''"> and trans_serial_no = #{transSerialNo}</if>
            <if test="transSerialCopay != null "> and trans_Serial_copay = #{transSerialCopay}</if>
            <if test="copay != null "> and copay = #{copay}</if>
            <if test="isShareCopay != null  and isShareCopay != ''"> and is_share_copay = #{isShareCopay}</if>
            <if test="hosDiscountAmount != null "> and hos_discount_amount = #{hosDiscountAmount}</if>
            <if test="isShareDisAmount != null  and isShareDisAmount != ''"> and is_share_dis_amount = #{isShareDisAmount}</if>
            <if test="selfAmount != null "> and self_amount = #{selfAmount}</if>
            <if test="partSelfAmount != null "> and part_self_amount = #{partSelfAmount}</if>
            <if test="unableAmount != null "> and unable_amount = #{unableAmount}</if>
            <if test="clinicalDiagnosis != null  and clinicalDiagnosis != ''"> and clinical_diagnosis = #{clinicalDiagnosis}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimCaseBillById" parameterType="Long" resultMap="ClaimCaseBillResult">
        <include refid="selectClaimCaseBillVo"/>
        where bill_id = #{billId}
    </select>
        
    <insert id="insertClaimCaseBill" parameterType="ClaimCaseBill" useGeneratedKeys="true" keyProperty="billId">
        insert into claim_case_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no,</if>
            <if test="hospitalCode != null and hospitalCode != ''">hospital_code,</if>
            <if test="department != null">department,</if>
            <if test="isDesHospital != null">is_des_hospital,</if>
            <if test="accType != null">acc_type,</if>
            <if test="billCurrency != null">bill_currency,</if>
            <if test="billAmount != null">bill_amount,</if>
            <if test="visNumber != null">vis_number,</if>
            <if test="treatmentType != null and treatmentType != ''">treatment_type,</if>
            <if test="treatmentStartDate != null">treatment_start_date,</if>
            <if test="treatmentEndDate != null">treatment_end_date,</if>
            <if test="treatmentDays != null">treatment_Days,</if>
            <if test="invoiceNo != null">invoice_no,</if>
            <if test="billNo != null">bill_no,</if>
            <if test="billType != null">bill_type,</if>
            <if test="ssAdvancePayment != null">ss_advance_payment,</if>
            <if test="tpAdvancePayment != null">tp_advance_payment,</if>
            <if test="isShareAp != null and isShareAp != ''">is_share_ap,</if>
            <if test="transSerialNo != null">trans_serial_no,</if>
            <if test="transSerialCopay != null">trans_Serial_copay,</if>
            <if test="copay != null">copay,</if>
            <if test="isShareCopay != null and isShareCopay != ''">is_share_copay,</if>
            <if test="hosDiscountAmount != null">hos_discount_amount,</if>
            <if test="isShareDisAmount != null and isShareDisAmount != ''">is_share_dis_amount,</if>
            <if test="selfAmount != null">self_amount,</if>
            <if test="partSelfAmount != null">part_self_amount,</if>
            <if test="unableAmount != null">unable_amount,</if>
            <if test="clinicalDiagnosis != null">clinical_diagnosis,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">#{rptNo},</if>
            <if test="hospitalCode != null and hospitalCode != ''">#{hospitalCode},</if>
            <if test="department != null">#{department},</if>
            <if test="isDesHospital != null">#{isDesHospital},</if>
            <if test="accType != null">#{accType},</if>
            <if test="billCurrency != null">#{billCurrency},</if>
            <if test="billAmount != null">#{billAmount},</if>
            <if test="visNumber != null">#{visNumber},</if>
            <if test="treatmentType != null and treatmentType != ''">#{treatmentType},</if>
            <if test="treatmentStartDate != null">#{treatmentStartDate},</if>
            <if test="treatmentEndDate != null">#{treatmentEndDate},</if>
            <if test="treatmentDays != null">#{treatmentDays},</if>
            <if test="invoiceNo != null">#{invoiceNo},</if>
            <if test="billNo != null">#{billNo},</if>
            <if test="billType != null">#{billType},</if>
            <if test="ssAdvancePayment != null">#{ssAdvancePayment},</if>
            <if test="tpAdvancePayment != null">#{tpAdvancePayment},</if>
            <if test="isShareAp != null and isShareAp != ''">#{isShareAp},</if>
            <if test="transSerialNo != null">#{transSerialNo},</if>
            <if test="transSerialCopay != null">#{transSerialCopay},</if>
            <if test="copay != null">#{copay},</if>
            <if test="isShareCopay != null and isShareCopay != ''">#{isShareCopay},</if>
            <if test="hosDiscountAmount != null">#{hosDiscountAmount},</if>
            <if test="isShareDisAmount != null and isShareDisAmount != ''">#{isShareDisAmount},</if>
            <if test="selfAmount != null">#{selfAmount},</if>
            <if test="partSelfAmount != null">#{partSelfAmount},</if>
            <if test="unableAmount != null">#{unableAmount},</if>
            <if test="clinicalDiagnosis != null">#{clinicalDiagnosis},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimCaseBill" parameterType="ClaimCaseBill">
        update claim_case_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no = #{rptNo},</if>
            <if test="hospitalCode != null and hospitalCode != ''">hospital_code = #{hospitalCode},</if>
            <if test="department != null">department = #{department},</if>
            <if test="isDesHospital != null">is_des_hospital = #{isDesHospital},</if>
            <if test="accType != null">acc_type = #{accType},</if>
            <if test="billCurrency != null">bill_currency = #{billCurrency},</if>
            <if test="billAmount != null">bill_amount = #{billAmount},</if>
            <if test="visNumber != null">vis_number = #{visNumber},</if>
            <if test="treatmentType != null and treatmentType != ''">treatment_type = #{treatmentType},</if>
            <if test="treatmentStartDate != null">treatment_start_date = #{treatmentStartDate},</if>
            <if test="treatmentEndDate != null">treatment_end_date = #{treatmentEndDate},</if>
            <if test="treatmentDays != null">treatment_Days = #{treatmentDays},</if>
            <if test="invoiceNo != null">invoice_no = #{invoiceNo},</if>
            <if test="billNo != null">bill_no = #{billNo},</if>
            <if test="billType != null">bill_type = #{billType},</if>
            <if test="ssAdvancePayment != null">ss_advance_payment = #{ssAdvancePayment},</if>
            <if test="tpAdvancePayment != null">tp_advance_payment = #{tpAdvancePayment},</if>
            <if test="isShareAp != null and isShareAp != ''">is_share_ap = #{isShareAp},</if>
            <if test="transSerialNo != null">trans_serial_no = #{transSerialNo},</if>
            <if test="transSerialCopay != null">trans_Serial_copay = #{transSerialCopay},</if>
            <if test="copay != null">copay = #{copay},</if>
            <if test="isShareCopay != null and isShareCopay != ''">is_share_copay = #{isShareCopay},</if>
            <if test="hosDiscountAmount != null">hos_discount_amount = #{hosDiscountAmount},</if>
            <if test="isShareDisAmount != null and isShareDisAmount != ''">is_share_dis_amount = #{isShareDisAmount},</if>
            <if test="selfAmount != null">self_amount = #{selfAmount},</if>
            <if test="partSelfAmount != null">part_self_amount = #{partSelfAmount},</if>
            <if test="unableAmount != null">unable_amount = #{unableAmount},</if>
            <if test="clinicalDiagnosis != null">clinical_diagnosis = #{clinicalDiagnosis},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where bill_id = #{billId}
    </update>

    <delete id="deleteClaimCaseBillById" parameterType="Long">
        delete from claim_case_bill where bill_id = #{billId}
    </delete>

    <delete id="deleteClaimCaseBillByIds" parameterType="String">
        delete from claim_case_bill where bill_id in 
        <foreach item="billId" collection="array" open="(" separator="," close=")">
            #{billId}
        </foreach>
    </delete>
    
</mapper>