<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.HmpBenefitRuleMapper">
    
    <resultMap type="HmpBenefitRule" id="HmpBenefitRuleResult">
        <result property="rulecode"    column="rulecode"    />
        <result property="rulename"    column="rulename"    />
        <result property="ruledescription"    column="ruledescription"    />
        <result property="startdate"    column="startdate"    />
        <result property="enddate"    column="enddate"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHmpBenefitRuleVo">
        select rulecode, rulename, ruledescription, startdate, enddate, create_by, create_time, update_by, update_time from hmp_benefit_rule
    </sql>

    <select id="selectHmpBenefitRuleList" parameterType="HmpBenefitRule" resultMap="HmpBenefitRuleResult">
        <include refid="selectHmpBenefitRuleVo"/>
        <where>  
            <if test="rulename != null  and rulename != ''"> and rulename like concat('%', #{rulename}, '%')</if>
            <if test="ruledescription != null  and ruledescription != ''"> and ruledescription = #{ruledescription}</if>
            <if test="startdate != null "> and startdate = #{startdate}</if>
            <if test="enddate != null "> and enddate = #{enddate}</if>
        </where>
    </select>
    
    <select id="selectHmpBenefitRuleById" parameterType="String" resultMap="HmpBenefitRuleResult">
        <include refid="selectHmpBenefitRuleVo"/>
        where rulecode = #{rulecode}
    </select>
        
    <insert id="insertHmpBenefitRule" parameterType="HmpBenefitRule">
        insert into hmp_benefit_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rulecode != null">rulecode,</if>
            <if test="rulename != null">rulename,</if>
            <if test="ruledescription != null">ruledescription,</if>
            <if test="startdate != null">startdate,</if>
            <if test="enddate != null">enddate,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rulecode != null">#{rulecode},</if>
            <if test="rulename != null">#{rulename},</if>
            <if test="ruledescription != null">#{ruledescription},</if>
            <if test="startdate != null">#{startdate},</if>
            <if test="enddate != null">#{enddate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHmpBenefitRule" parameterType="HmpBenefitRule">
        update hmp_benefit_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="rulename != null">rulename = #{rulename},</if>
            <if test="ruledescription != null">ruledescription = #{ruledescription},</if>
            <if test="startdate != null">startdate = #{startdate},</if>
            <if test="enddate != null">enddate = #{enddate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rulecode = #{rulecode}
    </update>

    <delete id="deleteHmpBenefitRuleById" parameterType="String">
        delete from hmp_benefit_rule where rulecode = #{rulecode}
    </delete>

    <delete id="deleteHmpBenefitRuleByIds" parameterType="String">
        delete from hmp_benefit_rule where rulecode in 
        <foreach item="rulecode" collection="array" open="(" separator="," close=")">
            #{rulecode}
        </foreach>
    </delete>
    
</mapper>