<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.HmpBenefitCustomerContactsMapper">
    
    <resultMap type="HmpBenefitCustomerContacts" id="HmpBenefitCustomerContactsResult">
        <result property="customerid"    column="customerid"    />
        <result property="contactscode"    column="contactscode"    />
        <result property="mobilephone"    column="mobilephone"    />
        <result property="telephone"    column="telephone"    />
        <result property="email"    column="email"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="address"    column="address"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHmpBenefitCustomerContactsVo">
        select customerid, contactscode, mobilephone, telephone, email, province, city, district, address, create_by, create_time, update_by, update_time from hmp_benefit_customer_contacts
    </sql>

    <select id="selectHmpBenefitCustomerContactsList" parameterType="HmpBenefitCustomerContacts" resultMap="HmpBenefitCustomerContactsResult">
        <include refid="selectHmpBenefitCustomerContactsVo"/>
        <where>  
            <if test="customerid != null  and customerid != ''"> and customerid = #{customerid}</if>
            <if test="mobilephone != null  and mobilephone != ''"> and mobilephone = #{mobilephone}</if>
            <if test="telephone != null  and telephone != ''"> and telephone = #{telephone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
        </where>
    </select>
    
    <select id="selectHmpBenefitCustomerContactsById" parameterType="String" resultMap="HmpBenefitCustomerContactsResult">
        <include refid="selectHmpBenefitCustomerContactsVo"/>
        where contactscode = #{contactscode}
    </select>
        
    <insert id="insertHmpBenefitCustomerContacts" parameterType="HmpBenefitCustomerContacts">
        insert into hmp_benefit_customer_contacts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerid != null and customerid != ''">customerid,</if>
            <if test="contactscode != null">contactscode,</if>
            <if test="mobilephone != null">mobilephone,</if>
            <if test="telephone != null">telephone,</if>
            <if test="email != null">email,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="district != null">district,</if>
            <if test="address != null">address,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerid != null and customerid != ''">#{customerid},</if>
            <if test="contactscode != null">#{contactscode},</if>
            <if test="mobilephone != null">#{mobilephone},</if>
            <if test="telephone != null">#{telephone},</if>
            <if test="email != null">#{email},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="district != null">#{district},</if>
            <if test="address != null">#{address},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHmpBenefitCustomerContacts" parameterType="HmpBenefitCustomerContacts">
        update hmp_benefit_customer_contacts
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerid != null and customerid != ''">customerid = #{customerid},</if>
            <if test="mobilephone != null">mobilephone = #{mobilephone},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="district != null">district = #{district},</if>
            <if test="address != null">address = #{address},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where contactscode = #{contactscode}
    </update>

    <delete id="deleteHmpBenefitCustomerContactsById" parameterType="String">
        delete from hmp_benefit_customer_contacts where contactscode = #{contactscode}
    </delete>

    <delete id="deleteHmpBenefitCustomerContactsByIds" parameterType="String">
        delete from hmp_benefit_customer_contacts where contactscode in 
        <foreach item="contactscode" collection="array" open="(" separator="," close=")">
            #{contactscode}
        </foreach>
    </delete>
    
</mapper>