<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.HmpServiceOrderResultMapper">

    <!--
        新增实施结果信息
        int insertHmpServiceOrderResult(HmpServiceOrderResult hmpServiceOrderResult);
    -->
    <insert id="insertHmpServiceOrderResult" parameterType="HmpServiceOrderResult">
        INSERT INTO
            Hmp_Service_Order_Result
            ( `resultcode`, `ordercode`, `resultcontent`, `status`, `create_by`, `create_time`, `update_by`, `update_time` )
        VALUES
	    ( #{resultcode}, #{ordercode}, #{resultcontent}, #{status}, #{createby}, #{createtime}, #{updateby}, #{updatetime} );
    </insert>

    <!--
        根据工单查询服务实施结果信息
        HmpServiceOrderResult selectHmpServiceOrderResultByCode(String ordercode);
    -->
    <select id="selectHmpServiceOrderResultByCode" resultType="HmpServiceOrderResult" parameterType="String">
        SELECT
            *
        FROM
            Hmp_Service_Order_Result
        WHERE
            OrderCode = #{ordercode}
    </select>

    <!--
        根据工单编号更新服务实施结果信息
        int updateHmpServiceOrderResult(HmpServiceOrderResult hmpServiceOrderResult);
    -->
    <update id="updateHmpServiceOrderResult" parameterType="HmpServiceOrderResult">
        UPDATE
            Hmp_Service_Order_Result
        SET
            `resultcontent` = #{resultcontent},
            `status` = #{status},
            `update_by` = #{updateby},
            `update_time` = #{updatetime}
        WHERE
            `ordercode` = #{ordercode}
    </update>
</mapper>