<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.system.mapper.HmpServiceOrderAssignMapper">

    <!--
        根据工单编号查询分诊信息
        HmpServiceOrderAssign selectHmpServiceOrderAssignByCode(String ordercode);
    -->
    <select id="selectHmpServiceOrderAssignByCode" resultType="HmpServiceOrderAssign" parameterType="String">
        SELECT
            *
        FROM
            Hmp_Service_Order_Assign
        WHERE
            ordercode = #{ordercode}
    </select>


    <!--
        新增分诊信息
        int insertHmpServiceOrderAssign(HmpServiceOrderAssign hmpServiceOrderAssign);
    -->
    <insert id="insertHmpServiceOrderAssign" parameterType="HmpServiceOrderAssign">
        INSERT
        INTO
            Hmp_Service_Order_Assign
            ( `assigncode`, `ordercode`, `assigntype`, `status`, `alternatefield1`, `create_by`, `create_time`, `update_by`, `update_time` )
        VALUES
	        ( #{assigncode}, #{ordercode}, #{assigntype}, #{status}, #{alternatefield1}, #{createby}, #{createtime}, #{updateby}, #{updatetime} );
    </insert>


    <!--
        修改分诊信息
        int updateHmpServiceOrderAssign(HmpServiceOrderAssign hmpServiceOrderAssign);
    -->
    <update id="updateHmpServiceOrderAssign" parameterType="HmpServiceOrderAssign">
        UPDATE
            Hmp_Service_Order_Assign
        SET
            `assigntype` = #{assigntype},
            `status` = #{status},
            `alternatefield1` = #{alternatefield1},
            `update_by` = #{updateby},
            `update_time` = #{updatetime}
        WHERE
            `ordercode` = #{ordercode}
    </update>
</mapper>