<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.base.mapper.BaseSupplierOutletsMapper">
    
    <resultMap type="com.paic.ehis.base.domain.BaseSupplierOutlets" id="BaseSupplierOutletsResult">
        <result property="serialNo"    column="serial_no"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="websiteCode"    column="website_code"    />
        <result property="websitecType"    column="websitec_type"    />
        <result property="websitecName"    column="websitec_name"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBaseSupplierOutletsVo">
        select serial_no, website_code, websitec_type, websitec_name, remark, status, create_by, create_time, update_by, update_time from base_supplier_outlets
    </sql>

    <select id="selectBaseSupplierOutletsList" parameterType="com.paic.ehis.base.domain.BaseSupplierOutlets" resultMap="BaseSupplierOutletsResult">
        <include refid="selectBaseSupplierOutletsVo"/>
        <where>  
            <if test="websitecType != null  and websitecType != ''"> and websitec_type = #{websitecType}</if>
            <if test="websitecName != null  and websitecName != ''"> and websitec_name like concat('%', #{websitecName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaseSupplierOutletsById" parameterType="String" resultMap="BaseSupplierOutletsResult">
        <include refid="selectBaseSupplierOutletsVo"/>
        where supplier_code = #{supplierCode}
    </select>

        
    <insert id="insertBaseSupplierOutlets" parameterType="com.paic.ehis.base.domain.BaseSupplierOutlets">
        insert into base_supplier_outlets
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">serial_no,</if>
            <if test="supplierCode != null">supplier_code,</if>
            <if test="websiteCode != null">website_code,</if>
            <if test="websitecType != null">websitec_type,</if>
            <if test="websitecName != null">websitec_name,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">#{serialNo},</if>
            <if test="supplierCode != null">#{supplierCode},</if>
            <if test="websiteCode != null">#{websiteCode},</if>
            <if test="websitecType != null">#{websitecType},</if>
            <if test="websitecName != null">#{websitecName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBaseSupplierOutlets" parameterType="com.paic.ehis.base.domain.BaseSupplierOutlets">
        update base_supplier_outlets
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialNo != null">serial_no#{serialNo},</if>
            <if test="websiteCode != null">website_code = #{websiteCode},</if>
            <if test="websitecType != null">websitec_type = #{websitecType},</if>
            <if test="websitecName != null">websitec_name = #{websitecName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where supplier_code = #{supplierCode}
    </update>

    <update id="updateBaseSupplierOutletsStatus" parameterType="String">
        UPDATE base_supplier_outlets
SET STATUS = 'N'
WHERE
	website_code = #{websiteCode} and supplier_code = #{supplierCode}
    </update>

    <delete id="deleteBaseSupplierOutletsById" parameterType="String">
        delete from base_supplier_outlets where serial_no = #{serialNo}
    </delete>

    <delete id="deleteBaseSupplierOutletsByIds" parameterType="String">
        delete from base_supplier_outlets where servcom_no in 
        <foreach item="serialNo" collection="array" open="(" separator="," close=")">
            #{serialNo}
        </foreach>
    </delete>
    
</mapper>