<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.base.mapper.BaseContractServiceMapper">
    
    <resultMap type="com.paic.ehis.base.domain.BaseContractService" id="BaseContractServiceResult">
        <result property="contractNo"    column="contract_no"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="serviceCode"    column="service_code"    />
        <result property="settleType"    column="settle_type"    />
        <result property="minPrice"    column="min_price"    />
        <result property="maxPrice"    column="max_price"    />
        <result property="settleCurrency"    column="settle_currency"    />
        <result property="limitnum"    column="limitnum"    />
        <result property="remak"    column="remak"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBaseContractServiceVo">
        select contract_no, supplier_code, service_code, settle_type, min_price, max_price, settle_currency, limitnum, remak, status, create_by, create_time, update_by, update_time from base_contract_service
    </sql>

    <select id="selectBaseContractServiceList" parameterType="BaseContractService" resultMap="BaseContractServiceResult">
        <include refid="selectBaseContractServiceVo"/>
        <where>  
            <if test="contractNo != null  and contractNo != ''"> and contract_no = #{contractNo}</if>
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="serviceCode != null  and serviceCode != ''"> and service_code = #{serviceCode}</if>
            <if test="settleType != null  and settleType != ''"> and settle_type = #{settleType}</if>
            <if test="minPrice != null "> and min_price = #{minPrice}</if>
            <if test="maxPrice != null "> and max_price = #{maxPrice}</if>
            <if test="settleCurrency != null  and settleCurrency != ''"> and settle_currency = #{settleCurrency}</if>
            <if test="limitnum != null  and limitnum != ''"> and limitnum = #{limitnum}</if>
            <if test="remak != null  and remak != ''"> and remak = #{remak}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaseContractServiceById" parameterType="String" resultMap="BaseContractServiceResult">
        <include refid="selectBaseContractServiceVo"/>
        where contract_no = #{contractNo}
    </select>
        
    <insert id="insertBaseContractService" parameterType="BaseContractService">
        insert into base_contract_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contractNo != null and contractNo != ''">contract_no,</if>
            <if test="supplierCode != null and supplierCode != ''">supplier_code,</if>
            <if test="serviceCode != null and serviceCode != ''">service_code,</if>
            <if test="settleType != null">settle_type,</if>
            <if test="minPrice != null">min_price,</if>
            <if test="maxPrice != null">max_price,</if>
            <if test="settleCurrency != null">settle_currency,</if>
            <if test="limitnum != null">limitnum,</if>
            <if test="remak != null">remak,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contractNo != null and contractNo != ''">#{contractNo},</if>
            <if test="supplierCode != null and supplierCode != ''">#{supplierCode},</if>
            <if test="serviceCode != null and serviceCode != ''">#{serviceCode},</if>
            <if test="settleType != null">#{settleType},</if>
            <if test="minPrice != null">#{minPrice},</if>
            <if test="maxPrice != null">#{maxPrice},</if>
            <if test="settleCurrency != null">#{settleCurrency},</if>
            <if test="limitnum != null">#{limitnum},</if>
            <if test="remak != null">#{remak},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBaseContractService" parameterType="BaseContractService">
        update base_contract_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierCode != null and supplierCode != ''">supplier_code = #{supplierCode},</if>
            <if test="serviceCode != null and serviceCode != ''">service_code = #{serviceCode},</if>
            <if test="settleType != null">settle_type = #{settleType},</if>
            <if test="minPrice != null">min_price = #{minPrice},</if>
            <if test="maxPrice != null">max_price = #{maxPrice},</if>
            <if test="settleCurrency != null">settle_currency = #{settleCurrency},</if>
            <if test="limitnum != null">limitnum = #{limitnum},</if>
            <if test="remak != null">remak = #{remak},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where contract_no = #{contractNo}
    </update>

    <delete id="deleteBaseContractServiceById" parameterType="String">
        delete from base_contract_service where contract_no = #{contractNo}
    </delete>

    <delete id="deleteBaseContractServiceByIds" parameterType="String">
        delete from base_contract_service where contract_no in 
        <foreach item="contractNo" collection="array" open="(" separator="," close=")">
            #{contractNo}
        </foreach>
    </delete>
    
</mapper>