<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.base.mapper.BaseProviderInfoMapper">

    <resultMap type="BaseProviderInfo" id="BaseProviderInfoResult">
        <result property="providerCode"    column="provider_code"    />
        <result property="interHosp"    column="inter_hosp"    />
        <result property="virtualOrg"    column="virtual_org"    />
        <result property="chname1"    column="chname1"    />
        <result property="enname1"    column="enname1"    />
        <result property="otherName"    column="other_name"    />
        <result property="chregister"    column="chregister"    />
        <result property="enregister"    column="enregister"    />
        <result property="website"    column="website"    />
        <result property="continent"    column="continent"    />
        <result property="country"    column="country"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="chaddreess"    column="chaddreess"    />
        <result property="enaddress"    column="enaddress"    />
        <result property="firstAttribute"    column="first_attribute"    />
        <result property="secondAttribute"    column="second_attribute"    />
        <result property="phone"    column="phone"    />
        <result property="type"    column="type"    />
        <result property="usedname"    column="usedname"    />
        <result property="consultphone"    column="consultphone"    />
        <result property="email"    column="email"    />
        <result property="zipcode"    column="zipcode"    />
        <result property="portraiture"    column="portraiture"    />
        <result property="beds"    column="beds"    />
        <result property="international"    column="international"    />
        <result property="topten"    column="topten"    />
        <result property="specializedHospital"    column="specialized_hospital"    />
        <result property="topthird"    column="topthird"    />
        <result property="appointHospital"    column="appoint_hospital"    />
        <result property="topfive"    column="topfive"    />
        <result property="armyhosptial"    column="armyhosptial"    />
        <result property="inhosptial"    column="inhosptial"    />
        <result property="special"    column="special"    />
        <result property="flag"    column="flag"    />
        <result property="rehabilitationHospital"    column="rehabilitation_hospital"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="landmarks"    column="landmarks"    />
        <result property="carpark"    column="carpark"    />
        <result property="transitroute"    column="transitroute"    />
        <result property="introduction"    column="introduction"    />
        <result property="chremarks"    column="chremarks"    />
        <result property="enremarks"    column="enremarks"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="addressdetail"    column="addressdetail"    />
        <result property="typeName"    column="typeName"    />
        <result property="statusName"    column="statusName"    />
        <result property="claimHospitalName"    column="claim_hospital_name"    />
        <result property="claimHospitalCode"    column="claim_hospital_code"    />
    </resultMap>

    <sql id="selectBaseProviderInfoVo">
        select provider_code, inter_hosp, virtual_org, chname1, enname1, other_name,claim_hospital_code,claim_hospital_name, chregister, enregister, website, continent, country, province, city, district, chaddreess, enaddress, first_attribute, second_attribute, phone, type, usedname, consultphone, email, zipcode, portraiture, beds, international, topten, specialized_hospital, topthird, appoint_hospital, topfive, armyhosptial, inhosptial, special, flag, rehabilitation_hospital, longitude, latitude, landmarks, carpark, transitroute, introduction, chremarks, enremarks, status, create_by, create_time, update_by, update_time,concat_ws('-',(SELECT DISTINCT
				placename from sn_base_address
			WHERE
				placecode = base_provider_info.province ),(SELECT DISTINCT
				placename from sn_base_address
			WHERE
				placecode = base_provider_info.city ),(SELECT DISTINCT
				placename from sn_base_address
			WHERE
				placecode = base_provider_info.district ))  addressdetail,
	    (SELECT DISTINCT
				label from sn_base_dict_detail
			WHERE
				dict_id = '19' and value = base_provider_info.status)  statusName,
		(SELECT DISTINCT
				label from sn_base_dict_detail
			WHERE
				dict_id = '19' and value = base_provider_info.status)  typeName
				 from base_provider_info
    </sql>

    <select id="selectBaseProviderInfoList" parameterType="BaseProviderInfo" resultMap="BaseProviderInfoResult">
        <include refid="selectBaseProviderInfoVo"/>
        <where>
            <if test="interHosp != null  and interHosp != ''"> and inter_hosp = #{interHosp}</if>
            <if test="virtualOrg != null  and virtualOrg != ''"> and virtual_org = #{virtualOrg}</if>
            <if test="chname1 != null  and chname1 != ''"> and chname1 = #{chname1}</if>
            <if test="enname1 != null  and enname1 != ''"> and enname1 = #{enname1}</if>
            <if test="otherName != null  and otherName != ''"> and other_name like concat('%', #{otherName}, '%')</if>
            <if test="chregister != null  and chregister != ''"> and chregister = #{chregister}</if>
            <if test="enregister != null  and enregister != ''"> and enregister = #{enregister}</if>
            <if test="website != null  and website != ''"> and website = #{website}</if>
            <if test="continent != null  and continent != ''"> and continent = #{continent}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="chaddreess != null  and chaddreess != ''"> and chaddreess = #{chaddreess}</if>
            <if test="enaddress != null  and enaddress != ''"> and enaddress = #{enaddress}</if>
            <if test="firstAttribute != null  and firstAttribute != ''"> and first_attribute = #{firstAttribute}</if>
            <if test="secondAttribute != null  and secondAttribute != ''"> and second_attribute = #{secondAttribute}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="usedname != null  and usedname != ''"> and usedname like concat('%', #{usedname}, '%')</if>
            <if test="consultphone != null  and consultphone != ''"> and consultphone = #{consultphone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="zipcode != null  and zipcode != ''"> and zipcode = #{zipcode}</if>
            <if test="portraiture != null  and portraiture != ''"> and portraiture = #{portraiture}</if>
            <if test="beds != null  and beds != ''"> and beds = #{beds}</if>
            <if test="international != null  and international != ''"> and international = #{international}</if>
            <if test="topten != null  and topten != ''"> and topten = #{topten}</if>
            <if test="specializedHospital != null  and specializedHospital != ''"> and specialized_hospital = #{specializedHospital}</if>
            <if test="topthird != null  and topthird != ''"> and topthird = #{topthird}</if>
            <if test="appointHospital != null  and appointHospital != ''"> and appoint_hospital = #{appointHospital}</if>
            <if test="topfive != null  and topfive != ''"> and topfive = #{topfive}</if>
            <if test="armyhosptial != null  and armyhosptial != ''"> and armyhosptial = #{armyhosptial}</if>
            <if test="inhosptial != null  and inhosptial != ''"> and inhosptial = #{inhosptial}</if>
            <if test="special != null  and special != ''"> and special = #{special}</if>
            <if test="flag != null  and flag != ''"> and flag = #{flag}</if>
            <if test="rehabilitationHospital != null  and rehabilitationHospital != ''"> and rehabilitation_hospital = #{rehabilitationHospital}</if>
            <if test="longitude != null  and longitude != ''"> and longitude = #{longitude}</if>
            <if test="latitude != null  and latitude != ''"> and latitude = #{latitude}</if>
            <if test="landmarks != null  and landmarks != ''"> and landmarks = #{landmarks}</if>
            <if test="carpark != null  and carpark != ''"> and carpark = #{carpark}</if>
            <if test="transitroute != null  and transitroute != ''"> and transitroute = #{transitroute}</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
            <if test="chremarks != null  and chremarks != ''"> and chremarks = #{chremarks}</if>
            <if test="enremarks != null  and enremarks != ''"> and enremarks = #{enremarks}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectprovince" resultType="com.paic.ehis.base.domain.vo.AddressInfo">
        select placecode,placename from sn_base_address where placetype = '01'
    </select>


    <select id="selectcity" parameterType="string" resultType="com.paic.ehis.base.domain.vo.AddressInfo">
        select placecode,placename from sn_base_address where upplacename = #{upplacename}
    </select>

    <select id="selectAllByPlacetype" parameterType="string" resultType="com.paic.ehis.base.domain.vo.Sn_base_addressDO">
        select placetype, placecode, placename, upplacename from sn_base_address
    where placetype = #{placetype,jdbcType=VARCHAR}
    </select>


    <select id="selectBaseProviderInfoById" parameterType="String" resultMap="BaseProviderInfoResult">
        <include refid="selectBaseProviderInfoVo"/>
        where provider_code = #{providerCode}
    </select>

    <select id="selectBaseProviderInfo" parameterType="BaseProviderInfo" resultMap="BaseProviderInfoResult">
        <include refid="selectBaseProviderInfoVo"/>
        <where>
            <if test="otherName != null  and otherName != ''"> and other_name = #{otherName}</if>
            <if test="chregister != null  and chregister != ''"> and chregister = #{chregister}</if>
            <if test="enregister != null  and enregister != ''"> and enregister = #{enregister}</if>
            <if test="usedname != null  and usedname != ''"> and usedname = #{usedname}</if>
            <if test="claimHospitalName != null  and claimHospitalName != ''"> and claim_hospital_name = #{claimHospitalName}</if>
        </where>
    </select>

    <insert id="insertBaseProviderInfo" parameterType="BaseProviderInfo">
        insert into base_provider_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="providerCode != null">provider_code,</if>
            <if test="interHosp != null and interHosp != ''">inter_hosp,</if>
            <if test="virtualOrg != null">virtual_org,</if>
            <if test="chname1 != null">chname1,</if>
            <if test="enname1 != null">enname1,</if>
            <if test="otherName != null and otherName != ''">other_name,</if>
            <if test="chregister != null">chregister,</if>
            <if test="enregister != null">enregister,</if>
            <if test="website != null">website,</if>
            <if test="continent != null">continent,</if>
            <if test="country != null">country,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="district != null">district,</if>
            <if test="chaddreess != null and chaddreess != ''">chaddreess,</if>
            <if test="enaddress != null and enaddress != ''">enaddress,</if>
            <if test="firstAttribute != null">first_attribute,</if>
            <if test="secondAttribute != null">second_attribute,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="usedname != null and usedname != ''">usedname,</if>
            <if test="consultphone != null and consultphone != ''">consultphone,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="zipcode != null">zipcode,</if>
            <if test="portraiture != null">portraiture,</if>
            <if test="beds != null and beds != ''">beds,</if>
            <if test="international != null and international != ''">international,</if>
            <if test="topten != null">topten,</if>
            <if test="specializedHospital != null">specialized_hospital,</if>
            <if test="topthird != null">topthird,</if>
            <if test="appointHospital != null and appointHospital != ''">appoint_hospital,</if>
            <if test="topfive != null and topfive != ''">topfive,</if>
            <if test="armyhosptial != null">armyhosptial,</if>
            <if test="inhosptial != null and inhosptial != ''">inhosptial,</if>
            <if test="special != null">special,</if>
            <if test="flag != null">flag,</if>
            <if test="rehabilitationHospital != null">rehabilitation_hospital,</if>
            <if test="longitude != null and longitude != ''">longitude,</if>
            <if test="latitude != null and latitude != ''">latitude,</if>
            <if test="landmarks != null and landmarks != ''">landmarks,</if>
            <if test="carpark != null and carpark != ''">carpark,</if>
            <if test="transitroute != null and transitroute != ''">transitroute,</if>
            <if test="introduction != null and introduction != ''">introduction,</if>
            <if test="chremarks != null">chremarks,</if>
            <if test="enremarks != null">enremarks,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="providerCode != null">#{providerCode},</if>
            <if test="interHosp != null and interHosp != ''">#{interHosp},</if>
            <if test="virtualOrg != null">#{virtualOrg},</if>
            <if test="chname1 != null">#{chname1},</if>
            <if test="enname1 != null">#{enname1},</if>
            <if test="otherName != null and otherName != ''">#{otherName},</if>
            <if test="chregister != null">#{chregister},</if>
            <if test="enregister != null">#{enregister},</if>
            <if test="website != null">#{website},</if>
            <if test="continent != null">#{continent},</if>
            <if test="country != null">#{country},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="district != null">#{district},</if>
            <if test="chaddreess != null and chaddreess != ''">#{chaddreess},</if>
            <if test="enaddress != null and enaddress != ''">#{enaddress},</if>
            <if test="firstAttribute != null">#{firstAttribute},</if>
            <if test="secondAttribute != null">#{secondAttribute},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="usedname != null and usedname != ''">#{usedname},</if>
            <if test="consultphone != null and consultphone != ''">#{consultphone},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="zipcode != null">#{zipcode},</if>
            <if test="portraiture != null">#{portraiture},</if>
            <if test="beds != null and beds != ''">#{beds},</if>
            <if test="international != null and international != ''">#{international},</if>
            <if test="topten != null">#{topten},</if>
            <if test="specializedHospital != null">#{specializedHospital},</if>
            <if test="topthird != null">#{topthird},</if>
            <if test="appointHospital != null and appointHospital != ''">#{appointHospital},</if>
            <if test="topfive != null and topfive != ''">#{topfive},</if>
            <if test="armyhosptial != null">#{armyhosptial},</if>
            <if test="inhosptial != null and inhosptial != ''">#{inhosptial},</if>
            <if test="special != null">#{special},</if>
            <if test="flag != null">#{flag},</if>
            <if test="rehabilitationHospital != null">#{rehabilitationHospital},</if>
            <if test="longitude != null and longitude != ''">#{longitude},</if>
            <if test="latitude != null and latitude != ''">#{latitude},</if>
            <if test="landmarks != null and landmarks != ''">#{landmarks},</if>
            <if test="carpark != null and carpark != ''">#{carpark},</if>
            <if test="transitroute != null and transitroute != ''">#{transitroute},</if>
            <if test="introduction != null and introduction != ''">#{introduction},</if>
            <if test="chremarks != null">#{chremarks},</if>
            <if test="enremarks != null">#{enremarks},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateBaseProviderInfo" parameterType="BaseProviderInfo">
        update base_provider_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="interHosp != null and interHosp != ''">inter_hosp = #{interHosp},</if>
            <if test="virtualOrg != null">virtual_org = #{virtualOrg},</if>
            <if test="chname1 != null">chname1 = #{chname1},</if>
            <if test="enname1 != null">enname1 = #{enname1},</if>
            <if test="otherName != null and otherName != ''">other_name = #{otherName},</if>
            <if test="chregister != null">chregister = #{chregister},</if>
            <if test="enregister != null">enregister = #{enregister},</if>
            <if test="website != null">website = #{website},</if>
            <if test="continent != null">continent = #{continent},</if>
            <if test="country != null">country = #{country},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="district != null">district = #{district},</if>
            <if test="chaddreess != null and chaddreess != ''">chaddreess = #{chaddreess},</if>
            <if test="enaddress != null and enaddress != ''">enaddress = #{enaddress},</if>
            <if test="firstAttribute != null">first_attribute = #{firstAttribute},</if>
            <if test="secondAttribute != null">second_attribute = #{secondAttribute},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="usedname != null and usedname != ''">usedname = #{usedname},</if>
            <if test="consultphone != null and consultphone != ''">consultphone = #{consultphone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="zipcode != null">zipcode = #{zipcode},</if>
            <if test="portraiture != null">portraiture = #{portraiture},</if>
            <if test="beds != null and beds != ''">beds = #{beds},</if>
            <if test="international != null and international != ''">international = #{international},</if>
            <if test="topten != null">topten = #{topten},</if>
            <if test="specializedHospital != null">specialized_hospital = #{specializedHospital},</if>
            <if test="topthird != null">topthird = #{topthird},</if>
            <if test="appointHospital != null and appointHospital != ''">appoint_hospital = #{appointHospital},</if>
            <if test="topfive != null and topfive != ''">topfive = #{topfive},</if>
            <if test="armyhosptial != null">armyhosptial = #{armyhosptial},</if>
            <if test="inhosptial != null and inhosptial != ''">inhosptial = #{inhosptial},</if>
            <if test="special != null">special = #{special},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="rehabilitationHospital != null">rehabilitation_hospital = #{rehabilitationHospital},</if>
            <if test="longitude != null and longitude != ''">longitude = #{longitude},</if>
            <if test="latitude != null and latitude != ''">latitude = #{latitude},</if>
            <if test="landmarks != null and landmarks != ''">landmarks = #{landmarks},</if>
            <if test="carpark != null and carpark != ''">carpark = #{carpark},</if>
            <if test="transitroute != null and transitroute != ''">transitroute = #{transitroute},</if>
            <if test="introduction != null and introduction != ''">introduction = #{introduction},</if>
            <if test="chremarks != null">chremarks = #{chremarks},</if>
            <if test="enremarks != null">enremarks = #{enremarks},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where provider_code = #{providerCode}
    </update>

    <delete id="deleteBaseProviderInfoById" parameterType="String">
        delete from base_provider_info where provider_code = #{providerCode}
    </delete>

    <delete id="deleteBaseProviderInfoByIds" parameterType="String">
        delete from base_provider_info where provider_code in
        <foreach item="providerCode" collection="array" open="(" separator="," close=")">
            #{providerCode}
        </foreach>
    </delete>
    
</mapper>