<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.base.mapper.BaseSupplierInfoMapper">
    
    <resultMap type="com.paic.ehis.base.domain.BaseSupplierInfo" id="BaseSupplierInfoResult">
        <result property="serialNo"    column="serial_no"    />
        <result property="bussinessStatus"    column="bussiness_status"    />
        <result property="chname"    column="chname"    />
        <result property="enname"    column="enname"    />
        <result property="servcomType"    column="servcom_type"    />
        <result property="continent"    column="continent"    />
        <result property="country"    column="country"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="detailedAddress"    column="detailed_address"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="addressdetail"    column="addressdetail"    />
    </resultMap>

    <sql id="selectBaseSupplierInfoVo">
        select serial_no, bussiness_status,chname, enname, servcom_type, continent, country, province, city, district, detailed_address, remark, status, create_by, create_time, update_by, update_time,concat_ws('-',(SELECT DISTINCT
   placename from sn_base_address
WHERE
   placecode = base_supplier_info.province ),(SELECT DISTINCT
   placename from sn_base_address
WHERE
   placecode = base_supplier_info.city ),(SELECT DISTINCT
   placename from sn_base_address
WHERE
   placecode = base_supplier_info.district ))  addressdetail
FROM
	base_supplier_info
    </sql>

    <select id="selectBaseSupplierInfoList" parameterType="com.paic.ehis.base.domain.BaseSupplierInfo" resultMap="BaseSupplierInfoResult">
        <include refid="selectBaseSupplierInfoVo"/>
        <where>
            <if test="serialNo != null  and serialNo != ''"> and serial_no = #{serialNo}</if>
           <!-- <if test="bussinessStatus != null  and bussinessStatus != ''"> and bussiness_status = #{bussinessStatus}</if>-->
            <if test="chname != null  and chname != '' "> and (chname like concat('%', #{chname}, '%') or enname like concat('%', #{chname}, '%'))</if>
            <if test="servcomType != null  and servcomType != ''"> and servcom_type = #{servcomType}</if>
            <if test="continent != null  and continent != ''"> and continent = #{continent}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="detailedAddress != null  and detailedAddress != ''"> and detailed_address = #{detailedAddress}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <choose>
                <when test="bussinessStatus != null  and bussinessStatus != ''">
                    and bussiness_status = #{bussinessStatus}
                </when>
                <otherwise>
                    and bussiness_status='01'
                </otherwise>
            </choose>
            <if test="dBefore1 != null   and dNow1 != null ">
             and(create_time between  #{dBefore1} and  #{dNow1})</if>
             and status='Y'
        </where>
    </select>

    <select id="selectBaseSupplierInfoList2" parameterType="com.paic.ehis.base.domain.BaseSupplierInfo" resultMap="BaseSupplierInfoResult">
        <include refid="selectBaseSupplierInfoVo"/>
        <where>
            <if test="serialNo != null  and serialNo != ''"> and serial_no = #{serialNo}</if>
            <!-- <if test="bussinessStatus != null  and bussinessStatus != ''"> and bussiness_status = #{bussinessStatus}</if>-->
            <if test="chname != null  and chname != '' "> and (chname like concat('%', #{chname}, '%') or enname like concat('%', #{chname}, '%'))</if>
            <if test="servcomType != null  and servcomType != ''"> and servcom_type = #{servcomType}</if>
            <if test="continent != null  and continent != ''"> and continent = #{continent}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="detailedAddress != null  and detailedAddress != ''"> and detailed_address = #{detailedAddress}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <choose>
                <when test="bussinessStatus != null  and bussinessStatus != ''">
                    and bussiness_status = #{bussinessStatus}
                </when>
                <otherwise>
                    and bussiness_status='01'
                </otherwise>
            </choose>
           and status='Y'
        </where>
    </select>

    <select id="selectBaseSupplierInfoList1" parameterType="com.paic.ehis.base.domain.BaseSupplierInfo" resultMap="BaseSupplierInfoResult">
        <include refid="selectBaseSupplierInfoVo"/>
        <where>
             <if test="chname != null  and chname != ''"> and chname=#{chname} </if>
            <if test="enname != null  and enname != ''"> and enname=#{enname}</if>
        </where>
    </select>
    
    <select id="selectBaseSupplierInfoById" parameterType="String" resultMap="BaseSupplierInfoResult">
        <include refid="selectBaseSupplierInfoVo"/>
        where serial_no = #{serialNo}
    </select>
        
    <insert id="insertBaseSupplierInfo" parameterType="com.paic.ehis.base.domain.BaseSupplierInfo">
        insert into base_supplier_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">serial_no,</if>
            <if test="bussinessStatus != null  and bussinessStatus != ''">bussiness_status,</if>
            <if test="chname != null">chname,</if>
            <if test="enname != null">enname,</if>
            <if test="servcomType != null">servcom_type,</if>
            <if test="continent != null">continent,</if>
            <if test="country != null">country,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="district != null">district,</if>
            <if test="detailedAddress != null">detailed_address,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">#{serialNo},</if>
            <if test="bussinessStatus != null  and bussinessStatus != ''">#{bussinessStatus},</if>
            <if test="chname != null">#{chname},</if>
            <if test="enname != null">#{enname},</if>
            <if test="servcomType != null">#{servcomType},</if>
            <if test="continent != null">#{continent},</if>
            <if test="country != null">#{country},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="district != null">#{district},</if>
            <if test="detailedAddress != null">#{detailedAddress},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBaseSupplierInfo" parameterType="com.paic.ehis.base.domain.BaseSupplierInfo">
        update base_supplier_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="bussinessStatus != null  and bussinessStatus != ''">bussiness_status = #{bussinessStatus},</if>
            <if test="chname != null">chname = #{chname},</if>
            <if test="enname != null">enname = #{enname},</if>
            <if test="servcomType != null">servcom_type = #{servcomType},</if>
            <if test="continent != null">continent = #{continent},</if>
            <if test="country != null">country = #{country},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="district != null">district = #{district},</if>
            <if test="detailedAddress != null">detailed_address = #{detailedAddress},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where serial_no = #{serialNo}
    </update>
    <update id="updatebaseSupplierInfoStatus" parameterType="String">
        update base_supplier_info set status = 'N'
        where status='Y'and serial_no = #{serialNo}
    </update>

    <delete id="deleteBaseSupplierInfoById" parameterType="String">
        delete from base_supplier_info where serial_no = #{serialNo}
    </delete>

    <delete id="deleteBaseSupplierInfoByIds" parameterType="String">
        delete from base_supplier_info where servcom_no in 
        <foreach item="serialNo" collection="array" open="(" separator="," close=")">
            #{serialNo}
        </foreach>
    </delete>
    
</mapper>