<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.base.mapper.BaseContractAnnexMapper">
    <resultMap type="com.paic.ehis.base.domain.BaseContractAnnex" id="BaseContractAnnexResult">
        <result property="contractNo"    column="contract_no"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="annexName"    column="annex_name"    />
        <result property="annexType"    column="annex_type"    />
        <result property="uploadMan"    column="upload_man"    />
        <result property="uploadTime"    column="upload_time"    />
        <result property="remak"    column="remak"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBaseContractAnnexVo">
        select contract_no, supplier_code, annex_name, annex_type, upload_man, upload_time, remak, status, create_by, create_time, update_by, update_time from base_contract_annex
    </sql>

    <select id="selectBaseContractAnnexList" parameterType="BaseContractAnnex" resultMap="BaseContractAnnexResult">
        <include refid="selectBaseContractAnnexVo"/>
        <where>  
            <if test="contractNo != null  and contractNo != ''"> and contract_no = #{contractNo}</if>
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="annexName != null  and annexName != ''"> and annex_name like concat('%', #{annexName}, '%')</if>
            <if test="annexType != null  and annexType != ''"> and annex_type = #{annexType}</if>
            <if test="uploadMan != null  and uploadMan != ''"> and upload_man = #{uploadMan}</if>
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
            <if test="remak != null  and remak != ''"> and remak = #{remak}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaseContractAnnexById" parameterType="String" resultMap="BaseContractAnnexResult">
        <include refid="selectBaseContractAnnexVo"/>
        where contract_no = #{contractNo}
    </select>
        
    <insert id="insertBaseContractAnnex" parameterType="BaseContractAnnex">
        insert into base_contract_annex
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contractNo != null and contractNo != ''">contract_no,</if>
            <if test="supplierCode != null and supplierCode != ''">supplier_code,</if>
            <if test="annexName != null and annexName != ''">annex_name,</if>
            <if test="annexType != null">annex_type,</if>
            <if test="uploadMan != null">upload_man,</if>
            <if test="uploadTime != null">upload_time,</if>
            <if test="remak != null">remak,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contractNo != null and contractNo != ''">#{contractNo},</if>
            <if test="supplierCode != null and supplierCode != ''">#{supplierCode},</if>
            <if test="annexName != null and annexName != ''">#{annexName},</if>
            <if test="annexType != null">#{annexType},</if>
            <if test="uploadMan != null">#{uploadMan},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
            <if test="remak != null">#{remak},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBaseContractAnnex" parameterType="BaseContractAnnex">
        update base_contract_annex
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierCode != null and supplierCode != ''">supplier_code = #{supplierCode},</if>
            <if test="annexName != null and annexName != ''">annex_name = #{annexName},</if>
            <if test="annexType != null">annex_type = #{annexType},</if>
            <if test="uploadMan != null">upload_man = #{uploadMan},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
            <if test="remak != null">remak = #{remak},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where contract_no = #{contractNo}
    </update>

    <delete id="deleteBaseContractAnnexById" parameterType="String">
        delete from base_contract_annex where contract_no = #{contractNo}
    </delete>

    <delete id="deleteBaseContractAnnexByIds" parameterType="String">
        delete from base_contract_annex where contract_no in 
        <foreach item="contractNo" collection="array" open="(" separator="," close=")">
            #{contractNo}
        </foreach>
    </delete>
    
</mapper>