<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.base.mapper.BaseProviderDepMapper">

    <resultMap type="BaseProviderDep" id="BaseProviderDepResult">
        <result property="id"    column="id"    />
        <result property="providerCode"    column="provider_code"    />
        <result property="visitingType"    column="visiting_type"    />
        <result property="firstDept"    column="first_dept"    />
        <result property="secondDept"    column="second_dept"    />
        <result property="visitingFloor"    column="visiting_floor"    />
        <result property="charactdeptFlag"    column="charactdept_flag"    />
        <result property="straightknotFlag"    column="straightknot_flag"    />
        <result property="cartevitalFlag"    column="cartevital_flag"    />
        <result property="spprocurementFlag"    column="spprocurement_flag"    />
        <result property="callstarttime"    column="callstarttime"    />
        <result property="callendtime"    column="callendtime"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectBaseProviderDepVo">
        select id, provider_code, visiting_type, first_dept, second_dept, visiting_floor, charactdept_flag, straightknot_flag, cartevital_flag, spprocurement_flag, callstarttime, callendtime, create_by, create_time, update_by, update_time, status from base_provider_dep
    </sql>

    <select id="selectBaseProviderDepList" parameterType="BaseProviderDep" resultMap="BaseProviderDepResult">
        <include refid="selectBaseProviderDepVo"/>
        <where>
            <if test="providerCode != null  and providerCode != ''"> and provider_code = #{providerCode}</if>
            <if test="visitingType != null  and visitingType != ''"> and visiting_type = #{visitingType}</if>
            <if test="firstDept != null  and firstDept != ''"> and first_dept = #{firstDept}</if>
            <if test="secondDept != null  and secondDept != ''"> and second_dept = #{secondDept}</if>
            <if test="visitingFloor != null  and visitingFloor != ''"> and visiting_floor = #{visitingFloor}</if>
            <if test="charactdeptFlag != null  and charactdeptFlag != ''"> and charactdept_flag = #{charactdeptFlag}</if>
            <if test="straightknotFlag != null  and straightknotFlag != ''"> and straightknot_flag = #{straightknotFlag}</if>
            <if test="cartevitalFlag != null  and cartevitalFlag != ''"> and cartevital_flag = #{cartevitalFlag}</if>
            <if test="spprocurementFlag != null  and spprocurementFlag != ''"> and spprocurement_flag = #{spprocurementFlag}</if>
            <if test="callstarttime != null "> and callstarttime = #{callstarttime}</if>
            <if test="callendtime != null "> and callendtime = #{callendtime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectBaseProviderDepById" parameterType="String" resultMap="BaseProviderDepResult">
        <include refid="selectBaseProviderDepVo"/>
        where id = #{id}
    </select>

    <insert id="insertBaseProviderDep" parameterType="BaseProviderDep">
        insert into base_provider_dep
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="providerCode != null and providerCode != ''">provider_code,</if>
            <if test="visitingType != null">visiting_type,</if>
            <if test="firstDept != null and firstDept != ''">first_dept,</if>
            <if test="secondDept != null">second_dept,</if>
            <if test="visitingFloor != null">visiting_floor,</if>
            <if test="charactdeptFlag != null">charactdept_flag,</if>
            <if test="straightknotFlag != null">straightknot_flag,</if>
            <if test="cartevitalFlag != null and cartevitalFlag != ''">cartevital_flag,</if>
            <if test="spprocurementFlag != null and spprocurementFlag != ''">spprocurement_flag,</if>
            <if test="callstarttime != null">callstarttime,</if>
            <if test="callendtime != null">callendtime,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="providerCode != null and providerCode != ''">#{providerCode},</if>
            <if test="visitingType != null">#{visitingType},</if>
            <if test="firstDept != null and firstDept != ''">#{firstDept},</if>
            <if test="secondDept != null">#{secondDept},</if>
            <if test="visitingFloor != null">#{visitingFloor},</if>
            <if test="charactdeptFlag != null">#{charactdeptFlag},</if>
            <if test="straightknotFlag != null">#{straightknotFlag},</if>
            <if test="cartevitalFlag != null and cartevitalFlag != ''">#{cartevitalFlag},</if>
            <if test="spprocurementFlag != null and spprocurementFlag != ''">#{spprocurementFlag},</if>
            <if test="callstarttime != null">#{callstarttime},</if>
            <if test="callendtime != null">#{callendtime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateBaseProviderDep" parameterType="BaseProviderDep">
        update base_provider_dep
        <trim prefix="SET" suffixOverrides=",">
            <if test="providerCode != null and providerCode != ''">provider_code = #{providerCode},</if>
            <if test="visitingType != null">visiting_type = #{visitingType},</if>
            <if test="firstDept != null and firstDept != ''">first_dept = #{firstDept},</if>
            <if test="secondDept != null">second_dept = #{secondDept},</if>
            <if test="visitingFloor != null">visiting_floor = #{visitingFloor},</if>
            <if test="charactdeptFlag != null">charactdept_flag = #{charactdeptFlag},</if>
            <if test="straightknotFlag != null">straightknot_flag = #{straightknotFlag},</if>
            <if test="cartevitalFlag != null and cartevitalFlag != ''">cartevital_flag = #{cartevitalFlag},</if>
            <if test="spprocurementFlag != null and spprocurementFlag != ''">spprocurement_flag = #{spprocurementFlag},</if>
            <if test="callstarttime != null">callstarttime = #{callstarttime},</if>
            <if test="callendtime != null">callendtime = #{callendtime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseProviderDepById" parameterType="String">
        delete from base_provider_dep where id = #{id}
    </delete>

    <delete id="deleteBaseProviderDepByIds" parameterType="String">
        delete from base_provider_dep where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectBaseProviderDepByCode" parameterType="String" resultMap="BaseProviderDepResult">
        <include refid="selectBaseProviderDepVo"/>
        where provider_code = #{providerCode}
    </select>

    <delete id="deleteBaseProviderDepByCode" parameterType="String">
        delete from base_provider_dep where provider_code = #{providerCode}
    </delete>
</mapper>