<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.base.mapper.BaseDocInfoMapper">
    
    <resultMap type="com.paic.ehis.base.domain.BaseDocInfo" id="BaseDocInfoResult">
        <result property="docCode"    column="doc_code"    />
        <result property="docName"    column="doc_name"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="fiestDept"    column="fiest_dept"    />
        <result property="secondDept"    column="second_dept"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="docPhone"    column="doc_phone"    />
        <result property="docDept"    column="doc_dept"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="column18"    column="Column_18"    />
    </resultMap>

    <sql id="selectBaseDocInfoVo">
        select doc_code, doc_name, supplier_code, fiest_dept, second_dept, start_time, end_time, doc_phone, doc_dept, province, city, district, status, create_by, create_time, update_by, update_time, Column_18 from base_doc_info
    </sql>

    <select id="selectBaseDocInfoList" parameterType="BaseDocInfo" resultMap="BaseDocInfoResult">
        <include refid="selectBaseDocInfoVo"/>
        <where>  
            <if test="docName != null  and docName != ''"> and doc_name like concat('%', #{docName}, '%')</if>
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="fiestDept != null  and fiestDept != ''"> and fiest_dept = #{fiestDept}</if>
            <if test="secondDept != null  and secondDept != ''"> and second_dept = #{secondDept}</if>
            <if test="startTime != null  and startTime != ''"> and start_time = #{startTime}</if>
            <if test="endTime != null  and endTime != ''"> and end_time = #{endTime}</if>
            <if test="docPhone != null  and docPhone != ''"> and doc_phone = #{docPhone}</if>
            <if test="docDept != null  and docDept != ''"> and doc_dept = #{docDept}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="column18 != null  and column18 != ''"> and Column_18 = #{column18}</if>
        </where>
    </select>
    
    <select id="selectBaseDocInfoById" parameterType="String" resultMap="BaseDocInfoResult">
        <include refid="selectBaseDocInfoVo"/>
        where doc_code = #{docCode}
    </select>
        
    <insert id="insertBaseDocInfo" parameterType="BaseDocInfo">
        insert into base_doc_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="docCode != null">doc_code,</if>
            <if test="docName != null and docName != ''">doc_name,</if>
            <if test="supplierCode != null and supplierCode != ''">supplier_code,</if>
            <if test="fiestDept != null">fiest_dept,</if>
            <if test="secondDept != null">second_dept,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="docPhone != null">doc_phone,</if>
            <if test="docDept != null">doc_dept,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="district != null">district,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="column18 != null">Column_18,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="docCode != null">#{docCode},</if>
            <if test="docName != null and docName != ''">#{docName},</if>
            <if test="supplierCode != null and supplierCode != ''">#{supplierCode},</if>
            <if test="fiestDept != null">#{fiestDept},</if>
            <if test="secondDept != null">#{secondDept},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="docPhone != null">#{docPhone},</if>
            <if test="docDept != null">#{docDept},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="district != null">#{district},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="column18 != null">#{column18},</if>
         </trim>
    </insert>

    <update id="updateBaseDocInfo" parameterType="BaseDocInfo">
        update base_doc_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="docName != null and docName != ''">doc_name = #{docName},</if>
            <if test="supplierCode != null and supplierCode != ''">supplier_code = #{supplierCode},</if>
            <if test="fiestDept != null">fiest_dept = #{fiestDept},</if>
            <if test="secondDept != null">second_dept = #{secondDept},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="docPhone != null">doc_phone = #{docPhone},</if>
            <if test="docDept != null">doc_dept = #{docDept},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="district != null">district = #{district},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="column18 != null">Column_18 = #{column18},</if>
        </trim>
        where doc_code = #{docCode}
    </update>

    <delete id="deleteBaseDocInfoById" parameterType="String">
        delete from base_doc_info where doc_code = #{docCode}
    </delete>

    <delete id="deleteBaseDocInfoByIds" parameterType="String">
        delete from base_doc_info where doc_code in 
        <foreach item="docCode" collection="array" open="(" separator="," close=")">
            #{docCode}
        </foreach>
    </delete>
    
</mapper>