<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.base.mapper.BaseProviderNewtworktypetDataMapper">
    
    <resultMap type="BaseProviderNewtworktypetData" id="BaseProviderNewtworktypetDataResult">
        <result property="serNo"    column="ser_no"    />
        <result property="networktypeName"    column="networktype_name"    />
        <result property="networktypeCode"    column="networktype_code"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBaseProviderNewtworktypetDataVo">
        select ser_no, networktype_name, networktype_code, status, create_by, create_time, update_by, update_time from base_provider_newtworktypet_data
    </sql>

    <select id="selectBaseProviderNewtworktypetDataList" parameterType="BaseProviderNewtworktypetData" resultMap="BaseProviderNewtworktypetDataResult">
        <include refid="selectBaseProviderNewtworktypetDataVo"/>
        <where>  
            <if test="networktypeName != null  and networktypeName != ''"> and networktype_name like concat('%', #{networktypeName}, '%')</if>
            <if test="networktypeCode != null  and networktypeCode != ''"> and networktype_code = #{networktypeCode}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaseProviderNewtworktypetDataById" parameterType="String" resultMap="BaseProviderNewtworktypetDataResult">
        <include refid="selectBaseProviderNewtworktypetDataVo"/>
        where ser_no = #{serNo}
    </select>
        
    <insert id="insertBaseProviderNewtworktypetData" parameterType="BaseProviderNewtworktypetData">
        insert into base_provider_newtworktypet_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serNo != null">ser_no,</if>
            <if test="networktypeName != null">networktype_name,</if>
            <if test="networktypeCode != null">networktype_code,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serNo != null">#{serNo},</if>
            <if test="networktypeName != null">#{networktypeName},</if>
            <if test="networktypeCode != null">#{networktypeCode},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBaseProviderNewtworktypetData" parameterType="BaseProviderNewtworktypetData">
        update base_provider_newtworktypet_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="networktypeName != null">networktype_name = #{networktypeName},</if>
            <if test="networktypeCode != null">networktype_code = #{networktypeCode},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where ser_no = #{serNo}
    </update>

    <delete id="deleteBaseProviderNewtworktypetDataById" parameterType="String">
        delete from base_provider_newtworktypet_data where ser_no = #{serNo}
    </delete>

    <delete id="deleteBaseProviderNewtworktypetDataByIds" parameterType="String">
        delete from base_provider_newtworktypet_data where ser_no in 
        <foreach item="serNo" collection="array" open="(" separator="," close=")">
            #{serNo}
        </foreach>
    </delete>
    
</mapper>