<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.base.mapper.PrivateHmpProviderMapper">
    <insert id="insertBankAll" parameterType="com.paic.ehis.base.domain.BaseBank">
        insert into base_bank
        (id,provide_code, bank_code, bank_name, account_name, account_no
        ,account_type,bank_detail, remark
        , status, create_by, create_time, update_by, update_time)
        values
        <foreach collection="list" item="listDO" index="index" separator=",">
            (#{listDO.id}, #{listDO.provideCode},#{listDO.bankCode}, #{listDO.bankName}, #{listDO.accountName}, #{listDO.accountNo}
            , #{listDO.accountType},#{listDO.bankDetail},#{listDO.remark}
            , #{listDO.status}, #{listDO.createBy}, #{listDO.createTime}, #{listDO.updateBy}, #{listDO.updateTime})
        </foreach>
    </insert>

    <insert id="insertContactsAll"  parameterType="com.paic.ehis.base.domain.BaseContacts">
        insert into base_contacts
        (serial_no, supplier_code, supplier_type,place_type,name
        , email, role, phone, mobile
        ,workingstart,workingend,account_no,password,
        status, create_by, create_time, update_by, update_time)
        values
        <foreach collection="list" item="listDO" index="index" separator=",">
            (#{listDO.serialNo},#{listDO.supplierCode},#{listDO.supplierType},#{listDO.placeType} ,#{listDO.name}
            , #{listDO.email}, #{listDO.role}, #{listDO.phone}, #{listDO.mobile}
            ,#{listDO.workingstart},#{listDO.workingend},#{listDO.accountNo},#{listDO.password}
            , #{listDO.status}, #{listDO.createBy}, #{listDO.createTime}, #{listDO.updateBy}, #{listDO.updateTime})
        </foreach>
    </insert>

    <insert id="insertReceiptAll" parameterType="com.paic.ehis.base.domain.BaseSupplierReceip">
        insert into base_supplier_receip
        (supplier_code,company_title,dutynum,bill_info
        ,acc_num,phone,address,status
        , create_by, create_time, update_by, update_time)
        values
        <foreach collection="list" item="listDO" index="index" separator=",">
            (#{listDO.supplierCode},#{listDO.companyTitle},#{listDO.dutynum},#{listDO.billInfo}
            ,#{listDO.accNum},#{listDO.phone},#{listDO.address},#{listDO.status}
            , #{listDO.createBy}, #{listDO.createTime}, #{listDO.updateBy}, #{listDO.updateTime})
        </foreach>
    </insert>

    <insert id="insertOutletsAll" parameterType="com.paic.ehis.base.domain.BaseSupplierOutlets">
        insert into base_supplier_outlets
        (servcom_no,website_code,websitec_type,websitec_name,remark,
        status,create_by, create_time, update_by, update_time)
        values
        <foreach collection="list" item="listDO" index="index" separator=",">
            (#{listDO.servcomNo},#{listDO.websiteCode},#{listDO.websitecType},#{listDO.websitecName},#{listDO.remark},
            #{listDO.status}, #{listDO.createBy}, #{listDO.createTime}, #{listDO.updateBy}, #{listDO.updateTime})
        </foreach>
    </insert>

</mapper>
