<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.policy.mapper.PolicyInsuredMapper">
    
    <resultMap type="com.paic.ehis.policy.domain.PolicyInsured" id="PolicyInsuredResult">
        <result property="insuredNo"    column="insured_no"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="idType"    column="id_type"    />
        <result property="idNo"    column="id_no"    />
        <result property="birthday"    column="birthday"    />
        <result property="occupation"    column="occupation"    />
        <result property="nationality"    column="nationality"    />
        <result property="idStartDate"    column="id_start_date"    />
        <result property="idEndDate"    column="id_end_date"    />
        <result property="mobile"    column="mobile"    />
        <result property="email"    column="email"    />
        <result property="phone"    column="phone"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="address"    column="address"    />
        <result property="orgInsuredNo"    column="org_insured_no"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPolicyInsuredVo">
        select insured_no, name, sex, id_type, id_no, birthday, occupation, nationality, id_start_date, id_end_date, mobile, email, phone, province, city, district, address, org_insured_no, status, create_by, create_time, update_by, update_time from policy_insured
    </sql>

    <select id="selectPolicyInsuredList" parameterType="com.paic.ehis.policy.domain.PolicyInsured" resultMap="PolicyInsuredResult">
        <include refid="selectPolicyInsuredVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="idType != null  and idType != ''"> and id_type = #{idType}</if>
            <if test="idNo != null  and idNo != ''"> and id_no = #{idNo}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="occupation != null  and occupation != ''"> and occupation = #{occupation}</if>
            <if test="nationality != null  and nationality != ''"> and nationality = #{nationality}</if>
            <if test="idStartDate != null "> and id_start_date = #{idStartDate}</if>
            <if test="idEndDate != null "> and id_end_date = #{idEndDate}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="orgInsuredNo != null  and orgInsuredNo != ''"> and org_insured_no = #{orgInsuredNo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectPolicyInsuredById" parameterType="String" resultMap="PolicyInsuredResult">
        <include refid="selectPolicyInsuredVo"/>
        where insured_no = #{insuredNo}
    </select>
        
    <insert id="insertPolicyInsured" parameterType="com.paic.ehis.policy.domain.PolicyInsured">
        insert into policy_insured
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="insuredNo != null">insured_no,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="sex != null and sex != ''">sex,</if>
            <if test="idType != null and idType != ''">id_type,</if>
            <if test="idNo != null and idNo != ''">id_no,</if>
            <if test="birthday != null">birthday,</if>
            <if test="occupation != null">occupation,</if>
            <if test="nationality != null">nationality,</if>
            <if test="idStartDate != null">id_start_date,</if>
            <if test="idEndDate != null">id_end_date,</if>
            <if test="mobile != null">mobile,</if>
            <if test="email != null">email,</if>
            <if test="phone != null">phone,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="district != null">district,</if>
            <if test="address != null">address,</if>
            <if test="orgInsuredNo != null and orgInsuredNo != ''">org_insured_no,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="insuredNo != null">#{insuredNo},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="sex != null and sex != ''">#{sex},</if>
            <if test="idType != null and idType != ''">#{idType},</if>
            <if test="idNo != null and idNo != ''">#{idNo},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="occupation != null">#{occupation},</if>
            <if test="nationality != null">#{nationality},</if>
            <if test="idStartDate != null">#{idStartDate},</if>
            <if test="idEndDate != null">#{idEndDate},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="email != null">#{email},</if>
            <if test="phone != null">#{phone},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="district != null">#{district},</if>
            <if test="address != null">#{address},</if>
            <if test="orgInsuredNo != null and orgInsuredNo != ''">#{orgInsuredNo},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePolicyInsured" parameterType="com.paic.ehis.policy.domain.PolicyInsured">
        update policy_insured
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="idType != null and idType != ''">id_type = #{idType},</if>
            <if test="idNo != null and idNo != ''">id_no = #{idNo},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="occupation != null">occupation = #{occupation},</if>
            <if test="nationality != null">nationality = #{nationality},</if>
            <if test="idStartDate != null">id_start_date = #{idStartDate},</if>
            <if test="idEndDate != null">id_end_date = #{idEndDate},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="district != null">district = #{district},</if>
            <if test="address != null">address = #{address},</if>
            <if test="orgInsuredNo != null and orgInsuredNo != ''">org_insured_no = #{orgInsuredNo},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where insured_no = #{insuredNo}
    </update>

    <delete id="deletePolicyInsuredById" parameterType="String">
        delete from policy_insured where insured_no = #{insuredNo}
    </delete>

    <delete id="deletePolicyInsuredByIds" parameterType="String">
        delete from policy_insured where insured_no in 
        <foreach item="insuredNo" collection="array" open="(" separator="," close=")">
            #{insuredNo}
        </foreach>
    </delete>

    <select id="selectPolicyInsuredByElement" parameterType="PolicyInsured" resultMap="PolicyInsuredResult">
        <include refid="selectPolicyInsuredVo"/>
        where  status = 'Y'
        and name = #{name}
        and sex = #{sex}
        and id_type = #{idType}
        and id_no = #{idNo}
        and birthday = #{birthday}
    </select>

    <select id="generatorInsuredNo"  resultMap="String">
        select lpad((select max(insured_no) + 1 from policy_insured ), 9, 0);
    </select>



</mapper>