<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimcal.ClaimRuleMapper">
    
    <resultMap type="com.paic.ehis.claimcal.domain.ClaimRule" id="ClaimRuleResult">
        <result property="ruleNo"    column="rule_no"    />
        <result property="planCode"    column="plan_code"    />
        <result property="riskCode"    column="risk_code"    />
        <result property="ruleLevel"    column="rule_level"    />
        <result property="ruleElement"    column="rule_element"    />
        <result property="elementValue"    column="element_value"    />
        <result property="elementUnit"    column="element_unit"    />
        <result property="cumulativeMode"    column="cumulative_mode"    />
        <result property="ruleDescription"    column="rule_description"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectClaimRuleVo">
        select rule_no, plan_code, risk_code, rule_level, rule_element, element_value, element_unit, cumulative_mode, rule_description, status, create_by, create_time, update_by, update_time from claim_rule
    </sql>

    <select id="selectClaimRuleList" parameterType="com.paic.ehis.claimcal.domain.ClaimRule" resultMap="ClaimRuleResult">
        <include refid="selectClaimRuleVo"/>
        <where>  
            <if test="planCode != null  and planCode != ''"> and plan_code = #{planCode}</if>
            <if test="riskCode != null  and riskCode != ''"> and risk_code = #{riskCode}</if>
            <if test="ruleLevel != null  and ruleLevel != ''"> and rule_level = #{ruleLevel}</if>
            <if test="ruleElement != null  and ruleElement != ''"> and rule_element = #{ruleElement}</if>
            <if test="elementValue != null "> and element_value = #{elementValue}</if>
            <if test="elementUnit != null  and elementUnit != ''"> and element_unit = #{elementUnit}</if>
            <if test="cumulativeMode != null  and cumulativeMode != ''"> and cumulative_mode = #{cumulativeMode}</if>
            <if test="ruleDescription != null  and ruleDescription != ''"> and rule_description = #{ruleDescription}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimRuleById" parameterType="String" resultMap="ClaimRuleResult">
        <include refid="selectClaimRuleVo"/>
        where rule_no = #{ruleNo}
    </select>
        
    <insert id="insertClaimRule" parameterType="com.paic.ehis.claimcal.domain.ClaimRule">
        insert into claim_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleNo != null">rule_no,</if>
            <if test="planCode != null and planCode != ''">plan_code,</if>
            <if test="riskCode != null and riskCode != ''">risk_code,</if>
            <if test="ruleLevel != null and ruleLevel != ''">rule_level,</if>
            <if test="ruleElement != null and ruleElement != ''">rule_element,</if>
            <if test="elementValue != null">element_value,</if>
            <if test="elementUnit != null and elementUnit != ''">element_unit,</if>
            <if test="cumulativeMode != null">cumulative_mode,</if>
            <if test="ruleDescription != null">rule_description,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleNo != null">#{ruleNo},</if>
            <if test="planCode != null and planCode != ''">#{planCode},</if>
            <if test="riskCode != null and riskCode != ''">#{riskCode},</if>
            <if test="ruleLevel != null and ruleLevel != ''">#{ruleLevel},</if>
            <if test="ruleElement != null and ruleElement != ''">#{ruleElement},</if>
            <if test="elementValue != null">#{elementValue},</if>
            <if test="elementUnit != null and elementUnit != ''">#{elementUnit},</if>
            <if test="cumulativeMode != null">#{cumulativeMode},</if>
            <if test="ruleDescription != null">#{ruleDescription},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimRule" parameterType="com.paic.ehis.claimcal.domain.ClaimRule">
        update claim_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="planCode != null and planCode != ''">plan_code = #{planCode},</if>
            <if test="riskCode != null and riskCode != ''">risk_code = #{riskCode},</if>
            <if test="ruleLevel != null and ruleLevel != ''">rule_level = #{ruleLevel},</if>
            <if test="ruleElement != null and ruleElement != ''">rule_element = #{ruleElement},</if>
            <if test="elementValue != null">element_value = #{elementValue},</if>
            <if test="elementUnit != null and elementUnit != ''">element_unit = #{elementUnit},</if>
            <if test="cumulativeMode != null">cumulative_mode = #{cumulativeMode},</if>
            <if test="ruleDescription != null">rule_description = #{ruleDescription},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rule_no = #{ruleNo}
    </update>

    <delete id="deleteClaimRuleById" parameterType="String">
        delete from claim_rule where rule_no = #{ruleNo}
    </delete>

    <delete id="deleteClaimRuleByIds" parameterType="String">
        delete from claim_rule where rule_no in 
        <foreach item="ruleNo" collection="array" open="(" separator="," close=")">
            #{ruleNo}
        </foreach>
    </delete>

    <update id="deleteByUpdateN" parameterType="String">
        update claim_rule
        SET status = 'N'
        where rule_no in
        <foreach item="ruleNo" collection="array" open="(" separator="," close=")">
            #{ruleNo}
        </foreach>
    </update>
</mapper>