<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimflow.mapper.ClaimCaseRecordMapper">

    <resultMap type="com.paic.ehis.claimflow.domain.ClaimCaseRecord" id="ClaimCaseRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="operation"    column="operation"    />
        <result property="operator"    column="operator"    />
        <result property="orgRecordId"    column="org_record_id"    />
        <result property="historyFlag"    column="history_flag"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectClaimCaseRecordVo">
        select record_id, rpt_no, operation, operator, history_flag,org_record_id, status, create_by, create_time, update_by, update_time from claim_case_record
    </sql>

    <select id="selectClaimCaseRecordList" parameterType="ClaimCaseRecord" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        <where>
            <if test="rptNo != null  and rptNo != ''"> and rpt_no = #{rptNo}</if>
            <if test="operation != null  and operation != ''"> and operation = #{operation}</if>
            <if test="operator != null  and operator != ''"> and operator = #{operator}</if>
            <if test="historyFlag != null  and historyFlag != ''"> and history_flag = #{historyFlag}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectClaimCaseRecordById" parameterType="Long" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertClaimCaseRecord" parameterType="ClaimCaseRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into claim_case_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no,</if>
            <if test="operation != null and operation != ''">operation,</if>
            <if test="operator != null and operator != ''">operator,</if>
            <if test="historyFlag != null and historyFlag != ''">history_flag,</if>
            <if test="orgRecordId != null and orgRecordId != ''">org_record_id,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">#{rptNo},</if>
            <if test="operation != null and operation != ''">#{operation},</if>
            <if test="operator != null and operator != ''">#{operator},</if>
            <if test="historyFlag != null and historyFlag != ''">#{historyFlag},</if>
            <if test="orgRecordId != null and orgRecordId != ''">#{orgRecordId},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateClaimCaseRecord" parameterType="ClaimCaseRecord">
        update claim_case_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="operator != null and operator != ''">operator = #{operator},</if>
            <if test="historyFlag != null and historyFlag != ''">history_flag = #{historyFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        <where>
            <if test="operation != null  and operation != ''"> and operation = #{operation}</if>
            and record_id = #{recordId}
        </where>
    </update>

    <delete id="deleteClaimCaseRecordById" parameterType="Long">
        delete from claim_case_record where record_id = #{recordId}
    </delete>

    <delete id="deleteClaimCaseRecordByIds" parameterType="String">
        delete from claim_case_record where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>

    <insert id="insertClaimCaseRecordSecond" parameterType="ClaimCaseRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into claim_case_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no,</if>
            <if test="operation != null and operation != ''">operation,</if>
            <if test="operator != null and operator != ''">operator,</if>
            <if test="historyFlag != null and historyFlag != ''">history_flag,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="orgRecordId != null">org_record_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">#{rptNo},</if>
            <if test="operation != null and operation != ''">#{operation},</if>
            <if test="operator != null and operator != ''">#{operator},</if>
            <if test="historyFlag != null and historyFlag != ''">#{historyFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="orgRecordId != null">#{orgRecordId},</if>
        </trim>
    </insert>

    <resultMap type="ClaimCaseRecord" id="ClaimCaseRecordResultNumber">
        <result property="recordId"    column="record_id"    />
    </resultMap>

    <select id="selectClaimCaseRecordSecondTwo" parameterType="String" resultType="long">
        select record_id from claim_case_record where rpt_no=#{rptNo} and operation='05' and status='Y' and history_flag='N'
    </select>
    <select id="selectClaimCaseRecordSecondThree" parameterType="String" resultMap="ClaimCaseRecordResultNumber">
        select update_by from claim_case_record where rpt_no=#{rptNo} /*and operation='07'*/ and status='Y' and history_flag='N'
    </select>

    <update id="updatehistoryFlag" parameterType="String">
        update claim_case_record set history_flag = 'Y'
        where  rpt_no = #{rptNo}
    </update>

    <select id="selectClaimCaseRecordByrptNoOne" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and operation = '07' and status = 'Y' ORDER BY update_time DESC limit 1
    </select>


    <select id="selectClaimCaseRecordByrptNoPending" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and operation = '07' and  history_flag = 'N'  and status = 'Y' ORDER BY update_time DESC limit 1
    </select>


    <select id="selectClaimCaseRecordByrptNoFive" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and operation = '30' and status = 'Y' and  history_flag = 'N' ORDER BY update_time DESC limit 1
    </select>

    <!-- lihy -->
    <select id="selectClaimCaseRecordByrptNoOneNew" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and operation = '08' and status = 'Y' and  history_flag = 'Y' ORDER BY update_time DESC limit 1
    </select>

    <!-- lihy -->
    <select id="selectClaimCaseRecordByrptNoOneOld" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and operation = '08' and status = 'Y' and  history_flag = 'N'
    </select>


    <select id="selectClaimCaseRecordByrptNo" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and  operation = '32' and status = 'Y'
    </select>

    <select id="selectClaimCaseRecordByRptNo" parameterType="String" resultType="Long">
        select record_id from claim_case_record
        where rpt_no = #{rptNo} and operation = '06' and status = 'Y' and  history_flag = 'N'
    </select>

    <select id="selectRecentlyClaimCaseRecordByRptNo" parameterType="String" resultType="Long">
        select record_id from claim_case_record
        where rpt_no = #{rptNo} and status = 'Y' and  history_flag = 'N' order by record_id desc limit 1
    </select>

    <!-- lihy -->
    <select id="selectClaimCaseRecordByRptNoOperation" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and operation = '07' and status = 'Y' and  history_flag = 'N'
    </select>

    <select id="selectClaimCaseRecordByrptNoThree" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo}
    </select>

    <select id="selectClaimCaseRecordByrptNoTwo" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and operation = '06' and status = 'Y' ORDER BY update_time DESC limit 1
    </select>

    <select id="selectClaimCaseRecordByrptNoCase" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        <where>
            <if test="rptNo != null  and rptNo != ''">and rpt_no= #{rptNo}</if>
            <if test="status = null  and status = ''">and status='Y'</if>
            <if test="operation = null  and operation = ''">and operation='08'</if>
            <if test="historyFlag = null  and historyFlag = ''">and history_flag='N'</if>
        </where>
        order by create_time desc limit 0,1
    </select>

    <select id="selectMinAcceptTime" parameterType="String" resultType="String">
        select CONCAT(
                       FLOOR( TIMESTAMPDIFF( SECOND, min(update_time), now( ) ) / 86400 ),
                       '天',
                       TIMESTAMPDIFF( HOUR, min(update_time), now( ) ) % 24,
                       '时',
                       TIMESTAMPDIFF( MINUTE, min(update_time), now( ) ) % 60,
                       '分'
                   )  min_time
        from claim_case_record
        where operation = '05' and history_flag = 'Y' and rpt_no = #{rptNo}
    </select>

    <update id="updateClaimCaseRecordByRptNoAndOperator" parameterType="ClaimCaseRecord">
        update claim_case_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="operator != null and operator != ''">operator = #{operator},</if>
            <if test="historyFlag != null and historyFlag != ''">history_flag = #{historyFlag},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rpt_no = #{rptNo} and operation = #{operation} and history_flag = 'N' and status = 'Y'
    </update>
    <update id="updateCaseDispatchList" parameterType="ClaimCaseRecord">
        update claim_case_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no = #{rptNo},</if>
            <if test="operation != null and operation != ''">operation = #{operation},</if>
            <if test="operator != null and operator != ''">operator = #{operator},</if>
            <if test="historyFlag != null and historyFlag != ''">history_flag = #{historyFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rpt_no = #{rptNo} and history_flag='N'
    </update>



    <select id="selectClaimCaseRecordByrptNoFour" parameterType="String" resultMap="ClaimCaseRecordResult">
        select record_id from claim_case_record where rpt_no=#{rptNo},operation='05',status='Y',history_flag='N'
    </select>

    <select id="selectClaimCaseRecordProblemShipment" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and status = 'Y'
    </select>

    <select id="selectClaimCaseRecordAcceptance" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and operation in ('06','07') and status = 'Y'
    </select>

    <select id="selectClaimCaseRecordRevocation" parameterType="String" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and operation in ('97','98') and status = 'Y'
    </select>

<!--  根据报案号查询 对应案件状态的的最近的一条轨迹  -->
    <select id="selectRecentClaimCaseRecord" parameterType="ClaimCaseRecord" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        <where>
            <if test="rptNo != null  and rptNo != ''"> and rpt_no = #{rptNo}</if>
            <if test="operation != null  and operation != ''"> and operation = #{operation}</if>
            <if test="historyFlag != null  and historyFlag != ''"> and history_flag = #{historyFlag}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by create_time LIMIT 1
    </select>

    <update id="updateRecordHistoricalState" parameterType="ClaimCaseRecord">
        update claim_case_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="operator != null and operator != ''">operator = #{operator},</if>
            <if test="historyFlag != null and historyFlag != ''">history_flag = #{historyFlag},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        <where>
            <if test="rptNo != null  and rptNo != ''"> and rpt_no = #{rptNo}</if>
            <if test="operation != null  and operation != ''"> and operation = #{operation}</if>
            and history_flag='N'
            and status='Y'
        </where>
    </update>

    <select id="selectClaimCaseRecordInfoByParam" parameterType="map" resultMap="ClaimCaseRecordResult">
        <include refid="selectClaimCaseRecordVo"/>
        where rpt_no = #{rptNo} and operation = #{operation} and status =  #{status} and  history_flag =  #{historyFlag}
    </select>


    <select id="selectWorkflow" parameterType="ClaimCaseRecord" resultMap="ClaimCaseRecordResult">
    <!--
    SELECT
            *
        FROM
            claim_case_record
        WHERE
                record_id IN ( SELECT max( record_id ) FROM claim_case_record WHERE rpt_no = #{rptNo} and operation in ('04','05','06','07','08','99')
                               GROUP BY rpt_no, operation )
    -->
       SELECT *  FROM claim_case_record WHERE rpt_no = #{rptNo} and operation in ('04','05','06','07','08','99') order by create_time asc
    </select>

    <select id="selectWorkflowByRptNo" parameterType="ClaimCaseRecord" resultMap="ClaimCaseRecordResult">
    SELECT
	cbr.create_by,
	cbr.create_time,
	cbr.update_by,
	cbr.update_time,
	cbr.operation,
	case when (select count(1) from claim_case_record t where t.rpt_no = cc.rpt_no) > 0 then 'Y' else 'N' end history_flag
FROM
	claim_batch_record cbr
	LEFT JOIN claim_case cc ON cbr.batch_no = cc.batch_no
WHERE
	cc.rpt_no = #{rptNo}
	AND cbr.operation = '01'
    </select>
</mapper>