<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimflow.mapper.ClaimCaseBillDetailMapper">

    <resultMap type="ClaimCaseBillDetail" id="ClaimCaseBillDetailResult">
        <result property="detailId"    column="detail_id"    />
        <result property="billId"    column="bill_id"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="feeItemCode"    column="fee_item_code"    />
        <result property="feeItemName"    column="fee_item_name"    />
        <result property="billDetailAmount"    column="bill_detail_amount"    />
        <result property="selfAmount"    column="self_amount"    />
        <result property="partSelfAmount"    column="part_self_amount"    />
        <result property="advancePayment"    column="advance_payment"    />
        <result property="billDetailCopay"    column="bill_detail_copay"    />
        <result property="hosDiscountAmount"    column="hos_discount_amount"    />
        <result property="unableAmount"    column="unable_amount"    />
        <result property="visNumber"    column="vis_number"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="com.paic.ehis.system.api.domain.dto.ClaimCaseBillDetailDTO" id="ClaimCaseBillDetailDTOResult">
        <result property="detailId"    column="detail_id"    />
        <result property="billId"    column="bill_id"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="feeItemCode"    column="fee_item_code"    />
        <result property="feeItemName"    column="fee_item_name"    />
        <result property="billDetailAmount"    column="bill_detail_amount"    />
        <result property="selfAmount"    column="self_amount"    />
        <result property="partSelfAmount"    column="part_self_amount"    />
        <result property="advancePayment"    column="advance_payment"    />
        <result property="billDetailCopay"    column="bill_detail_copay"    />
        <result property="hosDiscountAmount"    column="hos_discount_amount"    />
        <result property="unableAmount"    column="unable_amount"    />
        <result property="visNumber"    column="vis_number"    />
    </resultMap>

    <sql id="selectClaimCaseBillDetailVo">
        select detail_id, bill_id, rpt_no, fee_item_code, fee_item_name, bill_detail_amount, self_amount, part_self_amount, advance_payment, bill_detail_copay, hos_discount_amount, unable_amount, vis_number, remark, status, create_by, create_time, update_by, update_time from claim_case_bill_detail
    </sql>

    <select id="selectClaimCaseBillDetailList" parameterType="ClaimCaseBillDetail" resultMap="ClaimCaseBillDetailResult">
        <include refid="selectClaimCaseBillDetailVo"/>
        <where>
            <if test="billId != null "> and bill_id = #{billId}</if>
            <if test="rptNo != null  and rptNo != ''"> and rpt_no = #{rptNo}</if>
            <if test="feeItemCode != null  and feeItemCode != ''"> and fee_item_code = #{feeItemCode}</if>
            <if test="feeItemName != null  and feeItemName != ''"> and fee_item_name like concat('%', #{feeItemName}, '%')</if>
            <if test="billDetailAmount != null "> and bill_detail_amount = #{billDetailAmount}</if>
            <if test="selfAmount != null "> and self_amount = #{selfAmount}</if>
            <if test="partSelfAmount != null "> and part_self_amount = #{partSelfAmount}</if>
            <if test="advancePayment != null "> and advance_payment = #{advancePayment}</if>
            <if test="billDetailCopay != null "> and bill_detail_copay = #{billDetailCopay}</if>
            <if test="hosDiscountAmount != null "> and hos_discount_amount = #{hosDiscountAmount}</if>
            <if test="unableAmount != null "> and unable_amount = #{unableAmount}</if>
            <if test="visNumber != null "> and vis_number = #{visNumber}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectClaimCaseBillDetailDTOByRptNo" parameterType="String" resultMap="ClaimCaseBillDetailDTOResult">
        select detail_id, bill_id, rpt_no, fee_item_code, fee_item_name, bill_detail_amount, self_amount, part_self_amount, advance_payment, bill_detail_copay, hos_discount_amount, unable_amount, vis_number
        from claim_case_bill_detail where rpt_no = #{rptNo} and status = 'Y'
    </select>

    <select id="selectClaimCaseBillDetailById" parameterType="Long" resultMap="ClaimCaseBillDetailResult">
        <include refid="selectClaimCaseBillDetailVo"/>
        where detail_id = #{detailId}
    </select>

    <insert id="insertClaimCaseBillDetail" parameterType="ClaimCaseBillDetail" useGeneratedKeys="true" keyProperty="detailId">
        insert into claim_case_bill_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="billId != null">bill_id,</if>
            <if test="rptNo != null and rptNo != ''">rpt_no,</if>
            <if test="feeItemCode != null and feeItemCode != ''">fee_item_code,</if>
            <if test="feeItemName != null and feeItemName != ''">fee_item_name,</if>
            <if test="billDetailAmount != null">bill_detail_amount,</if>
            <if test="selfAmount != null">self_amount,</if>
            <if test="partSelfAmount != null">part_self_amount,</if>
            <if test="advancePayment != null">advance_payment,</if>
            <if test="billDetailCopay != null">bill_detail_copay,</if>
            <if test="hosDiscountAmount != null">hos_discount_amount,</if>
            <if test="unableAmount != null">unable_amount,</if>
            <if test="visNumber != null">vis_number,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="billId != null">#{billId},</if>
            <if test="rptNo != null and rptNo != ''">#{rptNo},</if>
            <if test="feeItemCode != null and feeItemCode != ''">#{feeItemCode},</if>
            <if test="feeItemName != null and feeItemName != ''">#{feeItemName},</if>
            <if test="billDetailAmount != null">#{billDetailAmount},</if>
            <if test="selfAmount != null">#{selfAmount},</if>
            <if test="partSelfAmount != null">#{partSelfAmount},</if>
            <if test="advancePayment != null">#{advancePayment},</if>
            <if test="billDetailCopay != null">#{billDetailCopay},</if>
            <if test="hosDiscountAmount != null">#{hosDiscountAmount},</if>
            <if test="unableAmount != null">#{unableAmount},</if>
            <if test="visNumber != null">#{visNumber},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateClaimCaseBillDetail" parameterType="ClaimCaseBillDetail">
        update claim_case_bill_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="billId != null">bill_id = #{billId},</if>
            <if test="rptNo != null and rptNo != ''">rpt_no = #{rptNo},</if>
            <if test="feeItemCode != null and feeItemCode != ''">fee_item_code = #{feeItemCode},</if>
            <if test="feeItemName != null and feeItemName != ''">fee_item_name = #{feeItemName},</if>
            <if test="billDetailAmount != null">bill_detail_amount = #{billDetailAmount},</if>
            <if test="selfAmount != null">self_amount = #{selfAmount},</if>
            <if test="partSelfAmount != null">part_self_amount = #{partSelfAmount},</if>
            <if test="advancePayment != null">advance_payment = #{advancePayment},</if>
            <if test="billDetailCopay != null">bill_detail_copay = #{billDetailCopay},</if>
            <if test="hosDiscountAmount != null">hos_discount_amount = #{hosDiscountAmount},</if>
            <if test="unableAmount != null">unable_amount = #{unableAmount},</if>
            <if test="visNumber != null">vis_number = #{visNumber},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where detail_id = #{detailId} and status = 'Y'
    </update>

    <delete id="deleteClaimCaseBillDetailById" parameterType="Long">
        delete from claim_case_bill_detail where detail_id = #{detailId}
    </delete>

    <delete id="deleteClaimCaseBillDetailByIds" parameterType="String">
        delete from claim_case_bill_detail where detail_id in
        <foreach item="detailId" collection="array" open="(" separator="," close=")">
            #{detailId}
        </foreach>
    </delete>

    <select id="selectClaimCaseBillDetailByBillId" parameterType="long" resultMap="ClaimCaseBillDetailResult">
        <include refid="selectClaimCaseBillDetailVo"/>
        where bill_id=#{billId} and status='Y'
    </select>

    <update id="updateClaimCaseBillDetailByBillId" parameterType="long">
        update claim_case_bill_detail set status='N' where bill_id=#{billId} and status='Y'
    </update>

</mapper>