<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimflow.mapper.ClaimCaseFilingMapper">
    
    <resultMap type="com.paic.ehis.claimflow.domain.ClaimCaseFiling" id="ClaimCaseFilingResult">
        <result property="caseBoxNo"    column="case_box_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="rptStartNo"    column="rpt_start_no"    />
        <result property="rptEndNo"    column="rpt_end_no"    />
        <result property="claimType"    column="claim_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptCode"    column="dept_code"    />
    </resultMap>

    <resultMap type="com.paic.ehis.claimflow.domain.vo.ClaimCaseFilingVO" id="ClaimCaseFilingVOResult">
        <result property="caseBoxNo"    column="case_box_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="rptStartNo"    column="rpt_start_no"    />
        <result property="rptEndNo"    column="rpt_end_no"    />
        <result property="claimType"    column="claim_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptCode"    column="dept_code"    />
        <result property="claimType"    column="claim_type"    />
    </resultMap>

    <resultMap type="com.paic.ehis.claimflow.domain.vo.ClaimCaseFilingInformationVO" id="ClaimCaseFilingInformationVOResult">
        <result property="caseBoxNo"    column="case_box_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="rptStartNo"    column="rpt_start_no"    />
        <result property="rptEndNo"    column="rpt_end_no"    />
        <result property="claimType"    column="claim_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptCode"    column="dept_code"    />
        <result property="claimType"    column="claim_type"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="isFiling"    column="is_filing"    />
        <result property="isInvoiceBack"    column="is_invoice_back"    />
        <result property="isSingle"    column="is_single"    />
        <result property="remark"    column="remark"    />
    </resultMap>



    <sql id="selectClaimCaseFilingVo">
        select case_box_no, batch_no, rpt_start_no, rpt_end_no, claim_type, status, create_by, create_time, update_by, update_time from claim_case_filing
    </sql>

    <select id="selectClaimCaseFilingList" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseFiling" resultMap="ClaimCaseFilingResult">
        <include refid="selectClaimCaseFilingVo"/>
        <where>  
            <if test="caseBoxNo != null  and caseBoxNo != ''"> and case_box_no = #{caseBoxNo}</if>
            <if test="rptStartNo != null  and rptStartNo != ''"> and rpt_start_no = #{rptStartNo}</if>
            <if test="rptEndNo != null  and rptEndNo != ''"> and rpt_end_no = #{rptEndNo}</if>
            <if test="claimType != null  and claimType != ''"> and claim_type = #{claimType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="deptCode != null  and deptCode != ''"> and dept_code = #{deptCode}</if>
        </where>
    </select>
    
    <select id="selectClaimCaseFilingById" parameterType="String" resultMap="ClaimCaseFilingResult">
        <include refid="selectClaimCaseFilingVo"/>
        where case_box_no = #{caseBoxNo}
    </select>

    <select id="selectCaseClaimCaseFilingList" parameterType="com.paic.ehis.claimflow.domain.dto.ClaimCaseFilingDTO" resultMap="ClaimCaseFilingVOResult">
        select
            case_box_no,rpt_start_no,rpt_end_no,batch_no,
            dept_code,create_time,update_time,claim_type,
            update_by,status
        from claim_case_filing
        <where>
            <if test="deptCode != null  and deptCode != ''"> and dept_code = #{deptCode}</if>
            <if test="claimType != null  and claimType != ''"> and claim_type = #{claimType}</if>
            <if test="batchNo != null  and batchNo != ''"> and batch_no = #{batchNo}</if>
            <if test="caseBoxNo != null  and caseBoxNo != ''"> and case_box_no = #{caseBoxNo}</if>
            <if test="rptNo != null  and rptNo != ''"> and (batch_no = (select batch_no from claim_case where rpt_no  = #{rptNo} )  or rpt_start_no= #{rptNo} or rpt_end_no = #{rptNo})</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="updateStartTime != null and updateStartTime != ''"><![CDATA[AND update_time >= #{updateStartTime} ]]></if>
            <if test="updateEndTime != null and updateEndTime != ''"><![CDATA[AND update_time <= #{updateEndTime}]]></if>
        </where>
    </select>

    <select id="selectCaseClaimCaseFilingInfo" parameterType="com.paic.ehis.claimflow.domain.vo.ClaimCaseFilingInformationVO" resultMap="ClaimCaseFilingInformationVOResult">
        select
             ccf.case_box_no
            ,ccf.dept_code
            ,ccf.claim_type
            ,cbif.is_filing
            ,cbif.is_invoice_back
            ,cbif.is_single
            ,cbif.remark
            ,ccf.status
        from claim_case_filing ccf
        inner join claim_batch_invoice_filing cbif on ccf.batch_no=cbif.batch_no
        <where>
            <if test="caseBoxNo != null and caseBoxNo != ''"> and case_box_no = #{caseBoxNo}</if>
        </where>
    </select>


        
    <insert id="insertClaimCaseFiling" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseFiling">
        insert into claim_case_filing
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptCode != null and deptCode != ''">dept_code,</if>
            <if test="caseBoxNo != null and caseBoxNo != ''">case_box_no,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="rptStartNo != null and rptStartNo != ''">rpt_start_no,</if>
            <if test="rptEndNo != null and rptEndNo != ''">rpt_end_no,</if>
            <if test="claimType != null and claimType != ''">claim_type,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptCode != null and deptCode != ''">#{deptCode},</if>
            <if test="caseBoxNo != null and caseBoxNo != ''">#{caseBoxNo},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="rptStartNo != null and rptStartNo != ''">#{rptStartNo},</if>
            <if test="rptEndNo != null and rptEndNo != ''">#{rptEndNo},</if>
            <if test="claimType != null and claimType != ''">#{claimType},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>


    <update id="updateClaimCaseFiling" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseFiling">
        update claim_case_filing
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptCode != null  and deptCode != ''">dept_code = #{deptCode}</if>
            <if test="caseBoxNo != null and caseBoxNo != ''">case_box_no = #{caseBoxNo},</if>
            <if test="rptStartNo != null and rptStartNo != ''">rpt_start_no = #{rptStartNo},</if>
            <if test="rptEndNo != null and rptEndNo != ''">rpt_end_no = #{rptEndNo},</if>
            <if test="claimType != null and claimType != ''">claim_type = #{claimType},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where case_box_no = #{caseBoxNo}
    </update>

    <update id="updateClaimCaseFilingEdit" parameterType="com.paic.ehis.claimflow.domain.vo.ClaimCaseFilingInformationVO">
        update claim_case_filing
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseBoxNo != null and caseBoxNo != ''">case_box_no = #{caseBoxNo},</if>
            <if test="rptStartNo != null and rptStartNo != ''">rpt_start_no = #{rptStartNo},</if>
            <if test="rptEndNo != null and rptEndNo != ''">rpt_end_no = #{rptEndNo},</if>
            <if test="claimType != null and claimType != ''">claim_type = #{claimType},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="batchNo != null  and batchNo != ''">batch_no = #{batchNo},</if>
        </trim>
        where case_box_no = #{caseBoxNo}
    </update>

    <delete id="deleteClaimCaseFilingById" parameterType="String">
        delete from claim_case_filing where batch_no = #{batchNo}
    </delete>

    <delete id="deleteClaimCaseFilingByIds" parameterType="String">
        delete from claim_case_filing where case_box_no in
        <foreach item="caseBoxNo" collection="array" open="(" separator="," close=")">
            #{caseBoxNo}
        </foreach>
    </delete>
    
</mapper>