<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimflow.mapper.ClaimCaseRegisterMapper">
    
    <resultMap type="com.paic.ehis.claimflow.domain.ClaimCaseRegister" id="ClaimCaseRegisterResult">
        <result property="rptNo"    column="rpt_no"    />
        <result property="relationIns"    column="relation_ins"    />
        <result property="rgtName"    column="rgt_name"    />
        <result property="rgtSex"    column="rgt_sex"    />
        <result property="rgtIdType"    column="rgt_id_type"    />
        <result property="rgtIdNo"    column="rgt_id_no"    />
        <result property="rgtBirthday"    column="rgt_birthday"    />
        <result property="rgtMobile"    column="rgt_mobile"    />
        <result property="rgtEmail"    column="rgt_email"    />
        <result property="rgtPhone"    column="rgt_phone"    />
        <result property="rgtProvince"    column="rgt_province"    />
        <result property="rgtCity"    column="rgt_city"    />
        <result property="rgtDistrict"    column="rgt_district"    />
        <result property="rgtAddress"    column="rgt_address"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="rgtId"    column="rgt_id"    />
    </resultMap>

    <sql id="selectClaimCaseRegisterVo">
        select rgt_id,rpt_no, relation_ins,rgt_name, rgt_sex, rgt_id_type, rgt_id_no, rgt_birthday, rgt_mobile, rgt_email, rgt_phone, rgt_province, rgt_city, rgt_district, rgt_address, status, create_by, create_time, update_by, update_time from claim_case_register
    </sql>

    <select id="selectClaimCaseRegisterList" parameterType="ClaimCaseRegister" resultMap="ClaimCaseRegisterResult">
        <include refid="selectClaimCaseRegisterVo"/>
        <where>
            <if test="relationIns != null  and relationIns != ''"> and relation_ins = #{relationIns}</if>
            <if test="rgtName != null  and rgtName != ''"> and rgt_name like concat('%', #{rgtName}, '%')</if>
            <if test="rgtSex != null  and rgtSex != ''"> and rgt_sex = #{rgtSex}</if>
            <if test="rgtIdType != null  and rgtIdType != ''"> and rgt_id_type = #{rgtIdType}</if>
            <if test="rgtIdNo != null  and rgtIdNo != ''"> and rgt_id_no = #{rgtIdNo}</if>
            <if test="rgtBirthday != null "> and rgt_birthday = #{rgtBirthday}</if>
            <if test="rgtMobile != null  and rgtMobile != ''"> and rgt_mobile = #{rgtMobile}</if>
            <if test="rgtEmail != null  and rgtEmail != ''"> and rgt_email = #{rgtEmail}</if>
            <if test="rgtPhone != null  and rgtPhone != ''"> and rgt_phone = #{rgtPhone}</if>
            <if test="rgtProvince != null  and rgtProvince != ''"> and rgt_province = #{rgtProvince}</if>
            <if test="rgtCity != null  and rgtCity != ''"> and rgt_city = #{rgtCity}</if>
            <if test="rgtDistrict != null  and rgtDistrict != ''"> and rgt_district = #{rgtDistrict}</if>
            <if test="rgtAddress != null  and rgtAddress != ''"> and rgt_address = #{rgtAddress}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimCaseRegisterById" parameterType="String" resultMap="ClaimCaseRegisterResult">
        <include refid="selectClaimCaseRegisterVo"/>
        where rpt_no = #{rptNo} and status='Y'
    </select>
        
    <insert id="insertClaimCaseRegister" parameterType="ClaimCaseRegister">
        insert into claim_case_register
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null">rpt_no,</if>
            <if test="relationIns != null and relationIns != ''">relation_ins,</if>
            <if test="rgtName != null and rgtName != ''">rgt_name,</if>
            <if test="rgtSex != null and rgtSex != ''">rgt_sex,</if>
            <if test="rgtIdType != null and rgtIdType != ''">rgt_id_type,</if>
            <if test="rgtIdNo != null and rgtIdNo != ''">rgt_id_no,</if>
            <if test="rgtBirthday != null">rgt_birthday,</if>
            <if test="rgtMobile != null">rgt_mobile,</if>
            <if test="rgtEmail != null">rgt_email,</if>
            <if test="rgtPhone != null">rgt_phone,</if>
            <if test="rgtProvince != null">rgt_province,</if>
            <if test="rgtCity != null">rgt_city,</if>
            <if test="rgtDistrict != null">rgt_district,</if>
            <if test="rgtAddress != null">rgt_address,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null">#{rptNo},</if>
            <if test="relationIns != null and relationIns != ''">#{relationIns},</if>
            <if test="rgtName != null and rgtName != ''">#{rgtName},</if>
            <if test="rgtSex != null and rgtSex != ''">#{rgtSex},</if>
            <if test="rgtIdType != null and rgtIdType != ''">#{rgtIdType},</if>
            <if test="rgtIdNo != null and rgtIdNo != ''">#{rgtIdNo},</if>
            <if test="rgtBirthday != null">#{rgtBirthday},</if>
            <if test="rgtMobile != null">#{rgtMobile},</if>
            <if test="rgtEmail != null">#{rgtEmail},</if>
            <if test="rgtPhone != null">#{rgtPhone},</if>
            <if test="rgtProvince != null">#{rgtProvince},</if>
            <if test="rgtCity != null">#{rgtCity},</if>
            <if test="rgtDistrict != null">#{rgtDistrict},</if>
            <if test="rgtAddress != null">#{rgtAddress},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimCaseRegister" parameterType="ClaimCaseRegister">
        update claim_case_register
        <trim prefix="SET" suffixOverrides=",">
            <if test="relationIns != null and relationIns != ''">relation_ins = #{relationIns},</if>
            <if test="rgtName != null and rgtName != ''">rgt_name = #{rgtName},</if>
            <if test="rgtSex != null and rgtSex != ''">rgt_sex = #{rgtSex},</if>
            <if test="rgtIdType != null and rgtIdType != ''">rgt_id_type = #{rgtIdType},</if>
            <if test="rgtIdNo != null and rgtIdNo != ''">rgt_id_no = #{rgtIdNo},</if>
            <if test="rgtBirthday != null">rgt_birthday = #{rgtBirthday},</if>
            <if test="rgtMobile != null">rgt_mobile = #{rgtMobile},</if>
            <if test="rgtEmail != null">rgt_email = #{rgtEmail},</if>
            <if test="rgtPhone != null">rgt_phone = #{rgtPhone},</if>
            <if test="rgtProvince != null">rgt_province = #{rgtProvince},</if>
            <if test="rgtCity != null">rgt_city = #{rgtCity},</if>
            <if test="rgtDistrict != null">rgt_district = #{rgtDistrict},</if>
            <if test="rgtAddress != null">rgt_address = #{rgtAddress},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rgt_id = #{rgtId}
    </update>

    <delete id="deleteClaimCaseRegisterById" parameterType="String">
        delete from claim_case_register where rpt_no = #{rptNo}
    </delete>

    <delete id="deleteClaimCaseRegisterByIds" parameterType="String">
        delete from claim_case_register where rpt_no in 
        <foreach item="rptNo" collection="array" open="(" separator="," close=")">
            #{rptNo}
        </foreach>
    </delete>

    <select id="selectClaimCaseRegisterByIdOne" parameterType="String" resultMap="ClaimCaseRegisterResult">
        <include refid="selectClaimCaseRegisterVo"/>
        where rpt_no = #{rptNo} and status='Y'
    </select>
    
</mapper>