<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimflow.mapper.ClaimCaseAcceptMapper">
    
    <resultMap type="com.paic.ehis.claimflow.domain.ClaimCaseAccept" id="ClaimCaseAcceptResult">
        <result property="rptNo"    column="rpt_no"    />
        <result property="claimAmount"    column="claim_amount"    />
        <result property="accDate"    column="acc_date"    />
        <result property="accType"    column="acc_type"    />
        <result property="currSituation"    column="curr_situation"    />
        <result property="firstSerIllnessDate"    column="first_ser_illness_date"    />
        <result property="deathDate"    column="death_date"    />
        <result property="disabilityDate"    column="disability_date"    />
        <result property="preAuthFlag"    column="pre_auth_flag"    />
        <result property="preAuthItem"    column="pre_auth_item"    />
        <result property="preAuthNo"    column="pre_auth_no"    />
        <result property="materialCompleteDate"    column="material_complete_date"    />
        <result property="receiptDate"    column="receipt_date"    />
        <result property="priReason"    column="pri_reason"    />
        <result property="accProvince"    column="acc_province"    />
        <result property="accCity"    column="acc_city"    />
        <result property="accDistrict"    column="acc_district"    />
        <result property="accAddress"    column="acc_address"    />
        <result property="accDescribe"    column="acc_describe"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="acceptId"    column="accept_id"    />
    </resultMap>

    <sql id="selectClaimCaseAcceptVo">
        select accept_id,rpt_no, claim_amount, acc_date, acc_type, curr_situation, first_ser_illness_date, death_date, disability_date, pre_auth_flag, pre_auth_item, pre_auth_no, material_complete_date, receipt_date, pri_reason, acc_province, acc_city, acc_district, acc_address, acc_describe, status, create_by, create_time, update_by, update_time from claim_case_accept
    </sql>

    <select id="selectClaimCaseAcceptList" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseAccept" resultMap="ClaimCaseAcceptResult">
        <include refid="selectClaimCaseAcceptVo"/>
        <where>  
            <if test="claimAmount != null "> and claim_amount = #{claimAmount}</if>
            <if test="accDate != null "> and acc_date = #{accDate}</if>
            <if test="accType != null  and accType != ''"> and acc_type = #{accType}</if>
            <if test="currSituation != null  and currSituation != ''"> and curr_situation = #{currSituation}</if>
            <if test="firstSerIllnessDate != null "> and first_ser_illness_date = #{firstSerIllnessDate}</if>
            <if test="deathDate != null "> and death_date = #{deathDate}</if>
            <if test="disabilityDate != null "> and disability_date = #{disabilityDate}</if>
            <if test="preAuthFlag != null  and preAuthFlag != ''"> and pre_auth_flag = #{preAuthFlag}</if>
            <if test="preAuthItem != null  and preAuthItem != ''"> and pre_auth_item = #{preAuthItem}</if>
            <if test="preAuthNo != null  and preAuthNo != ''"> and pre_auth_no = #{preAuthNo}</if>
            <if test="materialCompleteDate != null "> and material_complete_date = #{materialCompleteDate}</if>
            <if test="receiptDate != null "> and receipt_date = #{receiptDate}</if>
            <if test="priReason != null  and priReason != ''"> and pri_reason = #{priReason}</if>
            <if test="accProvince != null  and accProvince != ''"> and acc_province = #{accProvince}</if>
            <if test="accCity != null  and accCity != ''"> and acc_city = #{accCity}</if>
            <if test="accDistrict != null  and accDistrict != ''"> and acc_district = #{accDistrict}</if>
            <if test="accAddress != null  and accAddress != ''"> and acc_address = #{accAddress}</if>
            <if test="accDescribe != null  and accDescribe != ''"> and acc_describe = #{accDescribe}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimCaseAcceptById" parameterType="String" resultMap="ClaimCaseAcceptResult">
        <include refid="selectClaimCaseAcceptVo"/>
        where rpt_no = #{rptNo} and status='Y'
    </select>

    <select id="selectClaimCaseAcceptByIdOne" parameterType="String" resultMap="ClaimCaseAcceptResult">
        <include refid="selectClaimCaseAcceptVo"/>
        where rpt_no = #{rptNo} and status='Y'
    </select>
        
    <insert id="insertClaimCaseAccept" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseAccept">
        insert into claim_case_accept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null">rpt_no,</if>
            <if test="claimAmount != null">claim_amount,</if>
            <if test="accDate != null">acc_date,</if>
            <if test="accType != null and accType != ''">acc_type,</if>
            <if test="currSituation != null and currSituation != ''">curr_situation,</if>
            <if test="firstSerIllnessDate != null">first_ser_illness_date,</if>
            <if test="deathDate != null">death_date,</if>
            <if test="disabilityDate != null">disability_date,</if>
            <if test="preAuthFlag != null">pre_auth_flag,</if>
            <if test="preAuthItem != null">pre_auth_item,</if>
            <if test="preAuthNo != null">pre_auth_no,</if>
            <if test="materialCompleteDate != null">material_complete_date,</if>
            <if test="receiptDate != null">receipt_date,</if>
            <if test="priReason != null">pri_reason,</if>
            <if test="accProvince != null">acc_province,</if>
            <if test="accCity != null">acc_city,</if>
            <if test="accDistrict != null">acc_district,</if>
            <if test="accAddress != null">acc_address,</if>
            <if test="accDescribe != null">acc_describe,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null">#{rptNo},</if>
            <if test="claimAmount != null">#{claimAmount},</if>
            <if test="accDate != null">#{accDate},</if>
            <if test="accType != null and accType != ''">#{accType},</if>
            <if test="currSituation != null and currSituation != ''">#{currSituation},</if>
            <if test="firstSerIllnessDate != null">#{firstSerIllnessDate},</if>
            <if test="deathDate != null">#{deathDate},</if>
            <if test="disabilityDate != null">#{disabilityDate},</if>
            <if test="preAuthFlag != null">#{preAuthFlag},</if>
            <if test="preAuthItem != null">#{preAuthItem},</if>
            <if test="preAuthNo != null">#{preAuthNo},</if>
            <if test="materialCompleteDate != null">#{materialCompleteDate},</if>
            <if test="receiptDate != null">#{receiptDate},</if>
            <if test="priReason != null">#{priReason},</if>
            <if test="accProvince != null">#{accProvince},</if>
            <if test="accCity != null">#{accCity},</if>
            <if test="accDistrict != null">#{accDistrict},</if>
            <if test="accAddress != null">#{accAddress},</if>
            <if test="accDescribe != null">#{accDescribe},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimCaseAccept" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseAccept">
        update claim_case_accept
        <trim prefix="SET" suffixOverrides=",">
            <if test="rptNo != null">rpt_no = #{rptNo},</if>
            <if test="claimAmount != null">claim_amount = #{claimAmount},</if>
            <if test="accDate != null">acc_date = #{accDate},</if>
            <if test="accType != null and accType != ''">acc_type = #{accType},</if>
            <if test="currSituation != null and currSituation != ''">curr_situation = #{currSituation},</if>
            <if test="firstSerIllnessDate != null">first_ser_illness_date = #{firstSerIllnessDate},</if>
            <if test="deathDate != null">death_date = #{deathDate},</if>
            <if test="disabilityDate != null">disability_date = #{disabilityDate},</if>
            <if test="preAuthFlag != null">pre_auth_flag = #{preAuthFlag},</if>
            <if test="preAuthItem != null">pre_auth_item = #{preAuthItem},</if>
            <if test="preAuthNo != null">pre_auth_no = #{preAuthNo},</if>
            <if test="materialCompleteDate != null">material_complete_date = #{materialCompleteDate},</if>
            <if test="receiptDate != null">receipt_date = #{receiptDate},</if>
            <if test="priReason != null">pri_reason = #{priReason},</if>
            <if test="accProvince != null">acc_province = #{accProvince},</if>
            <if test="accCity != null">acc_city = #{accCity},</if>
            <if test="accDistrict != null">acc_district = #{accDistrict},</if>
            <if test="accAddress != null">acc_address = #{accAddress},</if>
            <if test="accDescribe != null">acc_describe = #{accDescribe},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where accept_id = #{acceptId}
    </update>

    <delete id="deleteClaimCaseAcceptById" parameterType="String">
        delete from claim_case_accept where rpt_no = #{rptNo}
    </delete>

    <delete id="deleteClaimCaseAcceptByIds" parameterType="String">
        delete from claim_case_accept where rpt_no in 
        <foreach item="rptNo" collection="array" open="(" separator="," close=")">
            #{rptNo}
        </foreach>
    </delete>
    
</mapper>