<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimflow.mapper.ClaimCaseCalItemMapper">
    
    <resultMap type="com.paic.ehis.claimflow.domain.ClaimCaseCalItem" id="ClaimCaseCalItemResult">
        <result property="calItemId"    column="cal_item_id"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="billDetailId"    column="bill_detail_id"    />
        <result property="billId"    column="bill_id"    />
        <result property="policyNo"    column="policy_no"    />
        <result property="policyItemNo"    column="policy_item_no"    />
        <result property="riskCode"    column="risk_code"    />
        <result property="planCode"    column="plan_code"    />
        <result property="dutyDetailCode"    column="duty_detail_code"    />
        <result property="dutyCode"    column="duty_code"    />
        <result property="feeItemCode"    column="fee_item_code"    />
        <result property="calAmount"    column="cal_amount"    />
        <result property="refusedAmount"    column="refused_amount"    />
        <result property="deduUsed"    column="dedu_used"    />
        <result property="payRate"    column="pay_rate"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="com.paic.ehis.claimflow.domain.vo.CaseCalBillItemVo" id="CaseCalBillItemResult">
        <result property="calItemId"    column="cal_item_id"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="billId"    column="bill_id"    />
        <result property="policyNo"    column="policy_no"    />
        <result property="dutyDetailCode"    column="duty_detail_code"    />
        <result property="dutyDetailName"    column="duty_detail_name"    />
        <result property="riskCode"    column="risk_code"    />
        <result property="feeItemCode"    column="fee_item_code"    />
        <result property="feeItemName"    column="fee_item_name"    />
        <result property="billDetailAmount"    column="bill_detail_amount"    />
        <result property="selfAmount"    column="self_amount"    />
        <result property="partSelfAmount"    column="part_self_amount"    />
        <result property="advancePayment"    column="advance_payment"    />
        <result property="billDetailCopay"    column="bill_detail_copay"    />
        <result property="hosDiscountAmount"    column="hos_discount_amount"    />
        <result property="unableAmount"    column="unable_amount"    />
        <result property="calAmount"    column="cal_amount"    />
        <result property="refusedAmount"    column="refused_amount"    />
        <result property="deduUsed"    column="dedu_used"    />
        <result property="payRate"    column="pay_rate"    />
    </resultMap>

    <sql id="selectClaimCaseCalItemVo">
        select cal_item_id, rpt_no, bill_detail_id, bill_id, policy_no, policy_item_no, risk_code, plan_code, duty_detail_code, duty_code, fee_item_code, cal_amount, refused_amount, dedu_used, pay_rate, status, create_by, create_time, update_by, update_time from claim_case_cal_item
    </sql>

    <select id="selectClaimCaseCalItemList" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseCalItem" resultMap="ClaimCaseCalItemResult">
        <include refid="selectClaimCaseCalItemVo"/>
        <where>  
            <if test="rptNo != null  and rptNo != ''"> and rpt_no = #{rptNo}</if>
            <if test="billDetailId != null "> and bill_detail_id = #{billDetailId}</if>
            <if test="billId != null "> and bill_id = #{billId}</if>
            <if test="policyNo != null  and policyNo != ''"> and policy_no = #{policyNo}</if>
            <if test="policyItemNo != null  and policyItemNo != ''"> and policy_item_no = #{policyItemNo}</if>
            <if test="riskCode != null  and riskCode != ''"> and risk_code = #{riskCode}</if>
            <if test="planCode != null  and planCode != ''"> and plan_code = #{planCode}</if>
            <if test="dutyDetailCode != null  and dutyDetailCode != ''"> and duty_detail_code = #{dutyDetailCode}</if>
            <if test="dutyCode != null  and dutyCode != ''"> and duty_code = #{dutyCode}</if>
            <if test="feeItemCode != null  and feeItemCode != ''"> and fee_item_code = #{feeItemCode}</if>
            <if test="calAmount != null "> and cal_amount = #{calAmount}</if>
            <if test="refusedAmount != null "> and refused_amount = #{refusedAmount}</if>
            <if test="deduUsed != null "> and dedu_used = #{deduUsed}</if>
            <if test="payRate != null "> and pay_rate = #{payRate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectClaimCaseCalFeeItemList" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseCalItem" resultMap="CaseCalBillItemResult">
        SELECT
        ccci.cal_item_id,
        ccci.bill_id,
        ccci.rpt_no,
        ccci.policy_no,
        ccci.risk_code,
        ccci.duty_detail_code,
        cpdd.duty_detail_name,
        ccbd.fee_item_code,
        ccbd.fee_item_name,
        ccbd.bill_detail_amount,
        ccbd.self_amount,
        ccbd.part_self_amount,
        ccbd.advance_payment,
        ccbd.bill_detail_copay,
        ccbd.hos_discount_amount,
        ccbd.unable_amount,
        ccci.cal_amount,
        ccci.refused_amount,
        ccci.dedu_used,
        ccci.pay_rate
        FROM
        claim_case_cal_item ccci
        LEFT JOIN claim_case_bill_detail ccbd ON ccci.bill_detail_id = ccbd.detail_id
        AND ccbd.STATUS = 'Y'
        LEFT JOIN claim_product_duty_detail cpdd ON cpdd.duty_detail_code = ccci.duty_detail_code
        AND ccbd.STATUS = 'Y'
        <where>
            <if test="rptNo != null  and rptNo != ''"> and ccci.rpt_no = #{rptNo}</if>
            <if test="billId != null "> and ccci.bill_id = #{billId}</if>
            <if test="policyNo != null  and policyNo != ''"> and policy_no = #{policyNo}</if>
            <if test="policyItemNo != null  and policyItemNo != ''"> and policy_item_no = #{policyItemNo}</if>
            <if test="riskCode != null  and riskCode != ''"> and risk_code = #{riskCode}</if>
            <if test="planCode != null  and planCode != ''"> and plan_code = #{planCode}</if>
            <if test="dutyDetailCode != null  and dutyDetailCode != ''"> and duty_detail_code = #{dutyDetailCode}</if>
            <if test="dutyCode != null  and dutyCode != ''"> and duty_code = #{dutyCode}</if>
            <if test="feeItemCode != null  and feeItemCode != ''"> and fee_item_code = #{feeItemCode}</if>
            <if test="calAmount != null "> and cal_amount = #{calAmount}</if>
            <if test="refusedAmount != null "> and refused_amount = #{refusedAmount}</if>
            <if test="deduUsed != null "> and dedu_used = #{deduUsed}</if>
            <if test="payRate != null "> and pay_rate = #{payRate}</if>
            <if test="status != null  and status != ''"> and ccci.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimCaseCalItemById" parameterType="Long" resultMap="ClaimCaseCalItemResult">
        <include refid="selectClaimCaseCalItemVo"/>
        where cal_item_id = #{calItemId}
    </select>
        
    <insert id="insertClaimCaseCalItem" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseCalItem" useGeneratedKeys="true" keyProperty="calItemId">
        insert into claim_case_cal_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no,</if>
            <if test="billDetailId != null">bill_detail_id,</if>
            <if test="billId != null">bill_id,</if>
            <if test="policyNo != null and policyNo != ''">policy_no,</if>
            <if test="policyItemNo != null and policyItemNo != ''">policy_item_no,</if>
            <if test="riskCode != null and riskCode != ''">risk_code,</if>
            <if test="planCode != null and planCode != ''">plan_code,</if>
            <if test="dutyDetailCode != null and dutyDetailCode != ''">duty_detail_code,</if>
            <if test="dutyCode != null and dutyCode != ''">duty_code,</if>
            <if test="feeItemCode != null and feeItemCode != ''">fee_item_code,</if>
            <if test="calAmount != null">cal_amount,</if>
            <if test="refusedAmount != null">refused_amount,</if>
            <if test="deduUsed != null">dedu_used,</if>
            <if test="payRate != null">pay_rate,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">#{rptNo},</if>
            <if test="billDetailId != null">#{billDetailId},</if>
            <if test="billId != null">#{billId},</if>
            <if test="policyNo != null and policyNo != ''">#{policyNo},</if>
            <if test="policyItemNo != null and policyItemNo != ''">#{policyItemNo},</if>
            <if test="riskCode != null and riskCode != ''">#{riskCode},</if>
            <if test="planCode != null and planCode != ''">#{planCode},</if>
            <if test="dutyDetailCode != null and dutyDetailCode != ''">#{dutyDetailCode},</if>
            <if test="dutyCode != null and dutyCode != ''">#{dutyCode},</if>
            <if test="feeItemCode != null and feeItemCode != ''">#{feeItemCode},</if>
            <if test="calAmount != null">#{calAmount},</if>
            <if test="refusedAmount != null">#{refusedAmount},</if>
            <if test="deduUsed != null">#{deduUsed},</if>
            <if test="payRate != null">#{payRate},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimCaseCalItem" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseCalItem">
        update claim_case_cal_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no = #{rptNo},</if>
            <if test="billDetailId != null">bill_detail_id = #{billDetailId},</if>
            <if test="billId != null">bill_id = #{billId},</if>
            <if test="policyNo != null and policyNo != ''">policy_no = #{policyNo},</if>
            <if test="policyItemNo != null and policyItemNo != ''">policy_item_no = #{policyItemNo},</if>
            <if test="riskCode != null and riskCode != ''">risk_code = #{riskCode},</if>
            <if test="planCode != null and planCode != ''">plan_code = #{planCode},</if>
            <if test="dutyDetailCode != null and dutyDetailCode != ''">duty_detail_code = #{dutyDetailCode},</if>
            <if test="dutyCode != null and dutyCode != ''">duty_code = #{dutyCode},</if>
            <if test="feeItemCode != null and feeItemCode != ''">fee_item_code = #{feeItemCode},</if>
            <if test="calAmount != null">cal_amount = #{calAmount},</if>
            <if test="refusedAmount != null">refused_amount = #{refusedAmount},</if>
            <if test="deduUsed != null">dedu_used = #{deduUsed},</if>
            <if test="payRate != null">pay_rate = #{payRate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where cal_item_id = #{calItemId}
    </update>

    <update id="updateClaimCaseCalItemByRptNo" parameterType="com.paic.ehis.claimflow.domain.ClaimCaseCalItem">
        update claim_case_cal_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="billDetailId != null">bill_detail_id = #{billDetailId},</if>
            <if test="billId != null">bill_id = #{billId},</if>
            <if test="policyNo != null and policyNo != ''">policy_no = #{policyNo},</if>
            <if test="policyItemNo != null and policyItemNo != ''">policy_item_no = #{policyItemNo},</if>
            <if test="riskCode != null and riskCode != ''">risk_code = #{riskCode},</if>
            <if test="planCode != null and planCode != ''">plan_code = #{planCode},</if>
            <if test="dutyDetailCode != null and dutyDetailCode != ''">duty_detail_code = #{dutyDetailCode},</if>
            <if test="dutyCode != null and dutyCode != ''">duty_code = #{dutyCode},</if>
            <if test="feeItemCode != null and feeItemCode != ''">fee_item_code = #{feeItemCode},</if>
            <if test="calAmount != null">cal_amount = #{calAmount},</if>
            <if test="refusedAmount != null">refused_amount = #{refusedAmount},</if>
            <if test="deduUsed != null">dedu_used = #{deduUsed},</if>
            <if test="payRate != null">pay_rate = #{payRate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rpt_no = #{rptNo}
    </update>

    <update id="bulkUpdateClaimCaseCalItem" parameterType="java.util.ArrayList">
        <foreach close=";" collection="list" index="index" item="item" open="" separator=";">
            update claim_case_cal_item
            <trim prefix="SET" suffixOverrides=",">
                <if test="item.policyNo != null and item.policyNo != ''">policy_no = #{item.policyNo},</if>
                <if test="item.policyItemNo != null and item.policyItemNo != ''">policy_item_no = #{item.policyItemNo},</if>
                <if test="item.riskCode != null and item.riskCode != ''">risk_code = #{item.riskCode},</if>
                <if test="item.dutyDetailCode != null and item.dutyDetailCode != ''">duty_detail_code = #{item.dutyDetailCode},</if>
                update_time = now(),
                <if test="item.updateBy != null">update_by = #{item.updateBy},</if>
            </trim>
            where cal_item_id = #{item.calItemId} and status='Y'
        </foreach>
    </update>

    <delete id="deleteClaimCaseCalItemById" parameterType="Long">
        delete from claim_case_cal_item where cal_item_id = #{calItemId}
    </delete>

    <delete id="deleteClaimCaseCalItemByIds" parameterType="String">
        delete from claim_case_cal_item where cal_item_id in 
        <foreach item="calItemId" collection="array" open="(" separator="," close=")">
            #{calItemId}
        </foreach>
    </delete>
    
</mapper>