<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimflow.mapper.ClaimDebtWhitelistMapper">
    
    <resultMap type="com.paic.ehis.claimflow.domain.ClaimDebtWhitelist" id="ClaimDebtWhitelistResult">
        <result property="debtWhitelistId"    column="debt_whitelist_id"    />
        <result property="insuredNo"    column="insured_no"    />
        <result property="level"    column="level"    />
        <result property="recMessageFlag"    column="rec_message_flag"    />
        <result property="debtAmountUp"    column="debt_amount_up"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="name"    column="name"    />
        <result property="idType"    column="id_type"    />
        <result property="idNo"    column="id_no"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="residualAmount" column="residual_amount"/>
    </resultMap>

    <sql id="selectClaimDebtWhitelistVo">
        select debt_whitelist_id, insured_no, level, rec_message_flag, debt_amount_up, status, create_by, create_time, update_by, update_time from claim_debt_whitelist
    </sql>

    <!--条件查询列表-->
    <select id="selectClaimDebtWhitelistList" parameterType="com.paic.ehis.claimflow.domain.ClaimDebtWhitelist" resultMap="ClaimDebtWhitelistResult">
        SELECT
        debt_whitelist_id,
        insured_no,
        LEVEL,
        rec_message_flag,
        debt_amount_up,
        STATUS,
        create_by,
        create_time,
        update_by,
        update_time
        from claim_debt_whitelist
        <where>
            <if test="insuredNos != null  and insuredNos != ''">
                insured_no in
                <foreach collection="insuredNos" item="insuredNos" open="(" separator="," close=")">
                    #{insuredNos}
                </foreach>
            </if>
            <if test="level != null  and level != ''"> and level = #{level}</if>
            <if test="recMessageFlag != null  and recMessageFlag != ''"> and rec_message_flag = #{recMessageFlag}</if>
            <if test="debtAmountUp != null "> and debt_amount_up like concat('%', #{debtAmountUp}, '%')</if>
            AND STATUS = 'Y'
        </where>
      order by create_time desc
    </select>

    <insert id="insertClaimDebtWhitelist" parameterType="com.paic.ehis.claimflow.domain.ClaimDebtWhitelist" useGeneratedKeys="true" keyProperty="debtWhitelistId">
        insert into claim_debt_whitelist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="insuredNo != null and insuredNo != ''">insured_no,</if>
            <if test="level != null and level != ''">level,</if>
            <if test="recMessageFlag != null and recMessageFlag != ''">rec_message_flag,</if>
            <if test="debtAmountUp != null">debt_amount_up,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="insuredNo != null and insuredNo != ''">#{insuredNo},</if>
            <if test="level != null and level != ''">#{level},</if>
            <if test="recMessageFlag != null and recMessageFlag != ''">#{recMessageFlag},</if>
            <if test="debtAmountUp != null">#{debtAmountUp},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimDebtWhitelist" parameterType="com.paic.ehis.claimflow.domain.ClaimDebtWhitelist">
        update claim_debt_whitelist
        <trim prefix="SET" suffixOverrides=",">
            <if test="insuredNo != null and insuredNo != ''">insured_no = #{insuredNo},</if>
            <if test="level != null and level != ''">level = #{level},</if>
            <if test="recMessageFlag != null and recMessageFlag != ''">rec_message_flag = #{recMessageFlag},</if>
            <if test="debtAmountUp != null">debt_amount_up = #{debtAmountUp},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where debt_whitelist_id = #{debtWhitelistId}
    </update>
    <!--单体删除-->
    <delete id="deleteClaimDebtWhitelistById" parameterType="Long">
        update claim_debt_whitelist set status="N" where debt_whitelist_id = #{debtWhitelistId} and status="Y"
    </delete>
    <!--批量删除-->
    <delete id="deleteClaimDebtWhitelistByIds" parameterType="String">
        update claim_debt_whitelist set status="N" where status="Y" and debt_whitelist_id in
        <foreach item="debtWhitelistId" collection="array" open="(" separator="," close=")">
            #{debtWhitelistId}
        </foreach>
    </delete>

    <!--根据被保人客户号查询欠款-->
    <select id="selectResidualList" resultType="com.paic.ehis.claimflow.domain.ClaimDebtWhitelist">
        SELECT
            de.insured_no,
            SUM(de.debt_amount),
            (SUM(de.debt_amount) - (SELECT sum(col_amount) FROM claim_case_debt_col where debt_id in (select debt_id from claim_case_debt where insured_no= #{insuredNo}) and status = 'Y'   )) as residualAmount
        FROM claim_case_debt de
        where de.insured_no= #{insuredNo} and de.status = 'Y'
        GROUP BY de.insured_no
    </select>
</mapper>