<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.finance.mapper.ClaimBatchMapper">

    <resultMap type="com.paic.ehis.finance.domain.ClaimBatch" id="ClaimBatchResult">
        <result property="batchno"    column="batch_no"    />
        <result property="source"    column="source"    />
        <result property="hospitalcode"    column="hospital_code"    />
        <result property="claimtype"    column="claim_type"    />
        <result property="submitdate"    column="submit_date"    />
        <result property="casenum"    column="caseload"    />
        <result property="batchtotal"    column="batch_total"    />
        <result property="organcode"    column="organ_code"    />
        <result property="currency"    column="currency"    />
        <result property="conttype"    column="cont_type"    />
        <result property="billrecevieflag"    column="bill_recevie_flag"    />
        <result property="prireason"    column="pri_reason"    />
        <result property="remark"    column="remark"    />
        <result property="batchstatus"    column="batch_status"    />
        <result property="expressnumber"    column="express_number"    />
        <result property="receivedate"    column="receive_date"    />
        <result property="sendby"    column="send_by"    />
        <result property="speccasetype"    column="speccase_type"    />
        <result property="issuingunit"    column="issuing_unit"    />
        <result property="contno"    column="cont_no"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectClaimBatchVo">
        select batch_no, source, hospital_code, claim_type, submit_date, caseload, batch_total, organ_code, currency, cont_type, bill_recevie_flag, pri_reason, remark, batch_status, express_number, receive_date, send_by, speccase_type, issuing_unit, cont_no, status, create_by, create_time, update_by, update_time from claim_batch
    </sql>

    <select id="selectClaimBatchById" parameterType="String" resultMap="ClaimBatchResult">
        <include refid="selectClaimBatchVo"/>
        where batch_no = #{batchno} and status='Y'
    </select>

    <select id="selectPayBatchInit" parameterType="string" resultType="java.util.HashMap">
select batchNo ,hospitalCode,caseload,batchTotal,isAppeal,organCode,submitDate,calAmount,soi.organ_name organName,source,currency from (
select distinct
    a.batch_no "batchNo",
    a.source "source",
    a.currency "currency",
    a.hospital_code "hospitalCode",
    a.caseload "caseload",
    a.batch_total "batchTotal",
 (select case when count(1) > 0 then '01' else '02' end from claimmain.claim_case bb where bb.batch_no = a.batch_no and bb.is_appeal = '02' and bb.status = 'Y') "isAppeal",
    a.organ_code "organCode",
    a.submit_date "submitDate",
    c.cal_amount "calAmount"
FROM
    (
SELECT
 DISTINCT
	cb.*
FROM
	claimmain.claim_batch cb
	LEFT JOIN claimmain.claim_case cc ON cb.batch_no = cc.batch_no
	LEFT JOIN (select rpt_no,batch_no from claim_case t where t.case_status not in ('07', '08', '97', '98', '99' )) t1 on cc.batch_no = t1.batch_no
WHERE
	cb.claim_flag = '01'
	and cb.claim_type='01'
	AND cc.case_status IN ( '97','98','99' )
	and t1.batch_no is null
union
SELECT
 DISTINCT
	cb.*
FROM
	claimmain.claim_batch cb
	LEFT JOIN claimmain.claim_case cc ON cb.batch_no = cc.batch_no
	LEFT JOIN (select rpt_no,batch_no from claim_case t where t.case_status not in ('07', '08', '97', '98', '99' )) t1 on cc.batch_no = t1.batch_no
WHERE
	cb.claim_flag = '02'
	and cb.claim_type='01'
	AND cc.case_status IN ( '07', '08', '97', '98', '99' )
	and t1.batch_no is null
    ) a,
    claimmain.claim_case b,
    (

  select cc.batch_no ,ccc.bill_currency,sum(ccc.cal_amount) cal_amount
  from claimmain.claim_case cc  left join claimmain.claim_case_cal ccc on ccc.rpt_no=cc.rpt_no
  where cc.case_prop='01' and ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
  group by ccc.bill_currency,cc.batch_no
	union
	 select cc.batch_no ,ccc.bill_currency,sum(ccc.cal_amount) cal_amount
  from claimmain.claim_case cc left join  claimmain.claim_case_cal_core ccc on ccc.rpt_no=cc.rpt_no
  where cc.case_prop='02' and ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
  group by ccc.bill_currency,cc.batch_no
 ) c
    ,(
 select aa.batch_no from
 (
  select cc.batch_no ,ccc.bill_currency
  from claimmain.claim_case_cal ccc left join claimmain.claim_case cc on ccc.rpt_no=cc.rpt_no
  where ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
  group by ccc.bill_currency,cc.batch_no
 ) aa
 group by aa.batch_no having count(*)=1
 ) d
where 1=1
 and d.batch_no=a.batch_no
    AND b.batch_no = a.batch_no
    AND c.batch_no = d.batch_no
    AND a.organ_code = #{organCode}
    AND b.pay_status != '03'
    AND c.bill_currency = 'CNY'
		 ) h
      left join sys_organ_info soi on h.organCode=soi.organ_code and soi.status='Y'
        ORDER BY
            h.submitDate desc
    </select>

    <select id="selectPayBatchList" parameterType="com.paic.ehis.finance.domain.dto.ClaimCasePayDTO" resultType="java.util.HashMap">
       select batchNo ,batchNo batch_no,hospitalCode,caseload,batchTotal,isAppeal,organCode,submitDate,submitDate submit_date,calAmount,soi.organ_name organName ,source,currency from (
select distinct
    a.batch_no "batchNo",
    a.source "source",
    a.currency "currency",
    a.hospital_code "hospitalCode",
    a.caseload "caseload",
    a.batch_total "batchTotal",
 (select case when count(1) > 0 then '01' else '02' end from claimmain.claim_case bb where bb.batch_no = a.batch_no and bb.is_appeal = '02' and bb.status = 'Y') "isAppeal",
    a.organ_code "organCode",
    a.submit_date "submitDate",
    c.cal_amount "calAmount"
FROM
     claimmain.claim_batch a,
    claimmain.claim_case b,
    (
        select cc.batch_no ,ccc.bill_currency,sum(ccc.cal_amount) cal_amount
        from claimmain.claim_case cc  left join claimmain.claim_case_cal ccc on ccc.rpt_no=cc.rpt_no
        where cc.case_prop='01' and ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
        group by ccc.bill_currency,cc.batch_no
        union
        select cc.batch_no ,ccc.bill_currency,sum(ccc.cal_amount) cal_amount
        from claimmain.claim_case cc left join  claimmain.claim_case_cal_core ccc on ccc.rpt_no=cc.rpt_no
        where cc.case_prop='02' and ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
        group by ccc.bill_currency,cc.batch_no
 ) c
    ,(
 select aa.batch_no from
 (
  select cc.batch_no ,ccc.bill_currency
  from claimmain.claim_case_cal ccc left join claimmain.claim_case cc on ccc.rpt_no=cc.rpt_no
  where ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
  group by ccc.bill_currency,cc.batch_no
 ) aa
 group by aa.batch_no having count(*)=1
 ) d
where 1=1
 and d.batch_no=a.batch_no
    AND b.batch_no = a.batch_no
    AND a.claim_type = '01'
    AND c.batch_no = d.batch_no
    AND a.organ_code = #{organCode}
    AND c.bill_currency = 'CNY'
		 ) h
      left join sys_organ_info soi on h.organCode=soi.organ_code and soi.status='Y'
        <where>
            <if test="batchNo != null  and batchNo != ''"> and batchNo = #{batchNo}</if>
            <if test="hospitalCode != null  and hospitalCode != ''"> and hospitalCode = #{hospitalCode}</if>
             <if test="complainStatus != null  and complainStatus != ''"> and isAppeal = #{complainStatus}</if>
            <if test="startDate != null and endDate != null "> and submitDate between #{startDate} and #{endDate}</if>
             <if test="organCode != null  and organCode != ''"> and organCode = #{organCode}</if>
        </where>
    </select>

    <select id="selectPayForeignBatchInit" parameterType="string" resultType="java.util.HashMap">
        select batchNo ,hospitalCode,caseload,batchTotal,isAppeal,organCode,submitDate,calAmount,soi.organ_name organName,source,currency   from (
select distinct
    a.batch_no "batchNo",
    a.source "source",
    a.currency "currency",
    a.hospital_code "hospitalCode",
    a.caseload "caseload",
    a.batch_total "batchTotal",
 (select case when count(1) > 0 then '01' else '02' end from claimmain.claim_case bb where bb.batch_no = a.batch_no and bb.is_appeal = '02' and bb.status = 'Y') "isAppeal",
    a.organ_code "organCode",
    a.submit_date "submitDate",
    c.cal_amount "calAmount"
FROM
    (
SELECT
 DISTINCT
	cb.*
FROM
	claimmain.claim_batch cb
	LEFT JOIN claimmain.claim_case cc ON cb.batch_no = cc.batch_no
	LEFT JOIN (select rpt_no,batch_no from claim_case t where t.case_status not in ('07', '08', '97', '98', '99' )) t1 on cc.batch_no = t1.batch_no
WHERE
	cb.claim_flag = '01'
	AND cb.claim_type = '01'
	AND cc.case_status IN ( '97','98','99' )
	and t1.batch_no is null
union
SELECT
 DISTINCT
	cb.*
FROM
	claimmain.claim_batch cb
	LEFT JOIN claimmain.claim_case cc ON cb.batch_no = cc.batch_no
	LEFT JOIN (select rpt_no,batch_no from claim_case t where t.case_status not in ('07', '08', '97', '98', '99' )) t1 on cc.batch_no = t1.batch_no
WHERE
	cb.claim_flag = '02'
	AND cb.claim_type = '01'
	AND cc.case_status IN ( '07', '08', '97', '98', '99' )
	and t1.batch_no is null
    ) a,
    claimmain.claim_case b,
    (

  select cc.batch_no ,ccc.bill_currency,sum(ccc.cal_amount) cal_amount
  from claimmain.claim_case cc  left join claimmain.claim_case_cal ccc on ccc.rpt_no=cc.rpt_no
  where cc.case_prop='01' and ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
  group by ccc.bill_currency,cc.batch_no
	union
	 select cc.batch_no ,ccc.bill_currency,sum(ccc.cal_amount) cal_amount
  from claimmain.claim_case cc left join  claimmain.claim_case_cal_core ccc on ccc.rpt_no=cc.rpt_no
  where cc.case_prop='02' and ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
  group by ccc.bill_currency,cc.batch_no
 ) c
    ,(
 select aa.batch_no from
 (
  select cc.batch_no ,ccc.bill_currency
  from claimmain.claim_case_cal ccc left join claimmain.claim_case cc on ccc.rpt_no=cc.rpt_no
  where ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
  group by ccc.bill_currency,cc.batch_no
 ) aa
 group by aa.batch_no having count(*)=1
 ) d
where 1=1
 and d.batch_no=a.batch_no
    AND b.batch_no = a.batch_no
    AND c.batch_no = d.batch_no
    AND a.organ_code = #{organCode}
    AND b.pay_status != '03'
    AND c.bill_currency != 'CNY'
		 ) h
      left join sys_organ_info soi on h.organCode=soi.organ_code and soi.status='Y'
        ORDER BY
            h.submitDate desc
    </select>

    <select id="selectPayForeignBatchList" parameterType="com.paic.ehis.finance.domain.dto.ClaimCasePayDTO" resultType="java.util.HashMap">
        select batchNo ,batchNo batch_no,hospitalCode,caseload,batchTotal,isAppeal,organCode,submitDate,submitDate submit_date,calAmount,soi.organ_name organName ,source,currency from (
select distinct
    a.batch_no "batchNo",
    a.source "source",
    a.currency "currency",
    a.hospital_code "hospitalCode",
    a.caseload "caseload",
    a.batch_total "batchTotal",
 (select case when count(1) > 0 then '01' else '02' end from claimmain.claim_case bb where bb.batch_no = a.batch_no and bb.is_appeal = '02' and bb.status = 'Y') "isAppeal",
    a.organ_code "organCode",
    a.submit_date "submitDate",
    c.cal_amount "calAmount"
FROM
     claimmain.claim_batch a,
    claimmain.claim_case b,
    (

        select cc.batch_no ,ccc.bill_currency,sum(ccc.cal_amount) cal_amount
        from claimmain.claim_case cc  left join claimmain.claim_case_cal ccc on ccc.rpt_no=cc.rpt_no
        where cc.case_prop='01' and ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
        group by ccc.bill_currency,cc.batch_no
        union
        select cc.batch_no ,ccc.bill_currency,sum(ccc.cal_amount) cal_amount
        from claimmain.claim_case cc left join  claimmain.claim_case_cal_core ccc on ccc.rpt_no=cc.rpt_no
        where cc.case_prop='02' and ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
        group by ccc.bill_currency,cc.batch_no
 ) c
    ,(
 select aa.batch_no from
 (
  select cc.batch_no ,ccc.bill_currency
  from claimmain.claim_case_cal ccc left join claimmain.claim_case cc on ccc.rpt_no=cc.rpt_no
  where ccc.STATUS = 'Y' AND cc.STATUS = 'Y'
  group by ccc.bill_currency,cc.batch_no
 ) aa
 group by aa.batch_no having count(*)=1
 ) d
where 1=1
 and d.batch_no=a.batch_no
    AND b.batch_no = a.batch_no
    AND a.claim_type = '01'
    AND c.batch_no = d.batch_no
    AND a.organ_code = #{organCode}
    AND c.bill_currency != 'CNY'
		 ) h
      left join sys_organ_info soi on h.organCode=soi.organ_code and soi.status='Y'
        <where>
            <if test="batchNo != null  and batchNo != ''"> and batchNo = #{batchNo}</if>
            <if test="hospitalCode != null  and hospitalCode != ''"> and hospitalCode = #{hospitalCode}</if>
            <if test="startDate != null and endDate != null "> and submitDate between #{startDate} and #{endDate}</if>
            <if test="complainStatus != null  and complainStatus != ''"> and isAppeal = #{complainStatus}</if>
        </where>
    </select>

</mapper>