<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.finance.mapper.ClaimCasePayMapper">
    <resultMap type="com.paic.ehis.finance.domain.vo.ClaimCasePayInfoVO" id="PayResult">
        <result property="rptNo"    column="rpt_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="name"    column="name"    />
        <result property="caseStatus"    column="case_status"    />
        <result property="payAmount"    column="pay_amount"    />
        <result property="treatmentDate"    column="treatment_date"    />
        <result property="companyName"    column="company_name"    />
        <result property="billAmount"    column="bill_amount"    />
        <result property="discountedAmount"    column="discounted_amount"    />
        <result property="advancePayment"    column="advance_payment"    />
        <result property="copay"    column="copay"    />
        <result property="debtAmount"    column="debt_amount"    />
        <result property="borrowAmount"    column="borrow_amount"    />
        <result property="payStatus"    column="pay_status"    />
    </resultMap>
    <resultMap type="com.paic.ehis.finance.domain.vo.ClaimCaseForeignPayInfoVO" id="ForeignPayResult">
        <result property="rptNo"    column="rpt_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="name"    column="name"    />
        <result property="caseStatus"    column="case_status"    />
        <result property="payAmount"    column="pay_amount"    />
        <result property="treatmentDate"    column="treatment_date"    />
        <result property="companyName"    column="company_name"    />
        <result property="billAmount"    column="bill_amount"    />
        <result property="discountedAmount"    column="discounted_amount"    />
        <result property="advancePayment"    column="advance_payment"    />
        <result property="copay"    column="copay"    />
        <result property="debtAmount"    column="debt_amount"    />
        <result property="borrowAmount"    column="borrow_amount"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="exchangeRate" column="exchange_rate"/>
        <result property="payAmountForeign" column="pay_amount_foreign"/>
        <result property="billCurrency" column="bill_currency"/>
    </resultMap>

    <select id="selectPayInfoList" parameterType="string" resultMap="PayResult">
                 select * from (
			SELECT
            a.rpt_no,
            min( b.treatment_start_date ) treatment_date,
            c.insured_no,
            c.name,
            sum( b.bill_amount ) bill_amount,
            (sum( ifNUll(b.bill_amount,0) ) - sum( ifNUll(b.hos_discount_amount,0) )) discounted_amount,
            sum( ifNUll(b.tp_advance_payment + b.ss_advance_payment,0) ) advance_payment,
            sum( ifNUll(b.copay,0)) copay,
            ifNUll(d.cal_amount,0) pay_amount,
            ifNUll(d.debt_amount,0) debt_amount,
            a.case_status,
            a.pay_status,
            a.case_prop,
            d.bill_currency currency
        FROM
            claim_case a
            LEFT JOIN claim_case_bill b ON a.rpt_no = b.rpt_no  AND b.`status` = 'Y'
            LEFT JOIN claim_case_insured c ON a.rpt_no = c.rpt_no  AND c.`status` = 'Y'
            LEFT JOIN claim_case_cal d ON a.rpt_no = d.rpt_no  AND d.`status` = 'Y'
        WHERE
            a.batch_no = #{batchNo}
            AND a.STATUS = 'Y' and a.case_prop='01'
        GROUP BY
            a.rpt_no,
            c.`name`,
            d.cal_amount,
            d.debt_amount,
            c.insured_no,
            d.bill_currency
				union
		SELECT
            a.rpt_no,
            d.treatment_start_date treatment_date,
            c.insured_no,
            c.name,
            d.bill_amount bill_amount,
            (ifNUll(d.bill_amount,0)  - ifNUll(d.hos_discount_amount,0) ) discounted_amount,
            ifNUll(d.tp_advance_payment +d.ss_advance_payment,0)  advance_payment,
            ifNUll(d.copay,0) copay,
            ifNUll(d.cal_amount,0) pay_amount,
            ifNUll(c.fee_amount,0) debt_amount,
            a.case_status,
            a.pay_status,
            a.case_prop,
            d.bill_currency currency
        FROM
            claim_case a
            LEFT JOIN claim_case_cal_core_policy c ON a.rpt_no = c.rpt_no  AND c.`status` = 'Y' and c.amount_type='04'
            LEFT JOIN claim_case_cal_core d ON a.rpt_no = d.rpt_no  AND d.`status` = 'Y'
        WHERE
            a.batch_no = #{batchNo}
            AND a.STATUS = 'Y' and a.case_prop='02'
						) h
		ORDER BY
			h.rpt_no
    </select>

    <select id="selectForeignPayInfoList" parameterType="string" resultMap="ForeignPayResult">
         select * from (
		 SELECT
            a.rpt_no,
            min( b.treatment_start_date ) treatment_date,
            c.`name`,
            sum( ifNUll(b.bill_amount,0) ) bill_amount,
            (sum( ifNUll(b.bill_amount,0) ) - sum( ifNUll(b.hos_discount_amount,0) )) discounted_amount,
            sum( ifNUll(b.tp_advance_payment + b.ss_advance_payment,0) ) advance_payment,
            sum( ifNUll(b.copay,0) ) copay,
            ifNUll(d.cal_amount,0) pay_amount,
            ifNUll(d.debt_amount,0) debt_amount,
			d.exchange_rate,
			ifNUll(d.pay_amount_foreign,0) pay_amount_foreign,
            a.case_status,
            a.pay_status,
            a.case_prop,
			d.bill_currency
        FROM
            claim_case a
            LEFT JOIN claim_case_bill b ON a.rpt_no = b.rpt_no AND b.`status` = 'Y'
            LEFT JOIN claim_case_insured c ON a.rpt_no = c.rpt_no AND c.`status` = 'Y'
            LEFT JOIN claim_case_cal d ON a.rpt_no = d.rpt_no AND d.`status` = 'Y'
        WHERE
            a.batch_no = #{batchNo}
            AND a.STATUS = 'Y' and a.case_prop='01'
        GROUP BY
            a.rpt_no,
            c.`name`,
            d.cal_amount,
            d.debt_amount,
            d.exchange_rate,
            d.pay_amount_foreign,
			      d.bill_currency
				union
		SELECT
            a.rpt_no,
            d.treatment_start_date treatment_date,
            c.name,
            d.bill_amount bill_amount,
            (ifNUll(d.bill_amount,0)  - ifNUll(d.hos_discount_amount,0) ) discounted_amount,
            ifNUll(d.tp_advance_payment +d.ss_advance_payment,0)  advance_payment,
            ifNUll(d.copay,0) copay,
            ifNUll(d.cal_amount,0) pay_amount,
            ifNUll(c.fee_amount,0) debt_amount,
			d.exchange_rate,
		    ifNUll(d.pay_amount_foreign,0) pay_amount_foreign,
            a.case_status,
            a.pay_status,
            a.case_prop,
			d.bill_currency
        FROM
            claim_case a
            LEFT JOIN claim_case_cal_core_policy c ON a.rpt_no = c.rpt_no  AND c.`status` = 'Y' and c.amount_type='04'
            LEFT JOIN claim_case_cal_core d ON a.rpt_no = d.rpt_no  AND d.`status` = 'Y'
        WHERE
            a.batch_no =#{batchNo}
            AND a.STATUS = 'Y' and a.case_prop='02'
						) h
		ORDER BY
			h.rpt_no
    </select>

</mapper>