<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.finance.mapper.ClaimBatchMapper">

    <resultMap type="ClaimBatch" id="ClaimBatchResult">
        <result property="batchno"    column="batch_no"    />
        <result property="source"    column="source"    />
        <result property="hospitalcode"    column="hospital_code"    />
        <result property="claimtype"    column="claim_type"    />
        <result property="submitdate"    column="submit_date"    />
        <result property="casenum"    column="caseload"    />
        <result property="batchtotal"    column="batch_total"    />
        <result property="organcode"    column="organ_code"    />
        <result property="currency"    column="currency"    />
        <result property="conttype"    column="cont_type"    />
        <result property="billrecevieflag"    column="bill_recevie_flag"    />
        <result property="prireason"    column="pri_reason"    />
        <result property="remark"    column="remark"    />
        <result property="batchstatus"    column="batch_status"    />
        <result property="expressnumber"    column="express_number"    />
        <result property="receivedate"    column="receive_date"    />
        <result property="sendby"    column="send_by"    />
        <result property="speccasetype"    column="speccase_type"    />
        <result property="issuingunit"    column="issuing_unit"    />
        <result property="contno"    column="cont_no"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="selectClaimBatchById" parameterType="String" resultMap="ClaimBatchResult">
        <include refid="selectClaimBatchVo"/>
        where batch_no = #{batchno} and status='Y'
    </select>

    <select id="selectPayBatchInit" parameterType="string" resultType="java.util.HashMap">
        SELECT
            a.batch_no "batchNo",
            a.hospital_code "hospitalCode",
            a.caseload "caseload",
            a.batch_total "batchTotal",
            b.is_appeal "isAppeal",
            a.organ_code "organCode",
            a.submit_date "submitDate",
            SUM( c.cal_amount ) "calAmount"
        FROM
            claim_batch a,
            claim_case b,
            claim_case_cal c
        WHERE
            b.batch_no = a.batch_no
            AND c.rpt_no = b.rpt_no
            AND a.organ_code = #{deptId}
            AND b.pay_status != '03'
            AND a.currency = 'CNY'
            AND a.STATUS = 'Y'
            AND b.STATUS = 'Y'
            AND c.STATUS = 'Y'
        GROUP BY
            a.batch_no,
            b.is_appeal
        ORDER BY
            a.submit_date desc
    </select>

    <select id="selectPayBatchList" parameterType="com.paic.ehis.finance.domain.dto.ClaimCasePayDTO" resultType="java.util.HashMap">
        SELECT
            a.batch_no "batchNo",
            a.hospital_code "hospitalCode",
            a.caseload "caseload",
            a.batch_total "batchTotal",
            b.is_appeal "isAppeal",
            a.organ_code "organCode",
            a.submit_date "submitDate",
            SUM( c.cal_amount ) "calAmount"
        FROM
            claim_batch a,
            claim_case b,
            claim_case_cal c
        WHERE
            b.batch_no = a.batch_no
            AND b.rpt_no = c.rpt_no
            AND a.currency = 'CNY'
            AND a.STATUS = 'Y'
            AND b.STATUS = 'Y'
            AND c.STATUS = 'Y'
            <if test="batchNo != null  and batchNo != ''"> and a.batch_no = #{batchNo}</if>
            <if test="complainStatus == '01'"> and b.is_appeal = '01' </if>
            <if test="complainStatus == '02'"> and b.is_appeal = '02' </if>
            <if test="startDate != null  and startDate != ''"> and a.submit_date BETWEEN #{startDate} AND #{endDate} </if>
            <if test="organCode != null  and organCode != ''"> and a.organ_code = #{organCode}</if>
        GROUP BY
            a.batch_no,
            b.is_appeal
        ORDER BY
            a.submit_date desc
    </select>

    <select id="selectPayForeignBatchInit" parameterType="string" resultType="java.util.HashMap">
        SELECT
            a.batch_no "batchNo",
            a.hospital_code "hospitalCode",
            a.caseload "caseload",
            a.batch_total "batchTotal",
            b.is_appeal "isAppeal",
            a.organ_code "organCode",
            a.submit_date "submitDate",
            SUM( c.cal_amount ) "calAmount"
        FROM
            claim_batch a,
            claim_case b,
            claim_case_cal c
        WHERE
            b.batch_no = a.batch_no
            AND c.rpt_no = b.rpt_no
            AND a.organ_code = #{deptId}
            AND b.pay_status != '03'
            AND a.currency != 'CNY'
            AND a.STATUS = 'Y'
            AND b.STATUS = 'Y'
            AND c.STATUS = 'Y'
        GROUP BY
            a.batch_no,
            b.is_appeal
        ORDER BY
            a.submit_date desc
    </select>

    <select id="selectPayForeignBatchList" parameterType="com.paic.ehis.finance.domain.dto.ClaimCasePayDTO" resultType="java.util.HashMap">
        SELECT
            a.batch_no "batchNo",
            a.hospital_code "hospitalCode",
            a.caseload "caseload",
            a.batch_total "batchTotal",
            b.is_appeal "isAppeal",
            a.organ_code "organCode",
            a.submit_date "submitDate",
            SUM( c.cal_amount ) "calAmount"
        FROM
            claim_batch a,
            claim_case b,
            claim_case_cal c
        WHERE
            b.batch_no = a.batch_no
            AND b.rpt_no = c.rpt_no
            AND a.currency != 'CNY'
            AND a.STATUS = 'Y'
            AND b.STATUS = 'Y'
            AND c.STATUS = 'Y'
            <if test="batchNo != null  and batchNo != ''"> and a.batch_no = #{batchNo}</if>
            <if test="complainStatus == '01'"> and b.is_appeal = '01' </if>
            <if test="complainStatus == '02'"> and b.is_appeal = '02' </if>
            <if test="startDate != null  and startDate != ''"> and a.submit_date BETWEEN #{startDate} AND #{endDate} </if>
            <if test="organCode != null  and organCode != ''"> and a.organ_code = #{organCode}</if>
        GROUP BY
            a.batch_no,
            b.is_appeal
        ORDER BY
            a.submit_date desc
    </select>

</mapper>