<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.finance.mapper.FinanceTpaSettleTaskMapper">

    <resultMap type="com.paic.ehis.finance.domain.FinanceTpaSettleTask" id="FinanceTpaSettleTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="settleTaskNo"    column="settle_task_no"    />
        <result property="companyCode"    column="company_code"    />
        <result property="companyName"    column="company_name"    />
        <result property="settlementType"    column="settlement_type"    />
        <result property="serviceSettleAmount"    column="service_settle_amount"    />
        <result property="settleEndDate"    column="settle_end_date"    />
        <result property="settleStatus"    column="settle_status"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptCode"    column="dept_code"    />
    </resultMap>

    <resultMap type="com.paic.ehis.finance.domain.TpaSettleInfo" id="TpaSettleTaskViewDetailResult">
        <result property="settleTaskNo"    column="settle_task_no"    />
        <result property="companyCode"    column="company_code"    />
        <result property="companyName"    column="company_name"    />
        <result property="riskCode"    column="risk_code"    />
        <result property="riskName"    column="risk_name"    />
        <result property="settlementType"    column="settlement_type"    />
        <result property="settlementValue"    column="settlement_value"    />
        <result property="serviceSettleAmount"    column="service_settle_amount"    />
        <result property="totalPeople"    column="totalPeople"   />
        <result property="remark"       column="remark"     />

        <collection property="detailInfos" ofType="com.paic.ehis.finance.domain.TpaSettleDetailInfo"
                    javaType="ArrayList" column="settle_task_no" select="selectFinanceTpaSettleDetailBySettleTaskNo"/>
    </resultMap>

    <resultMap type="com.paic.ehis.finance.domain.FinanceCollectionInfo" id="FinanceCollectionInfoResult">
        <result property="collectionId"    column="collection_id"    />
        <result property="receiptNo"    column="receipt_no"    />
        <result property="receiptAccName"    column="receipt_acc_name"    />
        <result property="receiptCompanyName"    column="receipt_company_name"    />
        <result property="receiptAmount"    column="receipt_amount"    />
        <result property="receiptDate"    column="receipt_date"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFinanceTpaSettleTaskVo">
        select task_id, settle_task_no, company_code, settlement_type, service_settle_amount, settle_end_date, settle_status, status, remark, create_by, create_time, update_by, update_time, dept_code from finance_tpa_settle_task
    </sql>

    <select id="selectFinanceTpaSettleTaskList" parameterType="FinanceTpaSettleTask" resultMap="FinanceTpaSettleTaskResult">
        <include refid="selectFinanceTpaSettleTaskVo"/>
        <where>
            <if test="settleTaskNo != null  and settleTaskNo != ''"> and settle_task_no = #{settleTaskNo}</if>
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="settlementType != null  and settlementType != ''"> and settlement_type = #{settlementType}</if>
            <if test="serviceSettleAmount != null "> and service_settle_amount = #{serviceSettleAmount}</if>
            <if test="settleEndDate != null "> and settle_end_date = #{settleEndDate}</if>
            <if test="settleStatus != null  and settleStatus != ''"> and settle_status = #{settleStatus}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="deptCode != null  and deptCode != ''"> and dept_code = #{deptCode}</if>
        </where>
    </select>

    <select id="selectFinanceTpaSettleTaskViewDetail" parameterType="FinanceTpaSettleTask" resultMap="TpaSettleTaskViewDetailResult">
        SELECT
        task.settle_task_no,
        task.company_code,
        company.company_name,
        detail.risk_code,
        detail.risk_name,
        detail.settlement_value,
        task.settlement_type,
        task.service_settle_amount,
        task.remark,
        ft.totalPeople
        FROM
        finance_tpa_settle_task task
        LEFT JOIN (
        SELECT
        ftsd.settle_task_no,
        ftsd.risk_code,
        product.risk_name,
        rule.settlement_value
        FROM
        finance_tpa_settle_detail ftsd
        LEFT JOIN claim_product product ON ftsd.risk_code = product.risk_code
        AND product.STATUS = 'Y'
        left join base_issuingcompany_rule rule on rule.company_code=ftsd.company_code and ftsd.risk_code=rule.risk_code and rule.status='Y'
        WHERE
        ftsd.STATUS = 'Y'
        LIMIT 1
        ) detail ON detail.settle_task_no = task.settle_task_no
        LEFT JOIN  base_issuingcompany company ON company.company_code = task.company_code AND company.STATUS = 'Y'
        LEFT JOIN (
        SELECT COUNT( policy_no ) AS totalPeople,
        settle_task_no
        FROM finance_tpa_settle_detail
        WHERE STATUS = 'Y'
        GROUP BY settle_task_no LIMIT 1 ) ft
        ON ft.settle_task_no = task.settle_task_no
        <where>
            <if test="settleTaskNo != null  and settleTaskNo != ''"> and task.settle_task_no = #{settleTaskNo}</if>
        </where>
    </select>

    <select id="selectTpaSettleTaskList" parameterType="com.paic.ehis.finance.domain.dto.TpaSettleDTO" resultMap="FinanceTpaSettleTaskResult">
        SELECT DISTINCT
        ftsk.settle_task_no,
        ftsk.company_code,
        company.company_name,
        ftsk.settlement_type,
        ftsk.service_settle_amount,
        ftsk.settle_end_date,
        ftsk.settle_status,
        ftsk.create_time
        FROM
        finance_tpa_settle_task ftsk
        LEFT JOIN base_issuingcompany company ON company.company_code = ftsk.company_code and company.status='Y'
        LEFT JOIN base_issuingcompany_riskrela bir ON bir.company_code = ftsk.company_code and bir.status='Y'
        <where>
            <if test="settleTaskNo != null  and settleTaskNo != ''"> and ftsk.settle_task_no = #{settleTaskNo}</if>
            <if test="companyCode != null  and companyCode != ''"> and ftsk.company_code = #{companyCode}</if>
            <if test="riskCode != null  and riskCode != ''"> and bir.risk_code = #{riskCode}</if>
            <if test="settlementType != null  and settlementType != ''"> and ftsk.settlement_type = #{settlementType}</if>
            <if test="settleEndDate != null "> and ftsk.settle_end_date = #{settleEndDate}</if>
            <if test="settleStatus != null  and settleStatus != ''"> and ftsk.settle_status in (${settleStatus})</if>
            <if test="status != null  and status != ''"> and ftsk.status = #{status}</if>
            <if test="creationStartDate != null  and creationEndDate != null"> and ftsk.create_time between #{creationStartDate} and #{creationEndDate}</if>
            <if test="deptCode != null  and deptCode != ''"> and ftsk.dept_code = #{deptCode}</if>
        </where>
    </select>

    <select id="selectFinanceTpaSettleTaskById" parameterType="Long" resultMap="FinanceTpaSettleTaskResult">
        <include refid="selectFinanceTpaSettleTaskVo"/>
        where task_id = #{taskId}
    </select>

    <select id="selectTpaTaskReceiptColList" parameterType="com.paic.ehis.finance.domain.dto.TpaSettleDTO" resultMap="FinanceCollectionInfoResult">
        SELECT
        info.receipt_acc_name,
        info.receipt_amount,
        info.receipt_date,
        info.remark,
        info.update_by
        FROM
        finance_receipt_col col
        LEFT JOIN finance_collection_info info ON info.receipt_no = col.receipt_no
        AND info.STATUS = 'Y'
        LEFT JOIN finance_tpa_settle_task task ON task.settle_task_no = task_no
        AND task.STATUS = 'Y'
        <where>
            <if test="companyCode != null  and companyCode != ''"> and task.company_code = #{companyCode}</if>
            <if test="receiptNo != null  and receiptNo != ''"> and col.receipt_no = #{receiptNo}</if>
--             <if test="taskNo != null  and taskNo != ''"> and task_no = #{taskNo}</if>
            <if test="status != null  and status != ''"> and task.status = #{status}</if>
            <if test="deptCode != null  and deptCode != ''"> and task.dept_code = #{deptCode}</if>
        </where>
    </select>

    <insert id="insertFinanceTpaSettleTask" parameterType="FinanceTpaSettleTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into finance_tpa_settle_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="settleTaskNo != null and settleTaskNo != ''">settle_task_no,</if>
            <if test="companyCode != null and companyCode != ''">company_code,</if>
            <if test="settlementType != null and settlementType != ''">settlement_type,</if>
            <if test="serviceSettleAmount != null">service_settle_amount,</if>
            <if test="settleEndDate != null">settle_end_date,</if>
            <if test="settleStatus != null and settleStatus != ''">settle_status,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deptCode != null and deptCode != ''">dept_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="settleTaskNo != null and settleTaskNo != ''">#{settleTaskNo},</if>
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
            <if test="settlementType != null and settlementType != ''">#{settlementType},</if>
            <if test="serviceSettleAmount != null">#{serviceSettleAmount},</if>
            <if test="settleEndDate != null">#{settleEndDate},</if>
            <if test="settleStatus != null and settleStatus != ''">#{settleStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deptCode != null and deptCode != ''">#{deptCode},</if>
        </trim>
    </insert>

    <update id="updateFinanceTpaSettleTask" parameterType="FinanceTpaSettleTask">
        update finance_tpa_settle_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="settleTaskNo != null and settleTaskNo != ''">settle_task_no = #{settleTaskNo},</if>
            <if test="companyCode != null and companyCode != ''">company_code = #{companyCode},</if>
            <if test="settlementType != null and settlementType != ''">settlement_type = #{settlementType},</if>
            <if test="serviceSettleAmount != null">service_settle_amount = #{serviceSettleAmount},</if>
            <if test="settleEndDate != null">settle_end_date = #{settleEndDate},</if>
            <if test="settleStatus != null and settleStatus != ''">settle_status = #{settleStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deptCode != null and deptCode != ''">dept_code = #{deptCode},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <update id="modifyTaskSettle" parameterType="FinanceTpaSettleTask">
        update finance_tpa_settle_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="settlementType != null and settlementType != ''">settlement_type = #{settlementType},</if>
            <if test="serviceSettleAmount != null">service_settle_amount = #{serviceSettleAmount},</if>
            <if test="settleEndDate != null">settle_end_date = #{settleEndDate},</if>
            <if test="settleStatus != null and settleStatus != ''">settle_status = #{settleStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where settle_task_no = #{settleTaskNo}
    </update>

    <delete id="deleteFinanceTpaSettleTaskById" parameterType="Long">
        delete from finance_tpa_settle_task where task_id = #{taskId}
    </delete>

    <delete id="deleteFinanceTpaSettleTaskByIds" parameterType="String">
        delete from finance_tpa_settle_task where task_id in
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>

</mapper>