<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sino.system.mapper.ClaimCasePolicyMapper">
    
    <resultMap type="com.sino.system.domain.ClaimCasePolicy" id="ClaimCasePolicyResult">
        <result property="policyNo"    column="policy_no"    />
        <result property="relationId"    column="relation_id"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="policyNo"    column="policy_no"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="policyItemNo"    column="policy_item_no"    />
        <result property="name"    column="name"    />
        <result property="appName"    column="app_name"    />
        <result property="validStartDate"    column="valid_start_date"    />
        <result property="validEndDate"    column="valid_end_date"    />
        <result property="policyRiskType"    column="policy_risk_type"    />
        <result property="policyStatus"    column="policy_status"    />
        <result property="specialAgreement"    column="special_agreement"    />
        <result property="companyCode"    column="company_code"    />
        <result property="companyName"    column="company_name"    />
        <result property="policyManageCom"    column="policy_manage_com"    />
        <result property="policyType"    column="policy_type"    />
        <result property="planCode"    column="plan_code"    />
        <result property="orgPolicyNo"    column="org_policy_no"    />
        <result property="orgPolicyItemNo"    column="org_policy_item_no"    />
        <result property="ssFlag"    column="ss_flag"    />
    </resultMap>

    <resultMap type="com.sino.system.domain.vo.PolicyVo" id="PolicyVo">
        <result property="policyNo"    column="policy_no"    />
        <result property="policyItemNo"    column="policy_item_no"    />
        <result property="name"    column="name"    />
        <result property="riskName"    column="risk_name"    />
        <result property="validStartDate"    column="valid_start_date"    />
        <result property="validEndDate"    column="valid_end_date"    />
        <result property="policyRiskType"    column="policy_risk_type"    />
        <result property="policyStatus"    column="policy_status"    />
        <result property="specialAgreement"    column="special_agreement"    />
        <result property="companyName"    column="company_name"    />
        <result property="policyType"    column="policy_type"    />
        <result property="ssFlag"    column="ss_flag"    />
    </resultMap>
    <resultMap type="com.sino.system.domain.vo.DutyVo" id="DutyVo">
        <result property="riskName"    column="risk_name"    />
        <result property="riskCode"    column="risk_code"    />
        <result property="dutyDetailCode"    column="duty_detail_code"    />
        <result property="dutyCode"    column="duty_code"    />
        <result property="dutyDetailName"    column="duty_detail_name"    />
        <result property="applyReason"    column="apply_reason"    />
        <result property="dutyName"    column="duty_name"    />
    </resultMap>

    <sql id="selectClaimCasePolicyVo">
        select relation_id, rpt_no, policy_no, status, create_by, create_time, update_by, update_time,policy_item_no,name,app_name,valid_end_date,valid_start_date,policy_risk_type,policy_status,special_agreement,company_code,company_name,policy_manage_com,policy_type,plan_code,org_policy_no,org_policy_item_no,ss_flag from claim_case_policy
    </sql>

    <select id="selectClaimCasePolicyList" parameterType="ClaimCasePolicy" resultMap="ClaimCasePolicyResult">
        <include refid="selectClaimCasePolicyVo"/>
        <where>  
            <if test="rptNo != null and rptNo != ''"> and rpt_no = #{rptNo}</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimCasePolicyById" parameterType="Long" resultMap="ClaimCasePolicyResult">
        <include refid="selectClaimCasePolicyVo"/>
        where relation_id = #{relationId}
    </select>
        
    <insert id="insertClaimCasePolicy" parameterType="ClaimCasePolicy" useGeneratedKeys="true" keyProperty="relationId">
        insert into claim_case_policy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no,</if>
            <if test="policyNo != null and policyNo != ''">policy_no,</if>
            <if test="policyItemNo != null and policyItemNo != ''">policy_item_no,</if>
            <if test="insuredNo != null and insuredNo != ''">insured_no,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="appName != null and appName != ''">app_name,</if>
            <if test="validStartDate != null">valid_start_date,</if>
            <if test="validEndDate != null">valid_end_date,</if>
            <if test="policyRiskType != null and policyRiskType != ''">policy_risk_type,</if>
            <if test="policyStatus != null and policyStatus != ''">policy_status,</if>
            <if test="specialAgreement != null and specialAgreement != ''">special_agreement,</if>
            <if test="companyCode != null and companyCode != ''">company_code,</if>
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="policyManageCom != null and policyManageCom != ''">policy_manage_com,</if>
            <if test="policyType != null and policyType != ''">policy_type,</if>
            <if test="planCode != null and planCode != ''">plan_code,</if>
            <if test="orgPolicyNo != null and orgPolicyNo != ''">org_policy_no,</if>
            <if test="orgPolicyItemNo != null and orgPolicyItemNo != ''">org_policy_item_no,</if>
            <if test="ssFlag != null and ssFlag != ''">ss_flag,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">#{rptNo},</if>
            <if test="policyNo != null and policyNo != ''">#{policyNo},</if>
            <if test="policyItemNo != null and policyItemNo != ''">#{policyItemNo},</if>
            <if test="insuredNo != null and insuredNo != ''">#{insuredNo},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="appName != null and appName != ''">#{appName},</if>
            <if test="validStartDate != null">#{validStartDate},</if>
            <if test="validEndDate != null">#{validEndDate},</if>
            <if test="policyRiskType != null and policyRiskType != ''">#{policyRiskType},</if>
            <if test="policyStatus != null and policyStatus != ''">#{policyStatus},</if>
            <if test="specialAgreement != null and specialAgreement != ''">#{specialAgreement},</if>
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="policyManageCom != null and policyManageCom != ''">#{policyManageCom},</if>
            <if test="policyType != null and policyType != ''">#{policyType},</if>
            <if test="planCode != null and planCode != ''">#{planCode},</if>
            <if test="orgPolicyNo != null and orgPolicyNo != ''">#{orgPolicyNo},</if>
            <if test="orgPolicyItemNo != null and orgPolicyItemNo != ''">#{orgPolicyItemNo},</if>
            <if test="ssFlag != null and ssFlag != ''">#{ssFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimCasePolicy" parameterType="ClaimCasePolicy">
        update claim_case_policy
        <trim prefix="SET" suffixOverrides=",">
            <if test="rptNo != null and rptNo != ''">rpt_no = #{rptNo},</if>
            <if test="policyNo != null and policyNo != ''">policy_no = #{policyNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where relation_id = #{relationId}
    </update>

    <delete id="deleteClaimCasePolicyById" parameterType="Long">
        delete from claim_case_policy where relation_id = #{relationId}
    </delete>

    <delete id="deleteClaimCasePolicyByIds" parameterType="String">
        delete from claim_case_policy where relation_id in 
        <foreach item="relationId" collection="array" open="(" separator="," close=")">
            #{relationId}
        </foreach>
    </delete>

    <select id="selectClaimCasePolicyByRptNo" parameterType="String" resultMap="ClaimCasePolicyResult">
        <include refid="selectClaimCasePolicyVo"/>
        where rpt_no = #{rptNo} and status='Y'
    </select>
    <select id="selectClaimCasePolicyByRptNoOne" parameterType="String" resultMap="ClaimCasePolicyResult">
        select policy_no from claim_case_policy  where rpt_no=#{rptNo}
    </select>

    <resultMap type="com.sino.system.domain.vo.PolicyVo" id="PolicyVo1">
        <result property="policyNo"    column="policy_no"    />
        <result property="policyItemNo"    column="policy_item_no"    />
        <result property="insuredNo"    column="insured_no"    />
        <result property="appName"    column="app_name"    />
        <result property="name"    column="name"    />
        <result property="riskName"    column="risk_name"    />
        <result property="validStartDate"    column="valid_start_date"    />
        <result property="validEndDate"    column="valid_end_date"    />
        <result property="policyRiskType"    column="policy_risk_type"    />
        <result property="policyStatus"    column="policy_status"    />
        <result property="specialAgreement"    column="special_agreement"    />
        <result property="companyName"    column="company_name"    />
        <result property="companyCode"    column="company_code"    />
        <result property="policyType"    column="policy_type"    />
        <result property="planCode"    column="plan_code"    />
        <result property="orgPolicyNo"    column="org_policy_no"    />
        <result property="ssFlag"    column="ss_flag"    />
        <result property="riskName"    column="risk_name"    />
        <result property="riskCode"    column="risk_code"    />
        <result property="policyManageCom"    column="policy_manage_com"    />
    </resultMap>
    <select id="selectInsuredListByNumber" parameterType="com.sino.system.domain.dto.PolicyDTO" resultMap="PolicyVo1">
        select  insured_no,policy_no,policy_item_no,name,app_name,valid_start_date,valid_end_date,policy_risk_type,policy_status,special_agreement,company_name,
                company_code,policy_type,plan_code,org_policy_no,policy_type,ss_flag,policy_manage_com
        from claim_case_policy
        where insured_no = #{insuredNo} and status='Y'
    </select>
</mapper>