<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimflow.mapper.ClaimBatchInvoiceFilingMapper">

    <resultMap type="ClaimBatchInvoiceFiling" id="ClaimBatchInvoiceFilingResult">
        <result property="batchNo"    column="batch_no"    />
        <result property="invoiceBoxNo"    column="invoice_box_no"    />
        <result property="isFiling"    column="is_filing"    />
        <result property="isInvoiceBack"    column="is_invoice_back"    />
        <result property="isSingle"    column="is_single"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>


    <sql id="selectClaimBatchInvoiceFilingVo">
        select batch_no, invoice_box_no, is_filing, is_invoice_back, is_single, remark, status, create_by, create_time, update_by, update_time from claim_batch_invoice_filing
    </sql>

    <select id="selectClaimBatchInvoiceFilingList" parameterType="ClaimBatchInvoiceFiling" resultMap="ClaimBatchInvoiceFilingResult">
        <include refid="selectClaimBatchInvoiceFilingVo"/>
        <where>  
            <if test="invoiceBoxNo != null  and invoiceBoxNo != ''"> and invoice_box_no = #{invoiceBoxNo}</if>
            <if test="isFiling != null  and isFiling != ''"> and is_filing = #{isFiling}</if>
            <if test="isInvoiceBack != null  and isInvoiceBack != ''"> and is_invoice_back = #{isInvoiceBack}</if>
            <if test="isSingle != null  and isSingle != ''"> and is_single = #{isSingle}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimBatchInvoiceFilingById" parameterType="String" resultMap="ClaimBatchInvoiceFilingResult">
        <include refid="selectClaimBatchInvoiceFilingVo"/>
        where batch_no = #{batchNo}
    </select>
        
    <insert id="insertClaimBatchInvoiceFiling" parameterType="ClaimBatchInvoiceFiling">
        insert into claim_batch_invoice_filing
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">batch_no,</if>
            <if test="invoiceBoxNo != null and invoiceBoxNo != ''">invoice_box_no,</if>
            <if test="isFiling != null and isFiling != ''">is_filing,</if>
            <if test="isInvoiceBack != null and isInvoiceBack != ''">is_invoice_back,</if>
            <if test="isSingle != null and isSingle != ''">is_single,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">#{batchNo},</if>
            <if test="invoiceBoxNo != null and invoiceBoxNo != ''">#{invoiceBoxNo},</if>
            <if test="isFiling != null and isFiling != ''">#{isFiling},</if>
            <if test="isInvoiceBack != null and isInvoiceBack != ''">#{isInvoiceBack},</if>
            <if test="isSingle != null and isSingle != ''">#{isSingle},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimBatchInvoiceFiling" parameterType="ClaimBatchInvoiceFiling">
        update claim_batch_invoice_filing
        <trim prefix="SET" suffixOverrides=",">
            <if test="invoiceBoxNo != null and invoiceBoxNo != ''">invoice_box_no = #{invoiceBoxNo},</if>
            <if test="isFiling != null and isFiling != ''">is_filing = #{isFiling},</if>
            <if test="isInvoiceBack != null and isInvoiceBack != ''">is_invoice_back = #{isInvoiceBack},</if>
            <if test="isSingle != null and isSingle != ''">is_single = #{isSingle},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where batch_no = #{batchNo}
    </update>

    <delete id="deleteClaimBatchInvoiceFilingById" parameterType="String">
        delete from claim_batch_invoice_filing where batch_no = #{batchNo}
    </delete>

    <delete id="deleteClaimBatchInvoiceFilingByIds" parameterType="String">
        delete from claim_batch_invoice_filing where batch_no in 
        <foreach item="batchNo" collection="array" open="(" separator="," close=")">
            #{batchNo}
        </foreach>
    </delete>

    <resultMap type="com.sino.system.domain.vo.InvoiceFileVo" id="InvoiceFileVo">
        <result property="batchNo"    column="batch_no"    />
        <result property="invoiceBoxNo"    column="invoice_box_no"    />
        <result property="isFiling"    column="is_filing"    />
        <result property="isInvoiceBack"    column="is_invoice_back"    />
        <result property="isSingle"    column="is_single"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="claimType"    column="claim_type"    />
        <result property="organcode"    column="organ_code"    />
        <result property="hospitalCode"    column="hospital_code"    />
        <result property="rptNo"    column="rpt_no"    />
        <result property="billrecevieflag"    column="bill_recevie_flag"    />
    </resultMap>


    <select id="selectInvoiceFile" parameterType="com.sino.system.domain.vo.InvoiceFileVo" resultMap="InvoiceFileVo">
        SELECT cbii.batch_no,cbii.invoice_box_no,cbii.is_filing,cbii.is_invoice_back,cbii.is_single,cbii.remark,
               cbii.create_time,cbii.create_by ,cb.organ_code,cb.hospital_code,cb.claim_type,cc.rpt_no,cbii.update_by,cbii.update_time
        from claim_batch_invoice_filing  cbii
        left join  claim_batch  cb on  cb.batch_no=cbii.batch_no
        left join claim_case cc  on cc.batch_no=cb.batch_no
        <where>
            <if test="invoiceBoxNo != null  and invoiceBoxNo != ''"> and cbii.invoice_box_no = #{invoiceBoxNo}</if>
            <if test="batchNo != null  and batchNo != ''"> and cbii.batch_no = #{batchNo}</if>
            <if test="hospitalCode != null  and hospitalCode != ''"> and cb.hospital_code = #{hospitalCode}</if>
            <if test="rptNo != null  and rptNo != ''"> and cc.rpt_no = #{rptNo}</if>
        </where>
    </select>

    <update id="updateClaimBatchBill" parameterType="com.sino.system.domain.vo.InvoiceFileVo">
        update claim_batch_invoice_filing
        <trim prefix="SET" suffixOverrides=",">
            <if test="isFiling != null and isFiling != ''">is_filing = #{bill_recevie_flag},</if>
        </trim>
        where batch_no = #{batchNo}
    </update>

    <update id="updateInvoiceFile" parameterType="com.sino.system.domain.vo.InvoiceFileVo">
        update claim_batch_invoice_filing
        <trim prefix="SET" suffixOverrides=",">
            <if test="invoiceBoxNo != null and invoiceBoxNo != ''">invoice_box_no = #{invoiceBoxNo},</if>
            <if test="isFiling != null and isFiling != ''">is_filing = #{isFiling},</if>
            <if test="isInvoiceBack != null and isInvoiceBack != ''">is_invoice_back = #{isInvoiceBack},</if>
            <if test="isSingle != null and isSingle != ''">is_single = #{isSingle},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where batch_no = #{batchNo}
    </update>


    <update id="updateClaimCaseFilingInfo" parameterType="com.sino.system.domain.vo.ClaimCaseFilingInformationVO">
        update claim_batch_invoice_filing
        <trim prefix="SET" suffixOverrides=",">
            <if test="isFiling != null and isFiling != ''">is_filing = #{isFiling},</if>
            <if test="isInvoiceBack != null and isInvoiceBack != ''">is_invoice_back = #{isInvoiceBack},</if>
            <if test="isSingle != null and isSingle != ''">is_single = #{isSingle},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where batch_no = #{batchNo}
    </update>
</mapper>