<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimcal.domain.ClaimRuleConstraintMapper">
    
    <resultMap type="com.paic.ehis.claimcal.domain.ClaimRuleConstraint" id="ClaimRuleConstraintResult">
        <result property="constraintNo"    column="constraint_no"    />
        <result property="ruleNo"    column="rule_no"    />
        <result property="constraintType"    column="constraint_type"    />
        <result property="value1"    column="value1"    />
        <result property="value2"    column="value2"    />
        <result property="constraintUnit"    column="constraint_unit"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectClaimRuleConstraintVo">
        select constraint_no, rule_no, constraint_type, value1, value2, constraint_unit, status, create_by, create_time, update_by, update_time from claim_rule_constraint
    </sql>

    <select id="selectClaimRuleConstraintList" parameterType="com.paic.ehis.claimcal.domain.ClaimRuleConstraint" resultMap="ClaimRuleConstraintResult">
        <include refid="selectClaimRuleConstraintVo"/>
        <where>  
            <if test="ruleNo != null  and ruleNo != ''"> and rule_no = #{ruleNo}</if>
            <if test="constraintType != null  and constraintType != ''"> and constraint_type = #{constraintType}</if>
            <if test="value1 != null  and value1 != ''"> and value1 = #{value1}</if>
            <if test="value2 != null  and value2 != ''"> and value2 = #{value2}</if>
            <if test="constraintUnit != null  and constraintUnit != ''"> and constraint_unit = #{constraintUnit}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectClaimRuleConstraintById" parameterType="String" resultMap="ClaimRuleConstraintResult">
        <include refid="selectClaimRuleConstraintVo"/>
        where constraint_no = #{constraintNo}
    </select>
        
    <insert id="insertClaimRuleConstraint" parameterType="com.paic.ehis.claimcal.domain.ClaimRuleConstraint">
        insert into claim_rule_constraint
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="constraintNo != null">constraint_no,</if>
            <if test="ruleNo != null and ruleNo != ''">rule_no,</if>
            <if test="constraintType != null and constraintType != ''">constraint_type,</if>
            <if test="value1 != null and value1 != ''">value1,</if>
            <if test="value2 != null">value2,</if>
            <if test="constraintUnit != null">constraint_unit,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="constraintNo != null">#{constraintNo},</if>
            <if test="ruleNo != null and ruleNo != ''">#{ruleNo},</if>
            <if test="constraintType != null and constraintType != ''">#{constraintType},</if>
            <if test="value1 != null and value1 != ''">#{value1},</if>
            <if test="value2 != null">#{value2},</if>
            <if test="constraintUnit != null">#{constraintUnit},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateClaimRuleConstraint" parameterType="com.paic.ehis.claimcal.domain.ClaimRuleConstraint">
        update claim_rule_constraint
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleNo != null and ruleNo != ''">rule_no = #{ruleNo},</if>
            <if test="constraintType != null and constraintType != ''">constraint_type = #{constraintType},</if>
            <if test="value1 != null and value1 != ''">value1 = #{value1},</if>
            <if test="value2 != null">value2 = #{value2},</if>
            <if test="constraintUnit != null">constraint_unit = #{constraintUnit},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where constraint_no = #{constraintNo}
    </update>

    <delete id="deleteClaimRuleConstraintById" parameterType="String">
        delete from claim_rule_constraint where constraint_no = #{constraintNo}
    </delete>

    <delete id="deleteClaimRuleConstraintByIds" parameterType="String">
        delete from claim_rule_constraint where constraint_no in 
        <foreach item="constraintNo" collection="array" open="(" separator="," close=")">
            #{constraintNo}
        </foreach>
    </delete>

    <insert id="insertList" parameterType="java.util.List">
        insert into claim_rule_constraint (constraint_no, rule_no, constraint_type,
        value1, value2, constraint_unit,
        status, create_by, create_time,
        update_by, update_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.constraintNo}, #{item.ruleNo}, #{item.constraintType},
            #{item.value1}, #{item.value2}, #{item.constraintUnit},
            #{item.status}, #{item.createBy}, #{item.createTime},
            #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>

    <update id="deleteByUpdateN" parameterType="String">
        update claim_rule_constraint
        SET status = 'N'
        where constraint_no in
        <foreach item="constraintNo" collection="array" open="(" separator="," close=")">
            #{constraintNo}
        </foreach>
    </update>
</mapper>