<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimcal.mapper.ClaimProductMapper">

    <resultMap type="com.paic.ehis.claimcal.domain.ClaimProduct" id="ClaimProductResult">
        <result property="riskCode" column="risk_code"/>
        <result property="riskName" column="risk_name"/>
        <result property="riskNature" column="risk_nature"/>
        <result property="riskType" column="risk_type"/>
        <result property="riskClass" column="risk_class"/>
        <result property="riskStatus" column="risk_status"/>
        <result property="waitingPeriod" column="waiting_period"/>
        <result property="synchronizeTime" column="synchronize_time"/>
        <result property="examineConclusion" column="examine_conclusion"/>
        <result property="conclusionExplanation" column="conclusion_explanation"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="com.paic.ehis.claimcal.domain.dto.ClaimProductDTO" id="ClaimProductDTOResult">
        <result property="riskCode" column="risk_code"/>
        <result property="riskName" column="risk_name"/>
        <result property="riskNature" column="risk_nature"/>
        <result property="riskClass" column="risk_class"/>
        <result property="riskStatus" column="risk_status"/>
        <result property="synchronizeTime" column="synchronize_time"/>
        <result property="examineConclusion" column="examine_conclusion"/>
        <result property="status" column="status"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectClaimProductVo">
        select risk_code, risk_name, risk_nature, risk_type, risk_class, risk_status, waiting_period, synchronize_time, examine_conclusion, conclusion_explanation, status, create_by, create_time, update_by, update_time from claim_product
    </sql>

    <select id="selectClaimProductList" parameterType="com.paic.ehis.claimcal.domain.ClaimProduct"
            resultMap="ClaimProductResult">
        <include refid="selectClaimProductVo"/>
        <where>
            <if test="riskCode != null and riskCode != ''">and risk_code = #{riskCode}</if>
            <if test="riskName != null  and riskName != ''">and risk_name like concat('%', #{riskName}, '%')</if>
            <if test="riskNature != null  and riskNature != ''">and risk_nature = #{riskNature}</if>
            <if test="riskType != null  and riskType != ''">and risk_type = #{riskType}</if>
            <if test="riskClass != null  and riskClass != ''">and risk_class = #{riskClass}</if>
            <if test="riskStatus != null  and riskStatus != ''">and risk_status = #{riskStatus}</if>
            <if test="waitingPeriod != null  and waitingPeriod != ''">and waiting_period = #{waitingPeriod}</if>
            <if test="synchronizeTime != null ">and synchronize_time = #{synchronizeTime}</if>
            <if test="examineConclusion != null  and examineConclusion != ''">and examine_conclusion =
                #{examineConclusion}
            </if>
            <if test="conclusionExplanation != null  and conclusionExplanation != ''">and conclusion_explanation =
                #{conclusionExplanation}
            </if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="updateBy != null">AND update_by = #{updateBy}</if>
        </where>
        order by update_time desc
    </select>
    <select id="selectClaimProductProcessedList" parameterType="com.paic.ehis.claimcal.domain.dto.ProcessedProductDTO"
            resultMap="ClaimProductResult">
        SELECT
        product.risk_code,
        product.risk_name,
        product.risk_nature,
        product.risk_type,
        product.risk_class,
        product.risk_status,
        product.synchronize_time,
        product.examine_conclusion,
        product.conclusion_explanation,
        log.update_by,
        log.is_history,
        product.update_time
        FROM claim_product product
        LEFT join
        (
        SELECT
        cptl.update_by,
        cptl.risk_code,
        cptl.risk_status,
        cptl.is_history
        FROM
        claim_product_task_log cptl
        WHERE
        cptl.risk_log_no = (
        SELECT
        aa.risk_log_no
        FROM
        claim_product_task_log aa
        WHERE
        cptl.risk_code = aa.risk_code
        AND aa.risk_status = '02'
        ORDER BY
        aa.create_time DESC
        LIMIT 1
        )
        ) log on product.risk_code=log.risk_code
        <where>
            <if test="riskStatus != null  and riskStatus != ''">and product.risk_status IN (${riskStatus})</if>
            <if test="isHistory != null  and isHistory != ''">and log.is_history = #{isHistory}</if>
            <if test="updateBy != null">AND log.update_by = #{updateBy}</if>
            <if test="riskCode != null and riskCode != ''">and product.risk_code = #{riskCode}</if>
            <if test="riskName != null  and riskName != ''">and product.risk_name like concat('%', #{riskName}, '%')
            </if>
            <if test="status != null  and status != ''">and product.status = #{status}</if>
        </where>
        order by update_time desc
    </select>

    <select id="selectClaimProductById" parameterType="String" resultMap="ClaimProductResult">
        <include refid="selectClaimProductVo"/>
        where risk_code = #{riskCode} and status = 'Y'
    </select>

    <insert id="insertClaimProduct" parameterType="com.paic.ehis.claimcal.domain.ClaimProduct">
        insert into claim_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="riskCode != null">risk_code,</if>
            <if test="riskName != null">risk_name,</if>
            <if test="riskNature != null">risk_nature,</if>
            <if test="riskType != null">risk_type,</if>
            <if test="riskClass != null">risk_class,</if>
            <if test="riskStatus != null">risk_status,</if>
            <if test="waitingPeriod != null">waiting_period,</if>
            <if test="synchronizeTime != null">synchronize_time,</if>
            <if test="examineConclusion != null">examine_conclusion,</if>
            <if test="conclusionExplanation != null">conclusion_explanation,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="riskCode != null">#{riskCode},</if>
            <if test="riskName != null">#{riskName},</if>
            <if test="riskNature != null">#{riskNature},</if>
            <if test="riskType != null">#{riskType},</if>
            <if test="riskClass != null">#{riskClass},</if>
            <if test="riskStatus != null">#{riskStatus},</if>
            <if test="waitingPeriod != null">#{waitingPeriod},</if>
            <if test="synchronizeTime != null">#{synchronizeTime},</if>
            <if test="examineConclusion != null">#{examineConclusion},</if>
            <if test="conclusionExplanation != null">#{conclusionExplanation},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateClaimProduct" parameterType="com.paic.ehis.claimcal.domain.ClaimProduct">
        update claim_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="riskName != null">risk_name = #{riskName},</if>
            <if test="riskNature != null">risk_nature = #{riskNature},</if>
            <if test="riskType != null">risk_type = #{riskType},</if>
            <if test="riskClass != null">risk_class = #{riskClass},</if>
            <if test="riskStatus != null">risk_status = #{riskStatus},</if>
            <if test="waitingPeriod != null">waiting_period = #{waitingPeriod},</if>
            <if test="synchronizeTime != null">synchronize_time = #{synchronizeTime},</if>
            <if test="examineConclusion != null">examine_conclusion = #{examineConclusion},</if>
            <if test="conclusionExplanation != null">conclusion_explanation = #{conclusionExplanation},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where risk_code = #{riskCode}
    </update>

    <update id="updateClaimProductReset" parameterType="com.paic.ehis.claimcal.domain.ClaimProduct">
        update claim_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="riskStatus != null">risk_status = #{riskStatus},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where risk_code = #{riskCode}
    </update>

    <delete id="deleteClaimProductById" parameterType="String">
        delete from claim_product where risk_code = #{riskCode}
    </delete>

    <delete id="deleteClaimProductByIds" parameterType="String">
        delete from claim_product where risk_code in
        <foreach item="riskCode" collection="array" open="(" separator="," close=")">
            #{riskCode}
        </foreach>
    </delete>

    <select id="selectClaimProductListAndPublicPool" parameterType="com.paic.ehis.claimcal.domain.ClaimProduct"
            resultMap="ClaimProductResult">
        select act.risk_code, act.risk_name, act.risk_nature,
               act.risk_type, act.risk_class, act.risk_status,
               act.synchronize_time, act.examine_conclusion, act.conclusion_explanation,
               act.status, act.create_by, act.create_time, act.update_by, act.update_time
        from (
                 SELECT
                     product.risk_code,
                     product.risk_name,
                     product.risk_nature,
                     product.risk_type,
                     product.risk_class,
                     product.risk_status,
                     product.synchronize_time,
                     product.examine_conclusion,
                     product.conclusion_explanation,
                     product.STATUS,
                     product.create_by,
                     product.create_time,
                     log.create_by AS update_by,
                     log.create_time AS update_time
                 FROM
                     claim_product product
                         INNER JOIN claim_product_task_log log ON log.risk_code = product.risk_code
                         AND log.risk_status = '03'
                         AND log.is_history = 'N'
                         AND product.STATUS = 'Y'
                         AND length(ifnull(log.update_by,'')) = 0) act order by act.update_time desc
    </select>

    <resultMap type="com.paic.ehis.claimcal.domain.ClaimProduct" id="ClaimProductResultTwo">
        <result property="riskCode" column="risk_code"/>
        <result property="riskName" column="risk_name"/>
        <result property="riskNature" column="risk_nature"/>
        <result property="riskType" column="risk_type"/>
        <result property="riskClass" column="risk_class"/>
        <result property="riskStatus" column="risk_status"/>
        <result property="waitingPeriod" column="waiting_period"/>
        <result property="synchronizeTime" column="synchronize_time"/>
        <result property="examineConclusion" column="examine_conclusion"/>
        <result property="conclusionExplanation" column="conclusion_explanation"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectClaimProductListAndPersonalPoolFinish" parameterType="com.paic.ehis.claimcal.domain.ClaimProduct"
            resultMap="ClaimProductResultTwo">
        select act.risk_code, act.risk_name, act.risk_nature,
        act.risk_type, act.risk_class, act.risk_status,
        act.synchronize_time, act.examine_conclusion, act.conclusion_explanation,
        act.status, act.create_by, act.create_time, act.update_by, act.update_time
        from (select product.risk_code, product.risk_name, product.risk_nature,
        product.risk_type, product.risk_class, product.risk_status,
        product.synchronize_time, product.examine_conclusion, product.conclusion_explanation,
        product.status, product.create_by, product.create_time, log.create_by as update_by, log.create_time as
        update_time
        from claim_product product
        inner join claim_product_task_log log on log.risk_code = product.risk_code
        and log.risk_status in ('04','02') and log.is_history = 'N' and product.status = 'Y' and log.create_by =
        #{createBy} ) act
        <where>
            <if test="riskCode != null  and riskCode != ''">and act.risk_code = #{riskCode}</if>
            <if test="riskName != null  and riskName != ''">and act.risk_name like concat('%', #{riskName}, '%')</if>
        </where>
        order by update_time desc
    </select>

    <select id="selectClaimProductListAndPersonalPoolUnfinished"
            parameterType="com.paic.ehis.claimcal.domain.ClaimProduct" resultMap="ClaimProductResult">
        select act.risk_code, act.risk_name, act.risk_nature,
        act.risk_type, act.risk_class, act.risk_status,
        act.synchronize_time, act.examine_conclusion, act.conclusion_explanation,
        act.status, act.create_by, act.create_time, act.update_by, act.update_time
        from (select product.risk_code, product.risk_name, product.risk_nature,
        product.risk_type, product.risk_class, product.risk_status,
        product.synchronize_time, product.examine_conclusion, product.conclusion_explanation,
        product.status, product.create_by, product.create_time, log.update_by as update_by, log.update_time as
        update_time
        from claim_product product
        inner join claim_product_task_log log on log.risk_code = product.risk_code
        and log.risk_status ='03' and log.is_history = 'N' and product.status = 'Y' and log.update_by = #{updateBy} )
        act
        <where>
            <if test="riskCode != null  and riskCode != ''">and act.risk_code = #{riskCode}</if>
            <if test="riskName != null  and riskName != ''">and act.risk_name like concat('%', #{riskName}, '%')</if>
        </where>
        order by update_time desc
    </select>


    <select id="selectProductQuery" parameterType="com.paic.ehis.claimcal.domain.dto.ClaimProductDTO"
            resultMap="ClaimProductDTOResult">
        SELECT
        act.risk_code, act.risk_name, act.risk_nature,
        act.risk_class, act.risk_status,act.examine_conclusion,
        act.synchronize_time,case when log.update_time is null then log.create_time else log.update_time end as
        update_time,
        log.update_by
        FROM
        claim_product act
        inner join claim_product_task_log log on log.risk_code=act.risk_code
        <where>
            <if test="status != null  and status != ''">and act.status = #{status}</if>
            <if test="riskCode != null  and riskCode != ''">and act.risk_code = #{riskCode}</if>
            <if test="riskName != null  and riskName != ''">and act.risk_name like concat('%', #{riskName}, '%')</if>
            <if test="riskStatus != null and riskStatus != ''">and act.risk_status = #{riskStatus}</if>
            <if test="updateBy != null and updateBy != ''">and log.update_by = #{updateBy}</if>
            <if test="updateStartTime != null and updateEndTime != null">and act.update_time between #{updateStartTime}
                and DATE_ADD(#{updateEndTime},INTERVAL 1 DAY)
            </if>
            <if test="synchronizeStartTime != null and synchronizeEndTime != null">and act.synchronize_time between
                #{synchronizeStartTime} and DATE_ADD(#{synchronizeEndTime},INTERVAL 1 DAY)
            </if>
            <if test="isHistory != null  and isHistory != ''">and log.is_history = #{isHistory}</if>
        </where>
    </select>

    <!-- lihy -->
    <select id="selectClaimProduct" parameterType="com.paic.ehis.claimcal.domain.dto.ClaimProductDTO"
            resultMap="ClaimProductDTOResult">
        SELECT
        act.risk_code, act.risk_name, act.risk_nature,
        act.risk_class, act.risk_status,act.examine_conclusion,
        act.synchronize_time,case when log.update_time is null then log.create_time else log.update_time end as
        update_time,
        log.update_by
        FROM
        claim_product act
        inner join claim_product_task_log log on log.risk_code=act.risk_code
        <where>
            <if test="status != null  and status != ''">and act.status = #{status}</if>
            <if test="riskCode != null  and riskCode != ''">and act.risk_code = #{riskCode}</if>
            <if test="riskName != null  and riskName != ''">and act.risk_name like concat('%', #{riskName}, '%')</if>
            <if test="riskStatus != null and riskStatus != ''">and act.risk_status = #{riskStatus}</if>
            <if test="updateBy != null and updateBy != ''">and log.update_by = #{updateBy}</if>
            <if test="updateStartTime != null and updateEndTime != null">and act.update_time between #{updateStartTime}
                and DATE_ADD(#{updateEndTime},INTERVAL 1 DAY)
            </if>
            <if test="synchronizeStartTime != null and synchronizeEndTime != null">and act.synchronize_time between
                #{synchronizeStartTime} and DATE_ADD(#{synchronizeEndTime},INTERVAL 1 DAY)
            </if>
            <if test="isHistory != null  and isHistory != ''">and log.is_history = #{isHistory}</if>
        </where>
    </select>

    <!-- lihy -->
    <select id="selectClaimProductNew" parameterType="com.paic.ehis.claimcal.domain.dto.ClaimProductDTO"
            resultMap="ClaimProductDTOResult">
        SELECT
        act.risk_code, act.risk_name, act.risk_nature,
        act.risk_class, act.risk_status,act.examine_conclusion,
        act.synchronize_time,case when log.update_time is null then log.create_time else log.update_time end as update_time,
        log.update_by
        FROM
        claim_product act
        inner	join   claim_product_task_log log on log.risk_code=act.risk_code
        where act.risk_status in ('02','03') and act.status = 'Y' and log.is_history = 'N'
    </select>


    <select id="getAll" resultMap="planMap">
        select plan.plan_code, plan.plan_name
        from claim_product_plan plan
        where plan.risk_code = #{riskCode}
    </select>
    <resultMap id="planMap" type="ClaimProductPlanVO">
        <id property="value" column="plan_code"/>

        <result property="value" column="plan_code"/>
        <result property="label" column="plan_name"/>

        <collection property="children" ofType="ClaimProductDutyVO"
                    javaType="ArrayList" column="plan_code" select="getDuty"/>
    </resultMap>

    <select id="getDuty" resultMap="dutyMap" parameterType="java.lang.String">
        select duty.duty_code, duty.duty_name,duty.plan_code
        from claim_product_duty duty
        where duty.plan_code = #{plan_code}
    </select>
    <resultMap id="dutyMap" type="ClaimProductDutyVO">
        <id property="value" column="duty_code"/>

        <result property="value" column="duty_code"/>
        <result property="label" column="duty_name"/>
        <result property="planCode" column="plan_code"/>

        <collection property="children" ofType="ClaimProductDutyDetailVO"
                    javaType="ArrayList" column="{plan_code = plan_code,duty_code = duty_code}" select="getDetail"/>
    </resultMap>

    <select id="getDetail" resultMap="detailMap" parameterType="java.util.Map">
        select detail.duty_detail_code, detail.duty_detail_name,
        detail.plan_code,detail.duty_code
        from claim_product_duty_detail detail
        where detail.duty_code = #{duty_code} and detail.plan_code = #{plan_code}
    </select>
    <resultMap id="detailMap" type="ClaimProductDutyDetailVO">
        <id property="value" column="duty_detail_code"/>

        <result property="value" column="duty_detail_code"/>
        <result property="label" column="duty_detail_name"/>
        <result property="planCode" column="plan_code"/>
        <result property="dutyCode" column="duty_code"/>

        <collection property="children" ofType="ClaimProductFeeitemVO"
                    javaType="ArrayList"
                    column="{plan_code = plan_code,duty_code = duty_code,duty_detail_code = duty_detail_code}"
                    select="getFeeitem"/>
    </resultMap>

    <select id="getFeeitem" resultMap="feeitemMap" parameterType="java.util.Map">
        select feeitem.feeitem_code, feeitem.feeitem_name,
        feeitem.plan_code,feeitem.duty_code,feeitem.duty_detail_code
        from claim_product_feeitem feeitem
        where feeitem.duty_detail_code = #{duty_detail_code} and feeitem.duty_code = #{duty_code} and feeitem.plan_code = #{plan_code}
    </select>
    <resultMap id="feeitemMap" type="ClaimProductFeeitemVO">
        <id property="value" column="feeitem_code"/>

        <result property="value" column="feeitem_code"/>
        <result property="label" column="feeitem_name"/>
        <result property="planCode" column="plan_code"/>
        <result property="dutyCode" column="duty_code"/>
        <result property="dutyDetailCode" column="duty_detail_code"/>
    </resultMap>

    <select id="selectClaimProductByIdOne" parameterType="String" resultMap="ClaimProductResult">
        <include refid="selectClaimProductVo"/>
        where risk_code = #{riskCode} and status = 'Y'
    </select>
</mapper>