<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.order.mapper.ServiceBalanceDetailMapper">

    <resultMap type="ServiceBalanceDetail" id="ServiceBalanceDetailResult">
        <result property="serialNo"    column="serial_no"    />
        <result property="taskNo"    column="task_no"    />
        <result property="status"    column="status"    />
        <result property="orderCode"    column="order_code"    />
        <result property="balanceInterval"    column="balance_interval"    />
        <result property="riskCode"    column="risk_code"    />
        <result property="policyNo"    column="policy_no"    />
        <result property="policyItemNo"    column="policy_item_no"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="serviceCode"    column="service_code"    />
        <result property="appntNo"    column="appnt_no"    />
        <result property="appntName"    column="appnt_name"    />
        <result property="custNo"    column="cust_no"    />
        <result property="custName"    column="cust_name"    />
        <result property="sex"    column="sex"    />
        <result property="idNo"    column="id_no"    />
        <result property="serviceDate"    column="service_date"    />
        <result property="remark"    column="remark"    />
        <result property="amount"    column="amount"    />
        <result property="actualAmount"    column="actual_amount"    />
        <result property="reason"    column="reason"    />
        <result property="insuredNum"    column="insured_num"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="bussinessStatus"    column="bussiness_status"    />
    </resultMap>

    <!-- 明细导出（按case） -->
    <resultMap type="ServiceBalanceDetailCaseVO" id="ServiceBalanceDetailCaseVOResult">
        <result property="orderCode"    column="order_code"    />
        <result property="riskCode"    column="risk_code"    />
        <result property="policyNo"    column="policy_no"    />
        <result property="policyItemNo"    column="policy_item_no"    />
        <result property="serviceCode"    column="service_code"    />
        <result property="appntName"    column="appnt_name"    />
        <result property="custName"    column="cust_name"    />
        <result property="sex"    column="sex"    />
        <result property="idNo"    column="id_no"    />
        <result property="serviceDate"    column="service_date"    />
        <result property="remark"    column="remark"    />
        <result property="amount"    column="amount"    />
        <result property="actualAmount"    column="actual_amount"    />
        <result property="reason"    column="reason"    />
    </resultMap>

    <!-- 明细导出（按人头） -->
    <resultMap type="ServiceBalanceDetailContVO" id="ServiceBalanceDetailContVOResult">
        <result property="riskCode"    column="risk_code"    />
        <result property="insuredNum"    column="insured_num"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="remark"    column="remark"    />
        <result property="amount"    column="amount"    />
        <result property="actualAmount"    column="actual_amount"    />
        <result property="reason"    column="reason"    />
    </resultMap>

    <!-- 明细导出（按一口价） -->
    <resultMap type="ServiceBalanceDetailPriceVO" id="ServiceBalanceDetailPriceVOResult">
        <result property="supplierCode"    column="supplier_code"    />
        <result property="serviceCode"    column="service_code"    />
        <result property="amount"    column="amount"    />
        <result property="actualAmount"    column="actual_amount"    />
        <result property="reason"    column="reason"    />
    </resultMap>

    <sql id="selectServiceBalanceDetailVo">
        select serial_no, task_no, status, order_code, balance_interval, risk_code, policy_no, policy_item_no, supplier_code, service_code, appnt_no, appnt_name, cust_no, cust_name, sex, id_no, service_date, remark, amount, actual_amount, reason, insured_num, unit_price, create_by, create_time, update_by, update_time from service_balance_detail
    </sql>

    <select id="selectServiceBalanceDetailList" parameterType="ServiceBalanceDetail" resultMap="ServiceBalanceDetailResult">
        <include refid="selectServiceBalanceDetailVo"/>
        <where>
            <if test="taskNo != null  and taskNo != ''"> and task_no = #{taskNo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="orderCode != null  and orderCode != ''"> and order_code = #{orderCode}</if>
            <if test="balanceInterval != null  and balanceInterval != ''"> and balance_interval = #{balanceInterval}</if>
            <if test="riskCode != null  and riskCode != ''"> and risk_code = #{riskCode}</if>
            <if test="policyNo != null  and policyNo != ''"> and policy_no = #{policyNo}</if>
            <if test="policyItemNo != null  and policyItemNo != ''"> and policy_item_no = #{policyItemNo}</if>
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="serviceCode != null  and serviceCode != ''"> and service_code = #{serviceCode}</if>
            <if test="appntNo != null  and appntNo != ''"> and appnt_no = #{appntNo}</if>
            <if test="appntName != null  and appntName != ''"> and appnt_name like concat('%', #{appntName}, '%')</if>
            <if test="custNo != null  and custNo != ''"> and cust_no = #{custNo}</if>
            <if test="custName != null  and custName != ''"> and cust_name like concat('%', #{custName}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="idNo != null  and idNo != ''"> and id_no = #{idNo}</if>
            <if test="serviceDate != null "> and service_date = #{serviceDate}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="actualAmount != null "> and actual_amount = #{actualAmount}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="insuredNum != null "> and insured_num = #{insuredNum}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
        </where>
    </select>

    <select id="selectServiceBalanceDetailById" parameterType="Long" resultMap="ServiceBalanceDetailResult">
        <include refid="selectServiceBalanceDetailVo"/>
        where serial_no = #{serialNo}
    </select>

    <insert id="insertServiceBalanceDetail" parameterType="ServiceBalanceDetail" useGeneratedKeys="true" keyProperty="serialNo">
        insert into service_balance_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskNo != null and taskNo != ''">task_no,</if>
            <if test="status != null">status,</if>
            <if test="orderCode != null">order_code,</if>
            <if test="balanceInterval != null">balance_interval,</if>
            <if test="riskCode != null">risk_code,</if>
            <if test="policyNo != null">policy_no,</if>
            <if test="policyItemNo != null">policy_item_no,</if>
            <if test="supplierCode != null">supplier_code,</if>
            <if test="serviceCode != null">service_code,</if>
            <if test="appntNo != null">appnt_no,</if>
            <if test="appntName != null">appnt_name,</if>
            <if test="custNo != null">cust_no,</if>
            <if test="custName != null">cust_name,</if>
            <if test="sex != null">sex,</if>
            <if test="idNo != null">id_no,</if>
            <if test="serviceDate != null">service_date,</if>
            <if test="remark != null">remark,</if>
            <if test="amount != null">amount,</if>
            <if test="actualAmount != null">actual_amount,</if>
            <if test="reason != null">reason,</if>
            <if test="insuredNum != null">insured_num,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskNo != null and taskNo != ''">#{taskNo},</if>
            <if test="status != null">#{status},</if>
            <if test="orderCode != null">#{orderCode},</if>
            <if test="balanceInterval != null">#{balanceInterval},</if>
            <if test="riskCode != null">#{riskCode},</if>
            <if test="policyNo != null">#{policyNo},</if>
            <if test="policyItemNo != null">#{policyItemNo},</if>
            <if test="supplierCode != null">#{supplierCode},</if>
            <if test="serviceCode != null">#{serviceCode},</if>
            <if test="appntNo != null">#{appntNo},</if>
            <if test="appntName != null">#{appntName},</if>
            <if test="custNo != null">#{custNo},</if>
            <if test="custName != null">#{custName},</if>
            <if test="sex != null">#{sex},</if>
            <if test="idNo != null">#{idNo},</if>
            <if test="serviceDate != null">#{serviceDate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="amount != null">#{amount},</if>
            <if test="actualAmount != null">#{actualAmount},</if>
            <if test="reason != null">#{reason},</if>
            <if test="insuredNum != null">#{insuredNum},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateServiceBalanceDetail" parameterType="ServiceBalanceDetail">
        update service_balance_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskNo != null and taskNo != ''">task_no = #{taskNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="orderCode != null">order_code = #{orderCode},</if>
            <if test="balanceInterval != null">balance_interval = #{balanceInterval},</if>
            <if test="riskCode != null">risk_code = #{riskCode},</if>
            <if test="policyNo != null">policy_no = #{policyNo},</if>
            <if test="policyItemNo != null">policy_item_no = #{policyItemNo},</if>
            <if test="supplierCode != null">supplier_code = #{supplierCode},</if>
            <if test="serviceCode != null">service_code = #{serviceCode},</if>
            <if test="appntNo != null">appnt_no = #{appntNo},</if>
            <if test="appntName != null">appnt_name = #{appntName},</if>
            <if test="custNo != null">cust_no = #{custNo},</if>
            <if test="custName != null">cust_name = #{custName},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="idNo != null">id_no = #{idNo},</if>
            <if test="serviceDate != null">service_date = #{serviceDate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="actualAmount != null">actual_amount = #{actualAmount},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="insuredNum != null">insured_num = #{insuredNum},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where serial_no = #{serialNo}
    </update>

    <delete id="deleteServiceBalanceDetailById" parameterType="Long">
        delete from service_balance_detail where serial_no = #{serialNo}
    </delete>

    <delete id="deleteServiceBalanceDetailByIds" parameterType="String">
        delete from service_balance_detail where serial_no in
        <foreach item="serialNo" collection="array" open="(" separator="," close=")">
            #{serialNo}
        </foreach>
    </delete>

    <select id="selectServiceBalanceDetailList2" parameterType="ServiceBalanceDetail" resultMap="ServiceBalanceDetailResult">
        SELECT
            b.task_no,
            b.order_code,
            b.balance_interval,
            b.risk_code,
            b.policy_no,
            b.policy_item_no,
            b.supplier_code,
            b.service_code,
            b.appnt_no,
            b.appnt_name,
            b.cust_no,
            b.cust_name,
            b.sex,
            b.id_no,
            b.service_date,
            b.remark,
            b.amount,
            b.actual_amount,
            b.reason,
            a.bussiness_status
        FROM
            service_balance_info a,
            service_balance_detail b
        WHERE
            a.task_no = b.task_no
        AND a.settle_type = '01'
        AND a.status = 'Y'
        AND b.status = 'Y'
        <if test="supplierCode != null  and supplierCode != ''"> and a.supplier_code = #{supplierCode}</if>
        <if test="serviceCode != null  and serviceCode != ''"> and a.service_code = #{serviceCode}</if>
        <if test="bussinessStatus != null  and bussinessStatus != ''"> and a.bussiness_status = #{bussinessStatus}</if>
        <if test="orderCode != null  and orderCode != ''"> and b.order_code = #{orderCode}</if>
        <if test="custName != null  and custName != ''"> and b.cust_name like concat('%', #{custName}, '%')</if>
        <if test="policyNo != null  and policyNo != ''"> and b.policy_no = #{policyNo}</if>
        <if test="policyItemNo != null  and policyItemNo != ''"> and b.policy_item_no = #{policyItemNo}</if>
    </select>

    <select id="selectDetailList" parameterType="ServiceBalanceInfo" resultMap="ServiceBalanceDetailResult">
        <!-- 按case（工单） -->
        <if test="settleType == '01'">
            <!-- SELECT
             *
             FROM
             (
             SELECT
             '987987987985' order_code,
             '2020-11-22~2020-12-03' balance_interval,
             '健康险' risk_code,
             '328928394' policy_no,
             '287486486834' policy_item_no,
             '111' appnt_no,
             '肖战' appnt_name,
             '1111' cust_no,
             '王一博' cust_name,
             '1' sex,
             '6101111999909080055' id_no,
             '2021-01-21' service_date,
             '供应商等' remark,
             100 amount,
             90 actual_amount,
             '原因' reason
             FROM
             DUAL
             UNION
             SELECT
             '987987987987' order_code,
             '2020-11-22~2020-12-04' balance_interval,
             '健康险' risk_code,
             '328928394' policy_no,
             '287486486834' policy_item_no,
             '222' appnt_no,
             '肖战2' appnt_name,
             '2222' cust_no,
             '王一博2' cust_name,
             '0' sex,
             '6101111999909080056' id_no,
             '2021-01-22' service_date,
             '供应商2等' remark,
             200 amount,
             190 actual_amount,
             '原因' reason
             FROM
             DUAL
             ) t
             WHERE
             1 = 1-->
            SELECT
            oi.order_code,
            oi.risk_name,
            oi.policy_no,
            oi.policy_certificate_no policy_item_no,
            oi.appnt_name,
            ci. NAME cust_name,
            ci.sex,
            ci.id_code id_no,
            oi.order_complete_time service_date,
            oi.remark,
            oi.settle_price amount,
            oi.reason,
            bcs.supplier_service_name,
            bcs.settle_type,
            oi.push_flag
            FROM
            order_info oi
            LEFT JOIN customer_info ci ON ci.customer_no = oi.customer_no
            AND ci. STATUS = 'Y'
            LEFT JOIN base_contract_service bcs ON bcs.serial_no = (
            SELECT
            max(serial_no)
            FROM
            base_contract_service
            WHERE
            base_contract_service.supplier_code = oi.supplier_code
            AND base_contract_service.service_code = oi.service_code
            )
            WHERE
            oi. STATUS = 'Y'
            AND oi.push_flag = '0' and oi.bussiness_status = '02'
            <if test="supplierCode != null  and supplierCode != ''">and oi.supplier_code = #{supplierCode}</if>
            <if test="settleType != null  and settleType != ''">and bcs.settle_type =#{settleType}</if>
            <if test="serviceCode != null  and serviceCode != ''">and bcs.serial_no = #{serviceCode}</if>
        </if>
        <!-- 按人头（保单） -->
        <if test="settleType == '02'">
            SELECT
            *
            FROM
            (
            SELECT
            '2020-11-22~2020-12-03' balance_interval,
            '健康险' risk_code,
            1 insured_Num,
            100 unit_Price,
            '供应商等' remark,
            100 amount,
            90 actual_amount,
            '原因' reason
            FROM
            DUAL
            UNION
            SELECT
            '2020-11-22~2020-12-04' balance_interval,
            '健康险' risk_code,
            1 insured_Num,
            200 unit_Price,
            '供应商2等' remark,
            200 amount,
            190 actual_amount,
            '原因' reason
            FROM
            DUAL
            ) t
            WHERE
            1 = 1
        </if>
        <!-- 按一口价 -->
        <if test="settleType == '03'">
    <!--SELECT
    *
    FROM
    (
    SELECT
    '2020-11-22~2020-12-03' balance_interval,
    '1' supplier_code,
    '11' service_code,
    100 amount,
    90 actual_amount,
    '原因' reason
    FROM
    DUAL
    UNION
    SELECT
    '2020-11-22~2020-12-04' balance_interval,
    '2' supplier_code,
    '22' service_code,
    200 amount,
    190 actual_amount,
    '原因' reason
    FROM
    DUAL
    ) t
    WHERE
    1 = 1-->

    SELECT
    oi.order_code,
    oi.supplier_name,
    oi.service_name,
    oi.remark,
    oi.settle_price amount,
    oi.reason,
    bcs.supplier_service_name,
    bcs.settle_type,
    oi.push_flag
    FROM
    order_info oi
    LEFT JOIN customer_info ci ON ci.customer_no = oi.customer_no
    AND ci. STATUS = 'Y'
    LEFT JOIN base_contract_service bcs ON bcs.serial_no = (
    SELECT
    max(serial_no)
    FROM
    base_contract_service
    WHERE
    base_contract_service.supplier_code = oi.supplier_code
    AND base_contract_service.service_code = oi.service_code
    )
    WHERE
    oi. STATUS = 'Y'
    AND oi.push_flag = '0' and oi.bussiness_status = '02' and oi.supplier_code = #{supplierCode}
    AND bcs.settle_type =#{settleType}
</if>
</select>

<update id="updateServiceBalanceDetailByTaskNo" parameterType="ServiceBalanceDetail">
update service_balance_detail
<trim prefix="SET" suffixOverrides=",">
    <if test="status != null">status = #{status},</if>
    <if test="orderCode != null">order_code = #{orderCode},</if>
    <if test="balanceInterval != null">balance_interval = #{balanceInterval},</if>
    <if test="riskCode != null">risk_code = #{riskCode},</if>
    <if test="policyNo != null">policy_no = #{policyNo},</if>
    <if test="policyItemNo != null">policy_item_no = #{policyItemNo},</if>
    <if test="supplierCode != null">supplier_code = #{supplierCode},</if>
    <if test="serviceCode != null">service_code = #{serviceCode},</if>
    <if test="appntNo != null">appnt_no = #{appntNo},</if>
    <if test="appntName != null">appnt_name = #{appntName},</if>
    <if test="custNo != null">cust_no = #{custNo},</if>
    <if test="custName != null">cust_name = #{custName},</if>
    <if test="sex != null">sex = #{sex},</if>
    <if test="idNo != null">id_no = #{idNo},</if>
    <if test="serviceDate != null">service_date = #{serviceDate},</if>
    <if test="remark != null">remark = #{remark},</if>
    <if test="amount != null">amount = #{amount},</if>
    <if test="actualAmount != null">actual_amount = #{actualAmount},</if>
    <if test="reason != null">reason = #{reason},</if>
    <if test="insuredNum != null">insured_num = #{insuredNum},</if>
    <if test="unitPrice != null">unit_price = #{unitPrice},</if>
    <if test="createBy != null">create_by = #{createBy},</if>
    <if test="createTime != null">create_time = #{createTime},</if>
    <if test="updateBy != null">update_by = #{updateBy},</if>
    <if test="updateTime != null">update_time = #{updateTime},</if>
</trim>
where task_no = #{taskNo}
</update>

<!-- 导出（按case） -->
    <select id="selectServiceBalanceDetailList_case" parameterType="ServiceBalanceInfo" resultMap="ServiceBalanceDetailCaseVOResult">
        SELECT
            a.order_code,
            a.risk_code,
            a.policy_no,
            a.policy_item_no,
            a.service_code,
            a.appnt_name,
            a.cust_name,
            a.sex,
            a.id_no,
            a.service_date,
            a.remark,
            a.amount,
            a.actual_amount,
            a.reason
        FROM
            service_balance_detail a
        <where>
            <if test="taskNo != null  and taskNo != ''"> and a.task_no = #{taskNo}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
        </where>
    </select>

    <!-- 导出（按人头） -->
    <select id="selectServiceBalanceDetailList_cont" parameterType="ServiceBalanceInfo" resultMap="ServiceBalanceDetailContVOResult">
        SELECT
            a.risk_code,
            a.insured_num,
            a.unit_price,
            a.remark,
            a.amount,
            a.actual_amount,
            a.reason
        FROM
            service_balance_detail a
        <where>
            <if test="taskNo != null  and taskNo != ''"> and a.task_no = #{taskNo}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
        </where>
    </select>

    <!-- 导出（按一口价） -->
    <select id="selectServiceBalanceDetailList_price" parameterType="ServiceBalanceInfo" resultMap="ServiceBalanceDetailPriceVOResult">
        SELECT
            c.chname supplier_code,
            b.supplier_service_name service_code,
            a.amount,
            a.actual_amount,
            a.reason
        FROM
            service_balance_detail a
        LEFT JOIN base_contract_service b ON a.service_code = b.serial_no
        LEFT JOIN base_supplier_info c ON a.supplier_code = c.serial_no
        <where>
            <if test="taskNo != null  and taskNo != ''"> and a.task_no = #{taskNo}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
        </where>
    </select>
    
</mapper>