<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.order.mapper.ServiceBalanceInfoMapper">
    <resultMap type="com.paic.ehis.order.domain.ServiceBalanceInfo" id="ServiceBalanceInfoResult">
        <result property="serialNo"    column="serial_no"    />
        <result property="taskNo"    column="task_no"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="serviceCode"    column="service_code"    />
        <result property="settleType"    column="settle_type"    />
        <result property="settleCurrency"    column="settle_currency"    />
        <result property="endDate"    column="end_date"    />
        <result property="balanceInvoiceType"    column="balance_invoice_type"    />
        <result property="serviceAmount"    column="service_amount"    />
        <result property="status"    column="status"    />
        <result property="isImport"    column="is_import"    />
        <result property="bussinessStatus"    column="bussiness_status"    />
        <result property="balanceDate"    column="balance_date"    />
        <result property="logId"    column="log_id"    />
        <result property="invoiceStatus"    column="invoice_status"    />
        <result property="areaCode"    column="area_code"    />
        <result property="manageCom"    column="manage_com"    />
        <result property="payNo"    column="pay_no"    />
        <result property="payDate"    column="pay_date"    />
        <result property="payAmount"    column="pay_amount"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectServiceBalanceInfoVo">
        select serial_no, task_no, supplier_code, service_code, settle_type, settle_currency, end_date, balance_invoice_type, service_amount, status, is_import, bussiness_status, balance_date, log_id, invoice_status, area_code, manage_com, pay_no, pay_date, pay_amount, create_by, create_time, update_by, update_time from service_balance_info
    </sql>

    <select id="selectServiceBalanceInfoList" parameterType="ServiceBalanceInfo" resultMap="ServiceBalanceInfoResult">
        <include refid="selectServiceBalanceInfoVo"/>
        <where>
            <if test="taskNo != null  and taskNo != ''"> and task_no = #{taskNo}</if>
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="serviceCode != null  and serviceCode != ''"> and service_code = #{serviceCode}</if>
            <if test="settleType != null  and settleType != ''"> and settle_type = #{settleType}</if>
            <if test="settleCurrency != null  and settleCurrency != ''"> and settle_currency = #{settleCurrency}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="balanceInvoiceType != null "> and balance_invoice_type = #{balanceInvoiceType}</if>
            <if test="serviceAmount != null "> and service_amount = #{serviceAmount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="isImport != null  and isImport != ''"> and is_import = #{isImport}</if>
            <if test="bussinessStatus != null  and bussinessStatus != ''"> and bussiness_status = #{bussinessStatus}</if>
            <if test="balanceDate != null "> and balance_date = #{balanceDate}</if>
            <if test="logId != null "> and log_id = #{logId}</if>
            <if test="invoiceStatus != null">and invoice_status = #{invoiceStatus}</if>
            <if test="areaCode != null  and areaCode != ''"> and area_code = #{areaCode}</if>
            <if test="manageCom != null  and manageCom != ''"> and manage_com = #{manageCom}</if>
            <if test="payNo != null  and payNo != ''"> and pay_no = #{payNo}</if>
            <if test="payDate != null "> and pay_date = #{payDate}</if>
            <if test="payAmount != null "> and pay_amount = #{payAmount}</if>
        </where>
    </select>

    <select id="selectServiceBalanceInfoById" parameterType="Long" resultMap="ServiceBalanceInfoResult">
        <include refid="selectServiceBalanceInfoVo"/>
        where serial_no = #{serialNo}
    </select>

    <insert id="insertServiceBalanceInfo" parameterType="ServiceBalanceInfo" useGeneratedKeys="true" keyProperty="serialNo">
        insert into service_balance_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskNo != null and taskNo != ''">task_no,</if>
            <if test="supplierCode != null and supplierCode != ''">supplier_code,</if>
            <if test="serviceCode != null">service_code,</if>
            <if test="settleType != null">settle_type,</if>
            <if test="settleCurrency != null">settle_currency,</if>
            <if test="endDate != null">end_date,</if>
            <if test="balanceInvoiceType != null">balance_invoice_type,</if>
            <if test="serviceAmount != null">service_amount,</if>
            <if test="status != null">status,</if>
            <if test="isImport != null">is_import,</if>
            <if test="bussinessStatus != null">bussiness_status,</if>
            <if test="balanceDate != null">balance_date,</if>
            <if test="logId != null">log_id,</if>
            <if test="invoiceStatus != null">invoice_status,</if>
            <if test="areaCode != null">area_code,</if>
            <if test="manageCom != null">manage_com,</if>
            <if test="payNo != null">pay_no,</if>
            <if test="payDate != null">pay_date,</if>
            <if test="payAmount != null">pay_amount,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskNo != null and taskNo != ''">#{taskNo},</if>
            <if test="supplierCode != null and supplierCode != ''">#{supplierCode},</if>
            <if test="serviceCode != null">#{serviceCode},</if>
            <if test="settleType != null">#{settleType},</if>
            <if test="settleCurrency != null">#{settleCurrency},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="balanceInvoiceType != null">#{balanceInvoiceType},</if>
            <if test="serviceAmount != null">#{serviceAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="isImport != null">#{isImport},</if>
            <if test="bussinessStatus != null">#{bussinessStatus},</if>
            <if test="balanceDate != null">#{balanceDate},</if>
            <if test="logId != null">#{logId},</if>
            <if test="invoiceStatus != null">#{invoiceStatus},</if>
            <if test="areaCode != null">#{areaCode},</if>
            <if test="manageCom != null">#{manageCom},</if>
            <if test="payNo != null">#{payNo},</if>
            <if test="payDate != null">#{payDate},</if>
            <if test="payAmount != null">#{payAmount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateServiceBalanceInfo" parameterType="ServiceBalanceInfo">
        update service_balance_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskNo != null and taskNo != ''">task_no = #{taskNo},</if>
            <if test="supplierCode != null and supplierCode != ''">supplier_code = #{supplierCode},</if>
            <if test="serviceCode != null">service_code = #{serviceCode},</if>
            <if test="settleType != null">settle_type = #{settleType},</if>
            <if test="settleCurrency != null">settle_currency = #{settleCurrency},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="balanceInvoiceType != null">balance_invoice_type = #{balanceInvoiceType},</if>
            <if test="serviceAmount != null">service_amount = #{serviceAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isImport != null">is_import = #{isImport},</if>
            <if test="bussinessStatus != null">bussiness_status = #{bussinessStatus},</if>
            <if test="balanceDate != null">balance_date = #{balanceDate},</if>
            <if test="logId != null">log_id = #{logId},</if>
            <if test="invoiceStatus != null">invoice_status = #{invoiceStatus},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="manageCom != null">manage_com = #{manageCom},</if>
            <if test="payNo != null">pay_no = #{payNo},</if>
            <if test="payDate != null">pay_date = #{payDate},</if>
            <if test="payAmount != null">pay_amount = #{payAmount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where serial_no = #{serialNo}
    </update>

    <delete id="deleteServiceBalanceInfoById" parameterType="Long">
        delete from service_balance_info where serial_no = #{serialNo}
    </delete>

    <delete id="deleteServiceBalanceInfoByIds" parameterType="String">
        delete from service_balance_info where serial_no in
        <foreach item="serialNo" collection="array" open="(" separator="," close=")">
            #{serialNo}
        </foreach>
    </delete>

    <select id="selectServiceBalanceInfoByTaskNo" parameterType="String" resultMap="ServiceBalanceInfoResult">
        <include refid="selectServiceBalanceInfoVo"/>
        where task_no = #{taskNo}
    </select>

    <sql id="selectServiceBalanceInfoVo2">
        select serial_no, task_no, supplier_code, service_code, settle_type, settle_currency, end_date, balance_invoice_type, service_amount, status, is_import, bussiness_status, balance_date, log_id, invoice_status, area_code, manage_com, pay_no, pay_date, pay_amount, create_by, create_time, update_by, update_time
        <if test="params != null ">
            <if test="params.queryType != null  and params.queryType != ''">
                <if test="params.queryType == 'startBalance'">
                    ,(select b.examine_opinion from service_balance_exam_log b where b.serial_no = log_id) remark
                </if>
            </if>
        </if>
        from service_balance_info
    </sql>

    <select id="selectServiceBalanceInfoList2" parameterType="com.paic.ehis.order.domain.ServiceBalanceInfo" resultMap="ServiceBalanceInfoResult">
        <include refid="selectServiceBalanceInfoVo2"/>
        <where>
            <if test="taskNo != null  and taskNo != ''"> and task_no = #{taskNo}</if>
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="serviceCode != null  and serviceCode != ''"> and service_code = #{serviceCode}</if>
            <if test="settleType != null  and settleType != ''"> and settle_type = #{settleType}</if>
            <if test="settleCurrency != null  and settleCurrency != ''"> and settle_currency = #{settleCurrency}</if>
            <if test="endDate != null "> and end_date &lt;= #{endDate}</if>
            <if test="balanceInvoiceType != null "> and balance_invoice_type = #{balanceInvoiceType}</if>
            <if test="serviceAmount != null "> and service_amount = #{serviceAmount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="isImport != null  and isImport != ''"> and is_import = #{isImport}</if>
            <if test="bussinessStatus != null  and bussinessStatus != ''"> and bussiness_status = #{bussinessStatus}</if>
            <if test="bussinessStatus == null or bussinessStatus == ''">
                <if test="params != null ">
                    <if test="params.queryType != null  and params.queryType != ''">
                        <if test="params.queryType == 'startBalance'">
                            and bussiness_status in ('01','03')
                        </if>
                        <if test="params.queryType == 'examBalance'">
                            and bussiness_status in ('02')
                        </if>
                        <if test="params.queryType == 'writeBalance'">
                            and bussiness_status in ('04','05')
                        </if>
                    </if>
                </if>
            </if>
            <if test="balanceDate != null "> and balance_date = #{balanceDate}</if>
            <if test="logId != null "> and log_id = #{logId}</if>
            <if test="invoiceStatus != null">and invoice_status = #{invoiceStatus}</if>
            <if test="areaCode != null  and areaCode != ''"> and area_code = #{areaCode}</if>
            <if test="manageCom != null  and manageCom != ''"> and manage_com = #{manageCom}</if>
            <if test="payNo != null  and payNo != ''"> and pay_no = #{payNo}</if>
            <if test="payDate != null"> and pay_date like concat('%',SUBSTRING(#{payDate},1 ,10),'%') </if>
            <!--<if test="payDate != null"> and pay_date like concat(date_format(#{payDate},'%Y-%m-%d'),'%') </if>-->
            <if test="payAmount != null "> and pay_amount = #{payAmount}</if>
            <if test="beginTime != null "> and end_date &gt;= #{beginTime}</if>
            <if test="endTime != null "> and end_date &lt;= #{endTime}</if>
        </where>
    </select>

    <select id="selectServiceBalanceInfoList2Default" parameterType="ServiceBalanceInfo" resultMap="ServiceBalanceInfoResult">
        <include refid="selectServiceBalanceInfoVo2"/>
        <where>
            <if test="taskNo != null  and taskNo != ''"> and task_no = #{taskNo}</if>
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="serviceCode != null  and serviceCode != ''"> and service_code = #{serviceCode}</if>
            <if test="settleType != null  and settleType != ''"> and settle_type = #{settleType}</if>
            <if test="settleCurrency != null  and settleCurrency != ''"> and settle_currency = #{settleCurrency}</if>
            <if test="endDate != null "> and end_date &lt;= #{endDate}</if>
            <if test="balanceInvoiceType != null "> and balance_invoice_type = #{balanceInvoiceType}</if>
            <if test="serviceAmount != null "> and service_amount = #{serviceAmount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="isImport != null  and isImport != ''"> and is_import = #{isImport}</if>
            <if test="bussinessStatus != null  and bussinessStatus != ''"> and bussiness_status = #{bussinessStatus}</if>
            <if test="bussinessStatus == null or bussinessStatus == ''">
                <if test="params != null ">
                    <if test="params.queryType != null  and params.queryType != ''">
                        <if test="params.queryType == 'startBalance'">
                            and bussiness_status in ('01','03')
                        </if>
                        <if test="params.queryType == 'examBalance'">
                            and bussiness_status in ('02')
                        </if>
                        <if test="params.queryType == 'writeBalance'">
                            and bussiness_status in ('04','05')
                        </if>
                    </if>
                </if>
            </if>
            <if test="balanceDate != null "> and balance_date = #{balanceDate}</if>
            <if test="logId != null "> and log_id = #{logId}</if>
            and invoice_status = 'N'
            <if test="areaCode != null  and areaCode != ''"> and area_code = #{areaCode}</if>
            <if test="manageCom != null  and manageCom != ''"> and manage_com = #{manageCom}</if>
            <if test="payNo != null  and payNo != ''"> and pay_no = #{payNo}</if>
            <if test="payDate != null "> and pay_date = #{payDate}</if>
            <if test="payAmount != null "> and pay_amount = #{payAmount}</if>
            <if test="beginTime != null "> and end_date &gt;= #{beginTime}</if>
            <if test="endTime != null "> and end_date &lt;= #{endTime}</if>
        </where>
    </select>

    <update id="updateServiceBalanceInfoByTaskNo" parameterType="ServiceBalanceInfo">
        update service_balance_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierCode != null and supplierCode != ''">supplier_code = #{supplierCode},</if>
            <if test="serviceCode != null">service_code = #{serviceCode},</if>
            <if test="settleType != null">settle_type = #{settleType},</if>
            <if test="settleCurrency != null">settle_currency = #{settleCurrency},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="balanceInvoiceType != null">balance_invoice_type = #{balanceInvoiceType},</if>
            <if test="serviceAmount != null">service_amount = #{serviceAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isImport != null">is_import = #{isImport},</if>
            <if test="bussinessStatus != null">bussiness_status = #{bussinessStatus},</if>
            <if test="balanceDate != null">balance_date = #{balanceDate},</if>
            <if test="logId != null">log_id = #{logId},</if>
            <if test="invoiceStatus != null">invoice_status = #{invoiceStatus},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="manageCom != null">manage_com = #{manageCom},</if>
            <if test="payNo != null">pay_no = #{payNo},</if>
            <if test="payDate != null">pay_date = #{payDate},</if>
            <if test="payAmount != null">pay_amount = #{payAmount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where task_no = #{taskNo}
    </update>
</mapper>