<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.claimmgt.mapper.ClaimUserTakeOnMapper">

    <resultMap type="com.paic.ehis.claimmgt.domain.ClaimUserTakeOn" id="ClaimUserTakeOnResult">
        <result property="takeOnId"    column="take_on_id"    />
        <result property="userName"    column="user_name"    />
        <result property="takeOnUserName"    column="take_on_user_name"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectClaimUserTakeOnVo">
        select take_on_id, user_name, take_on_user_name, status, create_by, create_time, update_by, update_time from claim_user_take_on
    </sql>
    <resultMap type="com.paic.ehis.claimmgt.domain.dto.UserTakeOnDTO" id="ClaimUserTakeOnDTO">
        <result property="userName"    column="user_name"    />
        <result property="roleName"    column="role_name"    />
        <result property="roleCode"    column="role_code"    />
        <result property="status"    column="status"    />
        <result property="takeOnUserName"    column="take_on_user_name"    />
        <result property="takeOnId"    column="take_on_id"    />
    </resultMap>

    <select id="selectClaimUserTakeOnList" parameterType="com.paic.ehis.claimmgt.domain.ClaimUserTakeOn" resultMap="ClaimUserTakeOnResult">
        <include refid="selectClaimUserTakeOnVo"/>
        <where>
            <if test="userName != null "> and user_name  like concat('%', #{userName}, '%')</if>
            <if test="takeOnUserName != null "> and take_on_user_name  like concat('%',  #{takeOnUserName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectClaimUserTakeOnListOne" parameterType="com.paic.ehis.claimmgt.domain.dto.UserTakeOnDTO" resultMap="ClaimUserTakeOnDTO">
        select a.take_on_id,a.user_name,b.role_code,a.take_on_user_name,c.role_name,a.status
        from claim_user_take_on a join claim_case_dist b on a.user_name = b.user_name and b.status = 'Y' join claim_user_role c on c.role_code = b.role_code
        <where>
            1=1
        </where>
    </select>

    <select id="selectClaimUserTakeOnById" parameterType="String" resultMap="ClaimUserTakeOnResult">
        <include refid="selectClaimUserTakeOnVo"/>
        where take_on_id = #{takeOnId}
    </select>

    <insert id="insertClaimUserTakeOn" parameterType="com.paic.ehis.claimmgt.domain.ClaimUserTakeOn" useGeneratedKeys="true" keyProperty="takeOnId">
        insert into claim_user_take_on
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">user_name,</if>
            <if test="takeOnUserName != null">take_on_user_name,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">#{userName},</if>
            <if test="takeOnUserName != null">#{takeOnUserName},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateClaimUserTakeOn" parameterType="com.paic.ehis.claimmgt.domain.ClaimUserTakeOn">
        update claim_user_take_on
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null">user_name = #{userName},</if>
            <if test="takeOnUserName != null">take_on_user_name = #{takeOnUserName},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where take_on_id = #{takeOnId}
    </update>
    <update id="updateSysUser" parameterType="com.paic.ehis.claimmgt.domain.ClaimUserTakeOn">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null">user_name = #{userName},</if>
            <!--<if test="status != null and status != ''">status = #{status},</if>-->
        </trim>
        where user_name = #{userName}
    </update>
    <delete id="deleteClaimUserTakeOnById" parameterType="String">
        delete from claim_user_take_on where take_on_id = #{takeOnId}
    </delete>

    <delete id="deleteClaimUserTakeOnByIds" parameterType="String">
        delete from claim_user_take_on where take_on_id in
        <foreach item="takeOnId" collection="array" open="(" separator="," close=")">
            #{takeOnId}
        </foreach>
    </delete>

    <select id="getRoleCodeList" parameterType="String" resultType="String">
        select role_code from claim_case_dist where user_name = #{userName} and status = 'Y'
    </select>

    <select id="getTakeOnUserName" resultType="String">
        select distinct a.user_name from claim_case_dist a where a.user_name &lt;&gt; #{userName}
        <foreach collection="roleCodeList" item="roleCode" open="" separator=" " close="">
            and exists(select 1 from claim_case_dist b where b.user_name = a.user_name and b.role_code = #{roleCode})
        </foreach>
    </select>
</mapper>