<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.product.mapper.HpProductInformationMapper">

    <resultMap type="HpProductInformation" id="HpProductInformationResult">
        <result property="productid"    column="productid"    />
        <result property="productno"    column="productno"    />
        <result property="productname"    column="productname"    />
        <result property="producttype"    column="producttype"    />
        <result property="servicetype"    column="servicetype"    />
        <result property="costprice"    column="costprice"    />
        <result property="normalprice"    column="normalprice"    />
        <result property="taxprice"    column="taxprice"    />
        <result property="servicelimit"    column="servicelimit"    />
        <result property="servicelimitflag"    column="servicelimitflag"    />
        <result property="callout"    column="callout"    />
        <result property="sendcontract"    column="sendcontract"    />
        <result property="usebyoneself"    column="usebyoneself"    />
        <result property="allowedtocancel"    column="allowedtocancel"    />
        <result property="salstartdate"    column="salstartdate"    />
        <result property="salenddate"    column="salenddate"    />
        <result property="applysex"    column="applysex"    />
        <result property="agemin"    column="agemin"    />
        <result property="agemax"    column="agemax"    />
        <result property="discounttype"    column="discounttype"    />
        <result property="cardtype"    column="cardtype"    />
        <result property="prooftype"    column="prooftype"    />
        <result property="productstate"    column="productstate"    />
        <result property="alternatefield1"    column="alternatefield1"    />
        <result property="alternatefield2"    column="alternatefield2"    />
        <result property="operator"    column="operator"    />
        <result property="makedate"    column="makedate"    />
        <result property="maketime"    column="maketime"    />
        <result property="modifyoperator"    column="modifyoperator"    />
        <result property="modifydate"    column="modifydate"    />
        <result property="modifytime"    column="modifytime"    />
        <result property="productcode"    column="productcode"    />
        <result property="usertype"    column="usertype"    />
        <result property="taxrate"    column="taxrate"    />
        <result property="refunddate"    column="refunddate"    />
        <result property="servicecost"    column="servicecost"    />
        <result property="productclass"    column="productclass"    />
        <result property="productsubclass"    column="productsubclass"    />
        <result property="exterproductname"    column="exterproductname"    />
        <result property="amortizationflag"    column="amortizationflag"    />
        <result property="currency"    column="currency"    />
        <result property="isprovideservice"    column="isprovideservice"    />
        <result property="isprovideonline"    column="isprovideonline"    />
        <result property="isstandardproduct"    column="isstandardproduct"    />
        <result property="serviceimpletype"    column="serviceimpletype"    />
    </resultMap>

    <resultMap type="SysDictData" id="SysDictDataResult">
        <id     property="dictCode"   column="dict_code"   />
        <result property="dictSort"   column="dict_sort"   />
        <result property="dictLabel"  column="dict_label"  />
        <result property="dictValue"  column="dict_value"  />
        <result property="dictType"   column="dict_type"   />
        <result property="cssClass"   column="css_class"   />
        <result property="listClass"  column="list_class"  />
        <result property="isDefault"  column="is_default"  />
        <result property="status"     column="status"      />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectHpProductInformationVo">
        select productid, productno, productname, producttype, servicetype, costprice, normalprice, taxprice, servicelimit, servicelimitflag, callout, sendcontract, usebyoneself, allowedtocancel, salstartdate, salenddate, applysex, agemin, agemax, discounttype, cardtype, prooftype, productstate, alternatefield1, alternatefield2, operator, makedate, maketime, modifyoperator, modifydate, modifytime, productcode, usertype, taxrate, refunddate, servicecost, productclass, productsubclass, exterproductname, amortizationflag, currency, isprovideservice, isprovideonline, isstandardproduct, serviceimpletype from hp_product_information
    </sql>

    <select id="selectHpProductInformationList" parameterType="HpProductInformation" resultMap="HpProductInformationResult">
        SELECT DISTINCT a.productid,a.productno,a.productname,
        (select  h.serivcetypedesc   from  hp_product_type  h where  h.serivcetype = a.servicetype and h.producttype = a.productclass and h.productcategory  = a.productsubclass) servicetype,
        (select  h.producttypedesc   from  hp_product_type  h where  h.serivcetype = a.servicetype and h.producttype = a.productclass and h.productcategory  = a.productsubclass) productclass,
        (select  h.productcatedesc   from  hp_product_type  h where  h.serivcetype = a.servicetype and h.producttype = a.productclass and h.productcategory  = a.productsubclass) productsubclass,
        (select  h.serviceimpletypedesc   from  hp_product_type  h where  h.serivcetype = a.servicetype and h.producttype = a.productclass and h.productcategory  = a.productsubclass) serviceimpletype,
        (select dict_label from sys_dict_data where dict_type = 'product_state' and dict_value = a.ProductState) productstate,
        a.NormalPrice,
        (select dict_label from sys_dict_data where dict_type = 'product_yesflag' and dict_value = a.AllowedToCancel) allowedtocancel,
        a.ServiceLimit,
        (select dict_label from sys_dict_data where dict_type = 'product_timeunit' and dict_value = a.ServiceLimitFlag) servicelimitflag
        from hp_product_information a where 1=1
        <if test="productno != null  and productno != ''"> and productno = #{productno}</if>
        <if test="productname != null  and productname != ''"> and productname like concat('%', #{productname}, '%')</if>
        <if test="servicetype != null  and servicetype != ''"> and servicetype = #{servicetype}</if>
        <if test="normalprice != null "> and normalprice = #{normalprice}</if>
        <if test="allowedtocancel != null  and allowedtocancel != ''"> and allowedtocancel = #{allowedtocancel}</if>
        <if test="productclass != null  and productclass != ''"> and productclass = #{productclass}</if>
        <if test="productsubclass != null  and productsubclass != ''"> and productsubclass = #{productsubclass}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectHpProductInformationById" parameterType="Long" resultMap="HpProductInformationResult">
        <include refid="selectHpProductInformationVo"/>
        where productid = #{productid}
    </select>

    <insert id="insertHpProductInformation" parameterType="HpProductInformation" useGeneratedKeys="true" keyProperty="productid">
        insert into hp_product_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productno != null and productno != ''">productno,</if>
            <if test="productname != null and productname != ''">productname,</if>
            <if test="producttype != null and producttype != ''">producttype,</if>
            <if test="servicetype != null and servicetype != ''">servicetype,</if>
            <if test="costprice != null">costprice,</if>
            <if test="normalprice != null">normalprice,</if>
            <if test="taxprice != null">taxprice,</if>
            <if test="servicelimit != null and servicelimit != ''">servicelimit,</if>
            <if test="servicelimitflag != null and servicelimitflag != ''">servicelimitflag,</if>
            <if test="callout != null">callout,</if>
            <if test="sendcontract != null">sendcontract,</if>
            <if test="usebyoneself != null">usebyoneself,</if>
            <if test="allowedtocancel != null">allowedtocancel,</if>
            <if test="salstartdate != null">salstartdate,</if>
            <if test="salenddate != null">salenddate,</if>
            <if test="applysex != null">applysex,</if>
            <if test="agemin != null">agemin,</if>
            <if test="agemax != null">agemax,</if>
            <if test="discounttype != null">discounttype,</if>
            <if test="cardtype != null">cardtype,</if>
            <if test="prooftype != null">prooftype,</if>
            <if test="productstate != null and productstate != ''">productstate,</if>
            <if test="alternatefield1 != null">alternatefield1,</if>
            <if test="alternatefield2 != null">alternatefield2,</if>
            <if test="operator != null and operator != ''">operator,</if>
            <if test="makedate != null">makedate,</if>
            <if test="maketime != null and maketime != ''">maketime,</if>
            <if test="modifyoperator != null">modifyoperator,</if>
            <if test="modifydate != null">modifydate,</if>
            <if test="modifytime != null and modifytime != ''">modifytime,</if>
            <if test="productcode != null">productcode,</if>
            <if test="usertype != null">usertype,</if>
            <if test="taxrate != null">taxrate,</if>
            <if test="refunddate != null">refunddate,</if>
            <if test="servicecost != null">servicecost,</if>
            <if test="productclass != null">productclass,</if>
            <if test="productsubclass != null">productsubclass,</if>
            <if test="exterproductname != null">exterproductname,</if>
            <if test="amortizationflag != null">amortizationflag,</if>
            <if test="currency != null">currency,</if>
            <if test="isprovideservice != null">isprovideservice,</if>
            <if test="isprovideonline != null">isprovideonline,</if>
            <if test="isstandardproduct != null">isstandardproduct,</if>
            <if test="serviceimpletype != null">serviceimpletype,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productno != null and productno != ''">#{productno},</if>
            <if test="productname != null and productname != ''">#{productname},</if>
            <if test="producttype != null and producttype != ''">#{producttype},</if>
            <if test="servicetype != null and servicetype != ''">#{servicetype},</if>
            <if test="costprice != null">#{costprice},</if>
            <if test="normalprice != null">#{normalprice},</if>
            <if test="taxprice != null">#{taxprice},</if>
            <if test="servicelimit != null and servicelimit != ''">#{servicelimit},</if>
            <if test="servicelimitflag != null and servicelimitflag != ''">#{servicelimitflag},</if>
            <if test="callout != null">#{callout},</if>
            <if test="sendcontract != null">#{sendcontract},</if>
            <if test="usebyoneself != null">#{usebyoneself},</if>
            <if test="allowedtocancel != null">#{allowedtocancel},</if>
            <if test="salstartdate != null">#{salstartdate},</if>
            <if test="salenddate != null">#{salenddate},</if>
            <if test="applysex != null">#{applysex},</if>
            <if test="agemin != null">#{agemin},</if>
            <if test="agemax != null">#{agemax},</if>
            <if test="discounttype != null">#{discounttype},</if>
            <if test="cardtype != null">#{cardtype},</if>
            <if test="prooftype != null">#{prooftype},</if>
            <if test="productstate != null and productstate != ''">#{productstate},</if>
            <if test="alternatefield1 != null">#{alternatefield1},</if>
            <if test="alternatefield2 != null">#{alternatefield2},</if>
            <if test="operator != null and operator != ''">#{operator},</if>
            <if test="makedate != null">#{makedate},</if>
            <if test="maketime != null and maketime != ''">#{maketime},</if>
            <if test="modifyoperator != null">#{modifyoperator},</if>
            <if test="modifydate != null">#{modifydate},</if>
            <if test="modifytime != null and modifytime != ''">#{modifytime},</if>
            <if test="productcode != null">#{productcode},</if>
            <if test="usertype != null">#{usertype},</if>
            <if test="taxrate != null">#{taxrate},</if>
            <if test="refunddate != null">#{refunddate},</if>
            <if test="servicecost != null">#{servicecost},</if>
            <if test="productclass != null">#{productclass},</if>
            <if test="productsubclass != null">#{productsubclass},</if>
            <if test="exterproductname != null">#{exterproductname},</if>
            <if test="amortizationflag != null">#{amortizationflag},</if>
            <if test="currency != null">#{currency},</if>
            <if test="isprovideservice != null">#{isprovideservice},</if>
            <if test="isprovideonline != null">#{isprovideonline},</if>
            <if test="isstandardproduct != null">#{isstandardproduct},</if>
            <if test="serviceimpletype != null">#{serviceimpletype},</if>
        </trim>
    </insert>

    <update id="updateHpProductInformation" parameterType="HpProductInformation">
        update hp_product_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="productno != null and productno != ''">productno = #{productno},</if>
            <if test="productname != null and productname != ''">productname = #{productname},</if>
            <if test="producttype != null and producttype != ''">producttype = #{producttype},</if>
            <if test="servicetype != null and servicetype != ''">servicetype = #{servicetype},</if>
            <if test="costprice != null">costprice = #{costprice},</if>
            <if test="normalprice != null">normalprice = #{normalprice},</if>
            <if test="taxprice != null">taxprice = #{taxprice},</if>
            <if test="servicelimit != null and servicelimit != ''">servicelimit = #{servicelimit},</if>
            <if test="servicelimitflag != null and servicelimitflag != ''">servicelimitflag = #{servicelimitflag},</if>
            <if test="callout != null">callout = #{callout},</if>
            <if test="sendcontract != null">sendcontract = #{sendcontract},</if>
            <if test="usebyoneself != null">usebyoneself = #{usebyoneself},</if>
            <if test="allowedtocancel != null">allowedtocancel = #{allowedtocancel},</if>
            <if test="salstartdate != null">salstartdate = #{salstartdate},</if>
            <if test="salenddate != null">salenddate = #{salenddate},</if>
            <if test="applysex != null">applysex = #{applysex},</if>
            <if test="agemin != null">agemin = #{agemin},</if>
            <if test="agemax != null">agemax = #{agemax},</if>
            <if test="discounttype != null">discounttype = #{discounttype},</if>
            <if test="cardtype != null">cardtype = #{cardtype},</if>
            <if test="prooftype != null">prooftype = #{prooftype},</if>
            <if test="productstate != null and productstate != ''">productstate = #{productstate},</if>
            <if test="alternatefield1 != null">alternatefield1 = #{alternatefield1},</if>
            <if test="alternatefield2 != null">alternatefield2 = #{alternatefield2},</if>
            <if test="operator != null and operator != ''">operator = #{operator},</if>
            <if test="makedate != null">makedate = #{makedate},</if>
            <if test="maketime != null and maketime != ''">maketime = #{maketime},</if>
            <if test="modifyoperator != null">modifyoperator = #{modifyoperator},</if>
            <if test="modifydate != null">modifydate = #{modifydate},</if>
            <if test="modifytime != null and modifytime != ''">modifytime = #{modifytime},</if>
            <if test="productcode != null">productcode = #{productcode},</if>
            <if test="usertype != null">usertype = #{usertype},</if>
            <if test="taxrate != null">taxrate = #{taxrate},</if>
            <if test="refunddate != null">refunddate = #{refunddate},</if>
            <if test="servicecost != null">servicecost = #{servicecost},</if>
            <if test="productclass != null">productclass = #{productclass},</if>
            <if test="productsubclass != null">productsubclass = #{productsubclass},</if>
            <if test="exterproductname != null">exterproductname = #{exterproductname},</if>
            <if test="amortizationflag != null">amortizationflag = #{amortizationflag},</if>
            <if test="currency != null">currency = #{currency},</if>
            <if test="isprovideservice != null">isprovideservice = #{isprovideservice},</if>
            <if test="isprovideonline != null">isprovideonline = #{isprovideonline},</if>
            <if test="isstandardproduct != null">isstandardproduct = #{isstandardproduct},</if>
            <if test="serviceimpletype != null">serviceimpletype = #{serviceimpletype},</if>
        </trim>
        where productid = #{productid}
    </update>

    <delete id="deleteHpProductInformationById" parameterType="Long">
        delete from hp_product_information where productid = #{productid}
    </delete>

    <delete id="deleteHpProductInformationByIds" parameterType="String">
        delete from hp_product_information where productid in
        <foreach item="productid" collection="array" open="(" separator="," close=")">
            #{productid}
        </foreach>
    </delete>

    <select id="selectServiceType" parameterType="HpProductInformation" resultMap="SysDictDataResult">
        Select DISTINCT a.serivcetype dict_value,a.serivcetypedesc dict_label from hp_product_type a
        where 1=1
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectProductClass" parameterType="HpProductInformation" resultMap="SysDictDataResult">
        Select DISTINCT a.producttype dict_value,a.producttypedesc dict_label from hp_product_type a
        where 1=1
        and a.serivcetype = #{servicetype}
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectProductSubClass" parameterType="HpProductInformation" resultMap="SysDictDataResult">
        Select DISTINCT a.productcategory dict_value,a.productcatedesc dict_label from hp_product_type a
        where 1=1
        and a.serivcetype = #{servicetype}
        and a.producttype = #{productclass}
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

</mapper>