<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.CodeDictMapper">
    
    <resultMap type="com.paic.ehis.cs.domain.CodeDict" id="CodeDictResult">
        <result property="codeType"    column="code_type"    />
        <result property="code"    column="code"    />
        <result property="codeName"    column="code_name"    />
        <result property="codeAlias"    column="code_alias"    />
        <result property="status"    column="status"    />
        <result property="parentCode"    column="parent_code"    />
        <result property="remarks"    column="remarks"    />
        <result property="orderNo"    column="order_no"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>


    <resultMap type="com.paic.ehis.cs.domain.dto.CodeDictDTO" id="CodeDictDTOResult">
        <result property="complaintBusinessCode"    column="complaint_business_code"    />
        <result property="complaintBusinessName"    column="complaint_business_name"    />
        <result property="complaintBusinessType"    column="complaint_business_type"    />
        <result property="insuranceSourceCode"    column="insurance_source_code"    />
        <result property="insuranceSourceName"    column="insurance_source_name"    />
        <result property="insuranceSourceType"    column="insurance_source_type"    />
    </resultMap>

    <select id="selectCodeDictVoList" parameterType="com.paic.ehis.cs.domain.vo.CodeDictVo" resultMap="CodeDictDTOResult">
        SELECT
        a.code insurance_source_code,
        a.code_name insurance_source_name,
        b.code complaint_business_code,
        b.code_name complaint_business_name
        FROM
        code_Dict a
        LEFT JOIN code_Dict b ON a.parent_code = b.code
        WHERE 1=1
         AND a.code_type = #{insuranceSourceType}
         AND b.code_type = #{complaintBusinessType}
        <if test="insuranceSourceCode != null  and insuranceSourceCode != ''"> AND a.code = #{insuranceSourceCode}</if>
        <if test="insuranceSourceName != null  and insuranceSourceName != ''"> AND a.code_name like concat('%', #{insuranceSourceName}, '%')</if>
        <if test="complaintBusinessCode != null  and complaintBusinessCode != ''"> AND b.code = #{complaintBusinessCode}</if>
        <if test="complaintBusinessName != null  and complaintBusinessName != ''"> AND b.code_name like concat('%', #{complaintBusinessName}, '%')</if>
    </select>


    <sql id="selectCodeDictVo">
        select code_type, code, code_name, code_alias, status, parent_code, remarks, order_no, created_by, created_time, updated_by, updated_time from code_dict
    </sql>

    <select id="selectCodeDictList" parameterType="com.paic.ehis.cs.domain.CodeDict" resultMap="CodeDictResult">
        <include refid="selectCodeDictVo"/>
        <where>  
            <if test="codeName != null  and codeName != ''"> and code_name like concat('%', #{codeName}, '%')</if>
            <if test="codeAlias != null  and codeAlias != ''"> and code_alias = #{codeAlias}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="parentCode != null  and parentCode != ''"> and parent_code = #{parentCode}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="orderNo != null "> and order_no = #{orderNo}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>

    <select id="selectComplaintBusiness" parameterType="com.paic.ehis.cs.domain.CodeDict" resultMap="CodeDictResult">
    SELECT code,code_name FROM `code_Dict` where code_type= #{codeType}
    </select>

    <select id="selectInsuranceSource" parameterType="com.paic.ehis.cs.domain.CodeDict" resultMap="CodeDictResult">
    SELECT code,code_name FROM `code_Dict` where p_code_id= #{pCodeId}
    </select>
    
    <select id="selectCodeDictById" parameterType="String" resultMap="CodeDictResult">
        <include refid="selectCodeDictVo"/>
        where code_type = #{codeType}
    </select>
        
    <insert id="insertCodeDict" parameterType="com.paic.ehis.cs.domain.CodeDict">
        insert into code_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="codeType != null">code_type,</if>
            <if test="code != null">code,</if>
            <if test="codeName != null">code_name,</if>
            <if test="codeAlias != null">code_alias,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="parentCode != null">parent_code,</if>
            <if test="remarks != null">remarks,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="codeType != null">#{codeType},</if>
            <if test="code != null">#{code},</if>
            <if test="codeName != null">#{codeName},</if>
            <if test="codeAlias != null">#{codeAlias},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="parentCode != null">#{parentCode},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateCodeDict" parameterType="com.paic.ehis.cs.domain.CodeDict">
        update code_dict
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="codeName != null">code_name = #{codeName},</if>
            <if test="codeAlias != null">code_alias = #{codeAlias},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="parentCode != null">parent_code = #{parentCode},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where code_type = #{codeType}
    </update>

    <delete id="deleteCodeDictById" parameterType="String">
        delete from code_dict where code_type = #{codeType}
    </delete>

    <delete id="deleteCodeDictByIds" parameterType="String">
        delete from code_dict where code_type in 
        <foreach item="codeType" collection="array" open="(" separator="," close=")">
            #{codeType}
        </foreach>
    </delete>

    <select id="selectInCodeDict" parameterType="com.paic.ehis.cs.domain.vo.CodeEnumVo1" resultMap="CodeDictResult">
        SELECT
        *
        FROM
        code_dict
        WHERE
        code_type = #{codeTYpe}
        AND CODE IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.code}
        </foreach>
    </select>

    <insert id="insertCodeDictList" parameterType="com.paic.ehis.cs.domain.CodeDict">
        insert into code_dict
        (code_type,code, code_name, code_alias
        ,parent_code,order_no,remark,status
        ,create_by, create_time, update_by, update_time)
        values
        <foreach collection="list" item="listDO" index="index" separator=",">
            (#{listDO.codeType}, #{listDO.code},#{listDO.codeName}, #{listDO.codeAlias}
            , #{listDO.parentCode}, #{listDO.orderNo},#{listDO.remark}, #{listDO.status}
            , #{listDO.createBy}, #{listDO.createTime}, #{listDO.updateBy}, #{listDO.updateTime})
        </foreach>
    </insert>

    <update id="updateCodeDictList" parameterType="com.paic.ehis.cs.domain.CodeDict">
        update code_dict set
        (code_type,code, code_name, code_alias
        ,parent_code,order_no,remark,status
        ,create_by, create_time, update_by, update_time)
        values
        <foreach collection="list" item="listDO" index="index" separator=",">
            (#{listDO.codeType}, #{listDO.code},#{listDO.codeName}, #{listDO.codeAlias}
            , #{listDO.parentCode}, #{listDO.orderNo},#{listDO.remark}, #{listDO.status}
            , #{listDO.createBy}, #{listDO.createTime}, #{listDO.updateBy}, #{listDO.updateTime})
        </foreach>
    </update>
    
</mapper>