<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.CodeEnumVoMapper">
    
    <resultMap type="com.paic.ehis.cs.domain.vo.CodeEnumVo" id="CodeEnumVoResult">
        <result property="complaintBusinessCode"    column="complaint_business_code"    />
        <result property="complaintBusinessName"    column="complaint_business_name"    />
        <result property="insuranceSourceCode"    column="insurance_source_code"    />
        <result property="insuranceSourceName"    column="insurance_source_name"    />
    </resultMap>

    <select id="selectCodeEnumVoList" parameterType="com.paic.ehis.cs.domain.dto.CodeEnumDTO" resultMap="CodeEnumVoResult">
SELECT
	a.CODE complaint_business_code,
	a.code_name complaint_business_name,
	b.CODE insurance_source_code,
	b.code_name insurance_source_name
FROM
	code_enum a
	LEFT JOIN code_enum b ON a.code_id = b.p_code_id
WHERE
	a.code_type = #{complaintBusinessType}
        <if test="complaintBusinessCode != null  and complaintBusinessCode != ''"> and complaint_business_code = #{complaintBusinessCode}</if>
        <if test="complaintBusinessName != null  and complaintBusinessName != ''"> and complaint_business_name = #{complaintBusinessName}</if>
        <if test="insuranceSourceCode != null  and insuranceSourceCode != ''"> and insurance_source_code = #{insuranceSourceCode}</if>
        <if test="insuranceSourceName != null  and insuranceSourceName != ''"> and insurance_source_name = #{insuranceSourceName}</if>
    </select>

    <insert id="insertCodeEnumInfo">
        insert into code_enum
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="codeType != null">code_type,</if>
            <if test="code != null">code,</if>
            <if test="codeName != null">code_name,</if>
            <if test="codeAlias != null">code_alias,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="pCodeId != null">p_code_id,</if>
            <if test="remarks != null">remarks,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="codeType != null">#{codeType},</if>
            <if test="code != null">#{code},</if>
            <if test="codeName != null">#{codeName},</if>
            <if test="codeAlias != null">#{codeAlias},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="pCodeId != null">#{pCodeId},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
        </trim>
    </insert>

    <update id="updateCodeEnumInfo" >
        update code_enum
        <trim prefix="SET" suffixOverrides=",">
            <if test="codeType != null">code_type = #{codeType},</if>
            <if test="code != null">code = #{code},</if>
            <if test="codeName != null">code_name = #{codeName},</if>
            <if test="codeAlias != null">code_alias = #{codeAlias},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="pCodeId != null">p_code_id = #{pCodeId},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where code_id = #{codeId}
    </update>

    
</mapper>