<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.CodeEnumMapper">
    
    <resultMap type="CodeEnum" id="CodeEnumResult">
        <result property="codeId"    column="code_id"    />
        <result property="codeType"    column="code_type"    />
        <result property="code"    column="code"    />
        <result property="codeName"    column="code_name"    />
        <result property="codeAlias"    column="code_alias"    />
        <result property="status"    column="status"    />
        <result property="pCodeId"    column="p_code_id"    />
        <result property="remarks"    column="remarks"    />
        <result property="orderNo"    column="order_no"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCodeEnumVo">
        select code_id, code_type, code, code_name, code_alias, status, p_code_id, remarks, order_no, created_by, created_time, updated_by, updated_time from code_enum
    </sql>

    <select id="selectCodeEnumList" parameterType="CodeEnum" resultMap="CodeEnumResult">
        <include refid="selectCodeEnumVo"/>
        <where>  
            <if test="codeName != null  and codeName != ''"> and code_name like concat('%', #{codeName}, '%')</if>
            <if test="codeAlias != null  and codeAlias != ''"> and code_alias = #{codeAlias}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="pCodeId != null "> and p_code_id = #{pCodeId}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="orderNo != null "> and order_no = #{orderNo}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>

    <select id="selectComplaintBusiness" parameterType="CodeEnum" resultMap="CodeEnumResult">
    SELECT code,code_name FROM `code_enum` where code_type= #{codeType}
    </select>

    <select id="selectInsuranceSource" parameterType="CodeEnum" resultMap="CodeEnumResult">
    SELECT code,code_name FROM `code_enum` where p_code_id= #{pCodeId}
    </select>


    
    <select id="selectCodeEnumById" parameterType="Long" resultMap="CodeEnumResult">
        <include refid="selectCodeEnumVo"/>
        where code_id = #{codeId}
    </select>
        
    <insert id="insertCodeEnum" parameterType="CodeEnum" useGeneratedKeys="true" keyProperty="codeId">
        insert into code_enum
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="codeType != null">code_type,</if>
            <if test="code != null">code,</if>
            <if test="codeName != null">code_name,</if>
            <if test="codeAlias != null">code_alias,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="pCodeId != null">p_code_id,</if>
            <if test="remarks != null">remarks,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="codeType != null">#{codeType},</if>
            <if test="code != null">#{code},</if>
            <if test="codeName != null">#{codeName},</if>
            <if test="codeAlias != null">#{codeAlias},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="pCodeId != null">#{pCodeId},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>


    <update id="updateCodeEnum" parameterType="CodeEnum">
        update code_enum
        <trim prefix="SET" suffixOverrides=",">
            <if test="codeType != null">code_type = #{codeType},</if>
            <if test="code != null">code = #{code},</if>
            <if test="codeName != null">code_name = #{codeName},</if>
            <if test="codeAlias != null">code_alias = #{codeAlias},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="pCodeId != null">p_code_id = #{pCodeId},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where code_id = #{codeId}
    </update>

    <delete id="deleteCodeEnumById" parameterType="Long">
        delete from code_enum where code_id = #{codeId}
    </delete>

    <delete id="deleteCodeEnumByIds" parameterType="String">
        delete from code_enum where code_id in 
        <foreach item="codeId" collection="array" open="(" separator="," close=")">
            #{codeId}
        </foreach>
    </delete>
    
</mapper>