<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.CollaborativeFromMapper">
    
    <resultMap type="com.paic.ehis.cs.domain.CollaborativeFrom" id="CollaborativeFromResult">
        <result property="collaborativeId"    column="collaborative_id"    />
        <result property="workOrderNo"    column="work_order_no"    />
        <result property="fromUserId"    column="from_user_id"    />
        <result property="umCode"    column="um_code"    />
        <result property="solicitOpinion"    column="solicit_opinion"    />
        <result property="attachmentFlag"    column="attachment_flag"    />
        <result property="handleState"    column="handle_state"    />
        <result property="status"    column="status"    />
        <result property="opinion"    column="opinion"    />
        <result property="validFlag"    column="valid_flag"    />
        <result property="nonReason"    column="non_reason"    />
        <result property="treatmentPlan"    column="treatment_plan"    />
        <result property="treatmentBasis"    column="treatment_basis"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="itemCode"    column="item_code"    />
        <result property="organCode"    column="organ_code"    />
        <result property="businessType"    column="business_type"    />
    </resultMap>

    <resultMap type="com.paic.ehis.cs.domain.vo.CollaborativeFromVO" id="CollaborativeFromVOResult">
        <result property="collaborativeId"    column="collaborative_id"    />
        <result property="workOrderNo"    column="work_order_no"    />
        <result property="fromUserId"    column="from_user_id"    />
        <result property="umCode"    column="um_code"    />
        <result property="solicitOpinion"    column="solicit_opinion"    />
        <result property="attachmentFlag"    column="attachment_flag"    />
        <result property="handleState"    column="handle_state"    />
        <result property="status"    column="status"    />
        <result property="opinion"    column="opinion"    />
        <result property="validFlag"    column="valid_flag"    />
        <result property="nonReason"    column="non_reason"    />
        <result property="treatmentPlan"    column="treatment_plan"    />
        <result property="treatmentBasis"    column="treatment_basis"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="itemCode"    column="item_code"    />
        <result property="organCode"    column="organ_code"    />
        <result property="businessType"    column="business_type"    />
        <result property="processingTime"    column="processingTime"    />
    </resultMap>

    <sql id="selectCollaborativeFromVo">
        select collaborative_id, work_order_no, from_user_id, um_code, solicit_opinion, attachment_flag, handle_state, status, opinion, valid_flag, non_reason, treatment_plan, treatment_basis, created_by, created_time, updated_by, updated_time from collaborative_from
    </sql>
    <select id="selectCollaborativeFromList" parameterType="com.paic.ehis.cs.domain.CollaborativeFrom" resultMap="CollaborativeFromResult">
        <include refid="selectCollaborativeFromVo"/>
        <where>  
            <if test="workOrderNo != null  and workOrderNo != ''"> and work_order_no = #{workOrderNo}</if>
            <if test="fromUserId != null  and fromUserId != ''"> and from_user_id = #{fromUserId}</if>
            <if test="umCode != null  and umCode != ''"> and um_code = #{umCode}</if>
            <if test="solicitOpinion != null  and solicitOpinion != ''"> and solicit_opinion = #{solicitOpinion}</if>
            <if test="attachmentFlag != null  and attachmentFlag != ''"> and attachment_flag = #{attachmentFlag}</if>
            <if test="handleState != null  and handleState != ''"> and handle_state = #{handleState}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="opinion != null  and opinion != ''"> and opinion = #{opinion}</if>
            <if test="validFlag != null  and validFlag != ''"> and valid_flag = #{validFlag}</if>
            <if test="nonReason != null  and nonReason != ''"> and non_reason = #{nonReason}</if>
            <if test="treatmentPlan != null  and treatmentPlan != ''"> and treatment_plan = #{treatmentPlan}</if>
            <if test="treatmentBasis != null  and treatmentBasis != ''"> and treatment_basis = #{treatmentBasis}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>

    <select id="selectCollaborativeFromListNew" parameterType="com.paic.ehis.cs.domain.dto.ConsultationDTO" resultMap="CollaborativeFromResult">
    SELECT
    a.work_order_no,
    a.collaborative_id,
    a.created_by,
    a.created_time,
    a.updated_time,
    a.handle_state,
    a.status,
    b.item_code,
    (case when ifnull(c.organ_code,'')='' then  b.organ_code else c.organ_code end) organ_code,
    c.business_type
    FROM
    collaborative_from a,
    accept_detail_info b,
    work_order_accept c
    WHERE
    a.work_order_no = b.work_order_no
    AND a.work_order_no = c.work_order_no
        <if test="workOrderNo != null  and workOrderNo != ''"> and a.work_order_no = #{workOrderNo}</if>
        <if test="collaborativeId != null  and collaborativeId != ''"> and a.collaborative_id = #{collaborativeId}</if>
        <if test="createdTimeStart != null   and createdTimeEnd != null ">
            and(a.create_time between  #{createdTimeStart} and  #{createdTimeEnd})</if>
        <if test="handleState != null  and handleState != ''"> and a.handle_state = #{handleState}</if>
        <if test="handleState == null  or handleState == ''"> and a.handle_state != '01' </if>
        <if test="itemCode != null  and itemCode != ''"> and b.item_code = #{itemCode}</if>
        <if test="policyNo != null  and policyNo != ''"> and c.policy_no = #{policyNo}</if>
        <if test="policyItemNo != null  and policyItemNo != ''"> and c.policy_item_no = #{policyItemNo}</if>
        <if test="operation != null and operation !=''"> and a.created_by = #{operation}</if>
     union
        SELECT
        a.work_order_no,
        a.collaborative_id,
        a.created_by,
        a.created_time,
        a.updated_time,
        a.handle_state,
        a.status,
        b.item_code,
        (case when ifnull(c.organ_code,'')='' then  b.organ_code else c.organ_code end) organ_code,
        c.business_type
        FROM
        collaborative_from a,
        accept_detail_info b,
        work_order_accept c
        WHERE
        a.work_order_no = b.work_order_no
        AND a.work_order_no = c.work_order_no
        <if test="workOrderNo != null  and workOrderNo != ''"> and a.work_order_no = #{workOrderNo}</if>
        <if test="collaborativeId != null  and collaborativeId != ''"> and a.collaborative_id = #{collaborativeId}</if>
        <if test="createdTimeStart != null   and createdTimeEnd != null ">
            and(a.create_time between  #{createdTimeStart} and  #{createdTimeEnd})</if>
        <if test="handleState != null  and handleState != ''"> and a.handle_state = #{handleState}</if>
        <if test="itemCode != null  and itemCode != ''"> and b.item_code = #{itemCode}</if>
        <if test="policyNo != null  and policyNo != ''"> and c.policy_no = #{policyNo}</if>
        <if test="policyItemNo != null  and policyItemNo != ''"> and c.policy_item_no = #{policyItemNo}</if>
        <if test="operation != null and operation !=''"> and a.um_code = #{operation}</if>
    </select>

    <select id="selectCollaborativeFromListPublicNew" parameterType="com.paic.ehis.cs.domain.dto.ConsultationDTO" resultMap="CollaborativeFromVOResult">
        SELECT
        a.work_order_no,
        a.collaborative_id,
        a.created_by,
        a.created_time,
        a.updated_time,
        a.handle_state,
        a.status,
        b.item_code,
        (case when ifnull(c.organ_code,'')='' then  b.organ_code else c.organ_code end) organ_code,
        c.business_type,
        TIMESTAMPDIFF(Hour,a.created_time , NOW()) processingTime
        FROM
        collaborative_from a,
        accept_detail_info b,
        work_order_accept c
        WHERE
        a.work_order_no = b.work_order_no
        AND a.work_order_no = c.work_order_no
        and a.status != '03'
        <if test="workOrderNo != null  and workOrderNo != ''"> and a.work_order_no = #{workOrderNo}</if>
        <if test="collaborativeId != null  and collaborativeId != ''"> and a.collaborative_id = #{collaborativeId}</if>
        <if test="createdTimeStart != null   and createdTimeEnd != null ">
            and(a.create_time between  #{createdTimeStart} and  #{createdTimeEnd})</if>
        <if test="handleState != null  and handleState != ''"> and a.handle_state = #{handleState}</if>
        <if test="handleState == null  or handleState == ''"> and a.handle_state != '01' </if>
        <if test="itemCode != null  and itemCode != ''"> and b.item_code = #{itemCode}</if>
        <if test="policyNo != null  and policyNo != ''"> and c.policy_no = #{policyNo}</if>
        <if test="policyItemNo != null  and policyItemNo != ''"> and c.policy_item_no = #{policyItemNo}</if>
        <if test="operation != null and operation !=''"> and a.created_by = #{operation}</if>
        union
        SELECT
        a.work_order_no,
        a.collaborative_id,
        a.created_by,
        a.created_time,
        a.updated_time,
        a.handle_state,
        a.status,
        b.item_code,
        (case when ifnull(c.organ_code,'')='' then  b.organ_code else c.organ_code end) organ_code,
        c.business_type,
        TIMESTAMPDIFF(Hour,a.created_time , NOW()) processingTime
        FROM
        collaborative_from a,
        accept_detail_info b,
        work_order_accept c
        WHERE
        a.work_order_no = b.work_order_no
        AND a.work_order_no = c.work_order_no
        and a.status != '03'
        <if test="workOrderNo != null  and workOrderNo != ''"> and a.work_order_no = #{workOrderNo}</if>
        <if test="collaborativeId != null  and collaborativeId != ''"> and a.collaborative_id = #{collaborativeId}</if>
        <if test="createdTimeStart != null   and createdTimeEnd != null ">
            and(a.create_time between  #{createdTimeStart} and  #{createdTimeEnd})</if>
        <if test="handleState != null  and handleState != ''"> and a.handle_state = #{handleState}</if>
        <if test="itemCode != null  and itemCode != ''"> and b.item_code = #{itemCode}</if>
        <if test="policyNo != null  and policyNo != ''"> and c.policy_no = #{policyNo}</if>
        <if test="policyItemNo != null  and policyItemNo != ''"> and c.policy_item_no = #{policyItemNo}</if>
        <if test="operation != null and operation !=''"> and a.um_code = #{operation}</if>
    </select>
    
    <select id="selectCollaborativeFromById" parameterType="Long" resultMap="CollaborativeFromResult">
        <include refid="selectCollaborativeFromVo"/>
        where collaborative_id = #{collaborativeId}
    </select>
        
        <insert id="insertCollaborativeFrom" parameterType="CollaborativeFrom" useGeneratedKeys="true" keyProperty="collaborativeId">
        insert into collaborative_from
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="workOrderNo != null and workOrderNo != ''">work_order_no,</if>
                <if test="fromUserId != null">from_user_id,</if>
                <if test="umCode != null">um_code,</if>
                <if test="solicitOpinion != null">solicit_opinion,</if>
                <if test="attachmentFlag != null">attachment_flag,</if>
                <if test="handleState != null">handle_state,</if>
                <if test="status != null">status,</if>
                <if test="opinion != null">opinion,</if>
                <if test="validFlag != null">valid_flag,</if>
                <if test="nonReason != null">non_reason,</if>
                <if test="treatmentPlan != null">treatment_plan,</if>
                <if test="treatmentBasis != null">treatment_basis,</if>
                <if test="createdBy != null and createdBy != ''">created_by,</if>
                <if test="createdTime != null">created_time,</if>
                <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
                <if test="updatedTime != null">updated_time,</if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="workOrderNo != null and workOrderNo != ''">#{workOrderNo},</if>
                <if test="fromUserId != null">#{fromUserId},</if>
                <if test="umCode != null">#{umCode},</if>
                <if test="solicitOpinion != null">#{solicitOpinion},</if>
                <if test="attachmentFlag != null">#{attachmentFlag},</if>
                <if test="handleState != null">#{handleState},</if>
                <if test="status != null">#{status},</if>
                <if test="opinion != null">#{opinion},</if>
                <if test="validFlag != null">#{validFlag},</if>
                <if test="nonReason != null">#{nonReason},</if>
                <if test="treatmentPlan != null">#{treatmentPlan},</if>
                <if test="treatmentBasis != null">#{treatmentBasis},</if>
                <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
                <if test="createdTime != null">#{createdTime},</if>
                <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
                <if test="updatedTime != null">#{updatedTime},</if>
            </trim>
    </insert>

    <update id="updateCollaborativeFrom" parameterType="CollaborativeFrom">
        update collaborative_from
        <trim prefix="SET" suffixOverrides=",">
            <if test="workOrderNo != null and workOrderNo != ''">work_order_no = #{workOrderNo},</if>
            <if test="fromUserId != null">from_user_id = #{fromUserId},</if>
            <if test="umCode != null">um_code = #{umCode},</if>
            <if test="solicitOpinion != null">solicit_opinion = #{solicitOpinion},</if>
            <if test="attachmentFlag != null">attachment_flag = #{attachmentFlag},</if>
            <if test="handleState != null">handle_state = #{handleState},</if>
            <if test="status != null">status = #{status},</if>
            <if test="opinion != null">opinion = #{opinion},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="nonReason != null">non_reason = #{nonReason},</if>
            <if test="treatmentPlan != null">treatment_plan = #{treatmentPlan},</if>
            <if test="treatmentBasis != null">treatment_basis = #{treatmentBasis},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where collaborative_id = #{collaborativeId}
    </update>
    <update id="updateConsultationDemand" parameterType="CollaborativeFrom" >
        update collaborative_from
        <trim prefix="SET" suffixOverrides=",">
            <if test="workOrderNo != null and workOrderNo != ''">work_order_no = #{workOrderNo},</if>
            <if test="fromUserId != null">from_user_id = #{fromUserId},</if>
            <if test="umCode != null">um_code = #{umCode},</if>
            <if test="solicitOpinion != null">solicit_opinion = #{solicitOpinion},</if>
            <if test="attachmentFlag != null">attachment_flag = #{attachmentFlag},</if>
            <if test="handleState != null">handle_state = #{handleState},</if>
            <if test="status != null">status = #{status},</if>
            <if test="opinion != null">opinion = #{opinion},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="nonReason != null">non_reason = #{nonReason},</if>
            <if test="treatmentPlan != null">treatment_plan = #{treatmentPlan},</if>
            <if test="treatmentBasis != null">treatment_basis = #{treatmentBasis},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where collaborative_id = #{collaborativeId}  and work_order_no = #{workOrderNo}
    </update>
    <update id="updateConsultationDemandOne" parameterType="CollaborativeFrom">
        update collaborative_from
        <trim prefix="SET" suffixOverrides=",">
            <if test="workOrderNo != null and workOrderNo != ''">work_order_no = #{workOrderNo},</if>
            <if test="fromUserId != null">from_user_id = #{fromUserId},</if>
            <if test="umCode != null">um_code = #{umCode},</if>
            <if test="solicitOpinion != null">solicit_opinion = #{solicitOpinion},</if>
            <if test="attachmentFlag != null">attachment_flag = #{attachmentFlag},</if>
            <if test="handleState != null">handle_state = #{handleState},</if>
            <if test="status != null">status = #{status},</if>
            <if test="opinion != null">opinion = #{opinion},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="nonReason != null">non_reason = #{nonReason},</if>
            <if test="treatmentPlan != null">treatment_plan = #{treatmentPlan},</if>
            <if test="treatmentBasis != null">treatment_basis = #{treatmentBasis},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where collaborative_id = #{collaborativeId}  and work_order_no = #{workOrderNo}
    </update>

    <delete id="deleteCollaborativeFromById" parameterType="Long">
        delete from collaborative_from where collaborative_id = #{collaborativeId}
    </delete>

    <delete id="deleteCollaborativeFromByIds" parameterType="String">
        delete from collaborative_from where collaborative_id in 
        <foreach item="collaborativeId" collection="array" open="(" separator="," close=")">
            #{collaborativeId}
        </foreach>
    </delete>
    <update id="updateCollaborativeStatus"   parameterType="CollaborativeFrom" >
        update collaborative_from set status="03"  where work_order_no=#{workOrderNo}
    </update>
</mapper>