<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.EditInfoMapper">
    
    <resultMap type="EditInfo" id="EditInfoResult">
        <result property="editId"    column="edit_id"    />
        <result property="workOrderId"    column="work_order_id"    />
        <result property="otherId"    column="other_id"    />
        <result property="otherType"    column="other_type"    />
        <result property="editReason"    column="edit_reason"    />
        <result property="editRemark"    column="edit_remark"    />
        <result property="status"    column="status"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectEditInfoVo">
        select edit_id, work_order_id, other_id, other_type, edit_reason, edit_remark, status, created_by, created_time, updated_by, updated_time from edit_info
    </sql>

    <select id="selectEditInfoList" parameterType="EditInfo" resultMap="EditInfoResult">
        <include refid="selectEditInfoVo"/>
        <where>  
            <if test="workOrderId != null  and workOrderId != ''"> and work_order_id = #{workOrderId}</if>
            <if test="otherId != null  and otherId != ''"> and other_id = #{otherId}</if>
            <if test="otherType != null  and otherType != ''"> and other_type = #{otherType}</if>
            <if test="editReason != null  and editReason != ''"> and edit_reason = #{editReason}</if>
            <if test="editRemark != null  and editRemark != ''"> and edit_remark = #{editRemark}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectEditInfoById" parameterType="Long" resultMap="EditInfoResult">
        <include refid="selectEditInfoVo"/>
        where edit_id = #{editId}
    </select>
        
    <insert id="insertEditInfo" parameterType="EditInfo" useGeneratedKeys="true" keyProperty="editId">
        insert into edit_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workOrderId != null and workOrderId != ''">work_order_id,</if>
            <if test="otherId != null">other_id,</if>
            <if test="otherType != null">other_type,</if>
            <if test="editReason != null">edit_reason,</if>
            <if test="editRemark != null">edit_remark,</if>
            <if test="status != null">status,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workOrderId != null and workOrderId != ''">#{workOrderId},</if>
            <if test="otherId != null">#{otherId},</if>
            <if test="otherType != null">#{otherType},</if>
            <if test="editReason != null">#{editReason},</if>
            <if test="editRemark != null">#{editRemark},</if>
            <if test="status != null">#{status},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateEditInfo" parameterType="EditInfo">
        update edit_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="workOrderId != null and workOrderId != ''">work_order_id = #{workOrderId},</if>
            <if test="otherId != null">other_id = #{otherId},</if>
            <if test="otherType != null">other_type = #{otherType},</if>
            <if test="editReason != null">edit_reason = #{editReason},</if>
            <if test="editRemark != null">edit_remark = #{editRemark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where edit_id = #{editId}
    </update>

    <delete id="deleteEditInfoById" parameterType="Long">
        delete from edit_info where edit_id = #{editId}
    </delete>

    <delete id="deleteEditInfoByIds" parameterType="String">
        delete from edit_info where edit_id in 
        <foreach item="editId" collection="array" open="(" separator="," close=")">
            #{editId}
        </foreach>
    </delete>
    
</mapper>