<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.FlowLogMapper">
    
    <resultMap type="FlowLog" id="FlowLogResult">
        <result property="flowId"    column="flow_id"    />
        <result property="workOrderNo"    column="work_order_no"    />
        <result property="subId"    column="sub_id"    />
        <result property="subType"    column="sub_type"    />
        <result property="linkCode"    column="link_code"    />
        <result property="operateCode"    column="operate_code"    />
        <result property="makeBy"    column="make_by"    />
        <result property="umNum"    column="um_num"    />
        <result property="makeTime"    column="make_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="opinion"    column="opinion"    />
        <result property="toDepartment"    column="to_department"    />
        <result property="toReason"    column="to_reason"    />
        <result property="attachmentFlag"    column="attachment_flag"    />
        <result property="status"    column="status"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectFlowLogVo">
        select flow_id, work_order_no, sub_id, sub_type, link_code, operate_code, make_by, um_num, make_time, remarks, opinion, to_department, to_reason, attachment_flag, status, created_by, created_time, updated_by, updated_time from flow_log
    </sql>

    <select id="selectFlowLogList" parameterType="FlowLog" resultMap="FlowLogResult">
        <include refid="selectFlowLogVo"/>
        <where>  
            <if test="workOrderNo != null  and workOrderNo != ''"> and work_order_no = #{workOrderNo}</if>
            <if test="subId != null  and subId != ''"> and sub_id = #{subId}</if>
            <if test="subType != null  and subType != ''"> and sub_type = #{subType}</if>
            <if test="linkCode != null  and linkCode != ''"> and link_code = #{linkCode}</if>
            <if test="operateCode != null  and operateCode != ''"> and operate_code = #{operateCode}</if>
            <if test="makeBy != null  and makeBy != ''"> and make_by = #{makeBy}</if>
            <if test="umNum != null  and umNum != ''"> and um_num = #{umNum}</if>
            <if test="makeTime != null "> and make_time = #{makeTime}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="opinion != null  and opinion != ''"> and opinion = #{opinion}</if>
            <if test="toDepartment != null  and toDepartment != ''"> and to_department = #{toDepartment}</if>
            <if test="toReason != null  and toReason != ''"> and to_reason = #{toReason}</if>
            <if test="attachmentFlag != null  and attachmentFlag != ''"> and attachment_flag = #{attachmentFlag}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectFlowLogById" parameterType="String" resultMap="FlowLogResult">
        <include refid="selectFlowLogVo"/>
        where flow_id = #{flowId}
    </select>
        
    <insert id="insertFlowLog" parameterType="FlowLog">
        insert into flow_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flowId != null">flow_id,</if>
            <if test="workOrderNo != null">work_order_no,</if>
            <if test="subId != null">sub_id,</if>
            <if test="subType != null">sub_type,</if>
            <if test="linkCode != null">link_code,</if>
            <if test="operateCode != null">operate_code,</if>
            <if test="makeBy != null">make_by,</if>
            <if test="umNum != null">um_num,</if>
            <if test="makeTime != null">make_time,</if>
            <if test="remarks != null">remarks,</if>
            <if test="opinion != null">opinion,</if>
            <if test="toDepartment != null">to_department,</if>
            <if test="toReason != null">to_reason,</if>
            <if test="attachmentFlag != null">attachment_flag,</if>
            <if test="status != null">status,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flowId != null">#{flowId},</if>
            <if test="workOrderNo != null">#{workOrderNo},</if>
            <if test="subId != null">#{subId},</if>
            <if test="subType != null">#{subType},</if>
            <if test="linkCode != null">#{linkCode},</if>
            <if test="operateCode != null">#{operateCode},</if>
            <if test="makeBy != null">#{makeBy},</if>
            <if test="umNum != null">#{umNum},</if>
            <if test="makeTime != null">#{makeTime},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="opinion != null">#{opinion},</if>
            <if test="toDepartment != null">#{toDepartment},</if>
            <if test="toReason != null">#{toReason},</if>
            <if test="attachmentFlag != null">#{attachmentFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateFlowLog" parameterType="FlowLog">
        update flow_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="workOrderNo != null">work_order_no = #{workOrderNo},</if>
            <if test="subId != null">sub_id = #{subId},</if>
            <if test="subType != null">sub_type = #{subType},</if>
            <if test="linkCode != null">link_code = #{linkCode},</if>
            <if test="operateCode != null">operate_code = #{operateCode},</if>
            <if test="makeBy != null">make_by = #{makeBy},</if>
            <if test="umNum != null">um_num = #{umNum},</if>
            <if test="makeTime != null">make_time = #{makeTime},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="opinion != null">opinion = #{opinion},</if>
            <if test="toDepartment != null">to_department = #{toDepartment},</if>
            <if test="toReason != null">to_reason = #{toReason},</if>
            <if test="attachmentFlag != null">attachment_flag = #{attachmentFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where flow_id = #{flowId}
    </update>

    <delete id="deleteFlowLogById" parameterType="String">
        delete from flow_log where flow_id = #{flowId}
    </delete>

    <delete id="deleteFlowLogByIds" parameterType="String">
        delete from flow_log where flow_id in 
        <foreach item="flowId" collection="array" open="(" separator="," close=")">
            #{flowId}
        </foreach>
    </delete>
    
</mapper>