<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.HcsModificationMapper">

    <resultMap type="com.paic.ehis.cs.domain.HcsModification" id="HcsModificationResult">
        <result property="workOrderNo"    column="work_order_no"    />
        <result property="alterId"    column="alter_id"    />
        <result property="alterBy"    column="alter_by"    />
        <result property="umCode"    column="um_code"    />
        <result property="alterTime"    column="alter_time"    />
        <result property="alterChannel"    column="alter_channel"    />
        <result property="alterContent"    column="alter_content"    />
        <result property="relaEditId"    column="rela_edit_id"    />
        <result property="callSerialNum"    column="call_serial_num"    />
        <result property="status"    column="status"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectHcsModificationVo">
        select work_order_no, alter_id, alter_by, um_code, alter_time, alter_channel, alter_content, rela_edit_id, call_serial_num, status, created_by, created_time, updated_by, updated_time from hcs_modification
    </sql>

    <select id="selectHcsModificationList" parameterType="com.paic.ehis.cs.domain.HcsModification" resultMap="HcsModificationResult">
        <include refid="selectHcsModificationVo"/>
        <where>
            <if test="alterBy != null  and alterBy != ''"> and alter_by = #{alterBy}</if>
            <if test="umCode != null  and umCode != ''"> and um_code = #{umCode}</if>
            <if test="alterTime != null "> and alter_time = #{alterTime}</if>
            <if test="alterChannel != null  and alterChannel != ''"> and alter_channel = #{alterChannel}</if>
            <if test="alterContent != null  and alterContent != ''"> and alter_content = #{alterContent}</if>
            <if test="relaEditId != null  and relaEditId != ''"> and rela_edit_id = #{relaEditId}</if>
            <if test="callSerialNum != null  and callSerialNum != ''"> and call_serial_num = #{callSerialNum}</if>
            and status ="Y"
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
            <if test="workOrderNo != null and workOrderNo != ''"> and work_order_no = #{workOrderNo}</if>


        </where>
    </select>

    <select id="selectHcsModificationById" parameterType="String" resultMap="HcsModificationResult">
        <include refid="selectHcsModificationVo"/>
        where work_order_no = #{workOrderNo}
    </select>

    <insert id="insertHcsModification" parameterType="com.paic.ehis.cs.domain.HcsModification">
        insert into hcs_modification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workOrderNo != null">work_order_no,</if>
            <if test="alterId != null">alter_id,</if>
            <if test="alterBy != null">alter_by,</if>
            <if test="umCode != null">um_code,</if>
            <if test="alterTime != null">alter_time,</if>
            <if test="alterChannel != null">alter_channel,</if>
            <if test="alterContent != null">alter_content,</if>
            <if test="relaEditId != null">rela_edit_id,</if>
            <if test="callSerialNum != null">call_serial_num,</if>
            <if test="status != null">status,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workOrderNo != null">#{workOrderNo},</if>
            <if test="alterId != null">#{alterId},</if>
            <if test="alterBy != null">#{alterBy},</if>
            <if test="umCode != null">#{umCode},</if>
            <if test="alterTime != null">#{alterTime},</if>
            <if test="alterChannel != null">#{alterChannel},</if>
            <if test="alterContent != null">#{alterContent},</if>
            <if test="relaEditId != null">#{relaEditId},</if>
            <if test="callSerialNum != null">#{callSerialNum},</if>
            <if test="status != null">#{status},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
        </trim>
    </insert>

    <update id="updateHcsModification" parameterType="com.paic.ehis.cs.domain.HcsModification">
        update hcs_modification
        <trim prefix="SET" suffixOverrides=",">
            <if test="alterId != null">alter_id = #{alterId},</if>
            <if test="alterBy != null">alter_by = #{alterBy},</if>
            <if test="umCode != null">um_code = #{umCode},</if>
            <if test="alterTime != null">alter_time = #{alterTime},</if>
            <if test="alterChannel != null">alter_channel = #{alterChannel},</if>
            <if test="alterContent != null">alter_content = #{alterContent},</if>
            <if test="relaEditId != null">rela_edit_id = #{relaEditId},</if>
            <if test="callSerialNum != null">call_serial_num = #{callSerialNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where work_order_no = #{workOrderNo}
    </update>

    <update id="updateHcsStauts" parameterType="com.paic.ehis.cs.domain.HcsModification">
        update hcs_modification set status='N' where alter_id in
        <foreach item="alterId" collection="array" open="(" separator="," close=")">
            #{alterId}
        </foreach>
    </update>



    <delete id="deleteHcsModificationById" parameterType="String">
        delete from hcs_modification where work_order_no = #{workOrderNo}
    </delete>

    <delete id="deleteHcsModificationByIds" parameterType="String">
        delete from hcs_modification where work_order_no in
        <foreach item="workOrderNo" collection="array" open="(" separator="," close=")">
            #{workOrderNo}
        </foreach>
    </delete>

</mapper>