<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.QualityInspectionHandleMapper">
    
    <resultMap type="com.paic.ehis.cs.domain.QualityInspectionHandle" id="QualityInspectionHandleResult">
        <result property="inspectionId"    column="inspection_id"    />
        <result property="workOrderId"    column="work_order_id"    />
        <result property="score"    column="score"    />
        <result property="appealFlag"    column="appeal_flag"    />
        <result property="appealReason"    column="appeal_reason"    />
        <result property="status"    column="status"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectQualityInspectionHandleVo">
        select inspection_id, work_order_id, score, appeal_flag, appeal_reason, status, created_by, created_time, updated_by, updated_time from quality_inspection_handle
    </sql>

    <select id="selectQualityInspectionHandleList" parameterType="com.paic.ehis.cs.domain.QualityInspectionHandle" resultMap="QualityInspectionHandleResult">
        <include refid="selectQualityInspectionHandleVo"/>
        <where>  
            <if test="workOrderId != null  and workOrderId != ''"> and work_order_id = #{workOrderId}</if>
            <if test="score != null  and score != ''"> and score = #{score}</if>
            <if test="appealFlag != null  and appealFlag != ''"> and appeal_flag = #{appealFlag}</if>
            <if test="appealReason != null  and appealReason != ''"> and appeal_reason = #{appealReason}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectQualityInspectionHandleById" parameterType="String" resultMap="QualityInspectionHandleResult">
        <include refid="selectQualityInspectionHandleVo"/>
        where inspection_id = #{inspectionId}
    </select>
        
    <insert id="insertQualityInspectionHandle" parameterType="com.paic.ehis.cs.domain.QualityInspectionHandle">
        insert into quality_inspection_handle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inspectionId != null">inspection_id,</if>
            <if test="workOrderId != null and workOrderId != ''">work_order_id,</if>
            <if test="score != null">score,</if>
            <if test="appealFlag != null">appeal_flag,</if>
            <if test="appealReason != null">appeal_reason,</if>
            <if test="status != null">status,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inspectionId != null">#{inspectionId},</if>
            <if test="workOrderId != null and workOrderId != ''">#{workOrderId},</if>
            <if test="score != null">#{score},</if>
            <if test="appealFlag != null">#{appealFlag},</if>
            <if test="appealReason != null">#{appealReason},</if>
            <if test="status != null">#{status},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateQualityInspectionHandle" parameterType="com.paic.ehis.cs.domain.QualityInspectionHandle">
        update quality_inspection_handle
        <trim prefix="SET" suffixOverrides=",">
            <if test="workOrderId != null and workOrderId != ''">work_order_id = #{workOrderId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="appealFlag != null">appeal_flag = #{appealFlag},</if>
            <if test="appealReason != null">appeal_reason = #{appealReason},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where inspection_id = #{inspectionId}
    </update>

    <delete id="deleteQualityInspectionHandleById" parameterType="String">
        delete from quality_inspection_handle where inspection_id = #{inspectionId}
    </delete>

    <delete id="deleteQualityInspectionHandleByIds" parameterType="String">
        delete from quality_inspection_handle where inspection_id in 
        <foreach item="inspectionId" collection="array" open="(" separator="," close=")">
            #{inspectionId}
        </foreach>
    </delete>
    <!-- 工作池返回对象 -->
    <resultMap type="com.paic.ehis.cs.domain.vo.AcceptVo" id="AcceptResult">
        <result property="workOrderNo" column="work_order_no"/>
        <result property="workOrderId" column="work_order_id"/>
        <result property="businessType" column="business_type"/>
        <result property="serviceItem" column="item_code"/>
        <result property="businessService" column="business_service"/>
        <result property="channelCode" column="channel_code"/>
        <result property="policyNo" column="policy_no"/>
        <result property="policyItemNo" column="policy_item_no"/>
        <result property="riskCode" column="risk_code"/>
        <result property="acceptTime" column="accept_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="vipFlag" column="vip_flag"/>
        <result property="priorityLevel" column="priority_level"/>
        <result property="organCode" column="organ_code"/>
        <result property="insuredPersonId" column="insured_no"/>
        <result property="holderPersonId" column="holder_no"/>
        <result property="acceptUserId" column="accept_by"/>
        <result property="modifyUserId" column="modify_by"/>
        <result property="endDate" column="end_date"/>
        <result property="callPersonId" column="call_person_id"/>
        <result property="callRelationBy" column="call_relation_by"/>
        <result property="contactsPersonId" column="contacts_person_id"/>
        <result property="contactsRelationBy" column="contacts_relation_by"/>
        <result property="content" column="content"/>
        <result property="complaintPersonId" column="complaint_person_id"/>
        <result property="callCenterId" column="call_center_id"/>
        <result property="status" column="status"/>
    </resultMap>
    <select id="selectHandle" parameterType="com.paic.ehis.cs.domain.dto.WorkOrderQueryDTO" resultMap="AcceptResult">
        SELECT
        qih.work_order_id,
        adi.item_code,
        woa.update_by,
        qih.updated_by
        FROM
        quality_inspection_handle qih
        LEFT JOIN accept_detail_info adi ON adi.work_order_no = qih.work_order_id   and qih.status="01"
        LEFT JOIN work_order_accept woa ON  woa.work_order_no =  qih.work_order_id
        where 1=1 and not exists (SELECT 1 FROM quality_inspection_accept qia WHERE qia.work_order_no=woa.work_order_no)
        <if test="endCaseStartTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[>=]]> #{endCaseStartTime}
        </if>
        <if test="endCaseEndTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[<=]]> #{endCaseEndTime}
        </if>
        <if test="workOrderId != null and workOrderId != ''">
             work_order_id,
            </if>
    </select>
    <select id="getHandleInfoList" resultType="com.paic.ehis.cs.domain.vo.HandleProcessInfoVO">
        select a.appeal_flag appealFlag,a.appeal_reason appealReason,a.score,b.item_type itemType,b.item_key itemKey,b.value,b.item_remark itemRemark from quality_inspection_handle a
        left join quality_inspection_item b on a.inspection_id = b.inspection_id where a.work_order_id = #{workOrderNo}
    </select>
</mapper>