<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.QualityInspectionAcceptMapper">
    <!-- 工作池返回对象 -->
    <resultMap type="com.paic.ehis.cs.domain.vo.AcceptVo" id="AcceptResult">
        <result property="workOrderNo" column="work_order_no"/>
        <result property="inspectionId" column="inspection_id"/>
        <result property="workOrderNos" column="work_order_nos"/>
        <result property="businessType" column="business_type"/>
        <result property="serviceItem" column="item_code"/>
        <result property="businessService" column="business_service"/>
        <result property="channelCode" column="channel_code"/>
        <result property="policyNo" column="policy_no"/>
        <result property="policyItemNo" column="policy_item_no"/>
        <result property="riskCode" column="risk_code"/>
        <result property="acceptTime" column="accept_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="vipFlag" column="vip_flag"/>
        <result property="priorityLevel" column="priority_level"/>
        <result property="organCode" column="organ_code"/>
        <result property="insuredPersonId" column="insured_no"/>
        <result property="insuredName" column="insured_name"/>
        <result property="holderPersonId" column="holder_no"/>
        <result property="holderName" column="holder_name"/>
        <result property="acceptBy" column="accept_by"/>
        <result property="createBy" column="create_by"/>
        <result property="modifyUserId" column="modify_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="endDate" column="end_date"/>
        <result property="callPersonId" column="call_person_id"/>
        <result property="callRelationBy" column="call_relation_by"/>
        <result property="contactsPersonId" column="contacts_person_id"/>
        <result property="contactsRelationBy" column="contacts_relation_by"/>
        <result property="content" column="content"/>
        <result property="complaintPersonId" column="complaint_person_id"/>
        <result property="callCenterId" column="call_center_id"/>
        <result property="status" column="status"/>
        <result property="count" column="count"/>
        <result property="activationNum" column="activation_num"/>
    </resultMap>


<!--可质检工单查询-->
    <sql id="selectAcceptVo">
        select woa.work_order_no,woa.business_type,adi.item_code,concat(woa.business_type,'-', adi.item_code) as business_service,adi.channel_code,
               woa.policy_no,woa.policy_item_no,woa.end_date,qia.inspection_id,qia.status,woa.organ_code,woa.accept_by,woa.accept_time,woa.modify_by,woa.modify_time,woa.update_by,woa.update_time,	woa.create_by,
               woa.create_time
        from quality_inspection_accept qia
            left join (
                select distinct qih.inspection_handler_id,qih.inspection_id,qih.status
                from quality_inspection_item qii,quality_inspection_handle qih
                where qii.inspection_handler_id=qih.inspection_handler_id and qii.status='Y') qihh on qia.inspection_id=qihh.inspection_id
            left join  work_order_accept woa on qia.work_order_no=woa.work_order_no
            left join accept_detail_info adi on woa.work_order_no = adi.work_order_no
    </sql>

    <sql id="selectSendVo">
        select woa.work_order_no,woa.business_type,adi.channel_code,adi.item_code,concat(woa.business_type,'-', adi.item_code) as business_service,
            woa.policy_no,woa.policy_item_no,woa.risk_code,woa.insured_no,woa.insured_name,woa.holder_no,woa.end_date,woa.holder_name,woa.accept_by,woa.accept_time,woa.modify_by,woa.modify_time,woa.create_by,woa.update_by,woa.update_time,woa.organ_code,woa.vip_flag,adi.priority_level,woa.status
        from work_order_accept woa
            left join accept_detail_info adi on woa.work_order_no = adi.work_order_no left join person_info pi on woa.insured_no=pi.person_id
    </sql>
    <!--工单信息列表查询-->
    <select id="selectSendByVo" parameterType="com.paic.ehis.cs.domain.dto.WorkOrderQueryDTO" resultMap="AcceptResult">
        select woa.work_order_no,woa.business_type,adi.channel_code,adi.item_code,concat(woa.business_type,'-', adi.item_code) as business_service,
        woa.policy_no,woa.policy_item_no,woa.risk_code,woa.insured_no,woa.insured_name,woa.holder_no,woa.end_date,woa.holder_name,woa.accept_by,woa.accept_time,woa.modify_by,woa.modify_time,woa.create_by,woa.update_by,woa.update_time,woa.organ_code,woa.vip_flag,adi.priority_level,woa.status
        from work_order_accept woa
        left join accept_detail_info adi on woa.work_order_no = adi.work_order_no left join person_info pi on woa.insured_no=pi.person_id
        LEFT JOIN quality_inspection_accept qia ON woa.work_order_no = qia.work_order_no
        WHERE
        1 = 1
        <if test="businessTypeList != null ">
            and woa.business_type IN (
            <foreach collection="businessTypeList" item="businessType"
                     separator=",">
                #{businessType}
            </foreach>
            )
        </if>
        <if test="endCaseStartTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[>=]]> #{endCaseStartTime}
        </if>
        <if test="endCaseEndTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[<=]]> #{endCaseEndTime}
        </if>
        <if test="itemCode != null  and itemCode != ''"> and adi.item_code = #{itemCode}</if>
        <if test="channelCode != null  and channelCode != ''"> and adi.channel_code = #{channelCode}</if>
        <if test="acceptBy != null  and acceptBy != ''"> and woa.accept_by = #{acceptBy}</if>
        <if test="acceptStartDate != null ">
            and DATE_FORMAT(woa.accept_time,'%Y-%m-%d') <![CDATA[>=]]> #{acceptStartDate}
        </if>
        <if test="acceptEndDate != null ">
            and DATE_FORMAT(woa.accept_time,'%Y-%m-%d') <![CDATA[<=]]> #{acceptEndDate}
        </if>
        <if test="updateBy != null  and updateBy != ''"> and woa.update_by = #{updateBy}</if>
        <if test="updateStartDate != null ">
            and DATE_FORMAT(woa.update_time,'%Y-%m-%d') <![CDATA[>=]]> #{updateStartDate}
        </if>
        <if test="updateEndDate != null ">
            and DATE_FORMAT(woa.update_time,'%Y-%m-%d') <![CDATA[<=]]> #{updateEndDate}
        </if>
        <if test="workOrderNo != null  and workOrderNo != ''"> and woa.work_order_no = #{workOrderNo}</if>
        <if test="policyNo != null  and policyNo != ''"> and woa.policy_no = #{policyNo}</if>
        <if test="policyItemNo != null  and policyItemNo != ''"> and woa.policy_item_no = #{policyItemNo}</if>
        <if test="holderName != null  and holderName != ''"> and woa.holder_name = #{holderName}</if>
        <if test="insuredName != null  and insuredName != ''"> and woa.insured_name = #{insuredName}</if>
        <if test="idNumber != null  and idNumber != ''"> and pi.id_number = #{idNumber}</if>
        <if test="mobilePhone != null  and mobilePhone != ''"> and pi.mobile_phone = #{mobilePhone}</if>
        <if test="organCode != null  and organCode != ''"> and woa.organ_code = #{organCode}</if>
        <if test="appointmentStartDate != null ">
            and DATE_FORMAT(adi.prop18,'%Y-%m-%d') <![CDATA[>=]]> #{appointmentStartDate}
        </if>
        <if test="appointmentEndDate != null ">
            and DATE_FORMAT(adi.prop18,'%Y-%m-%d') <![CDATA[<=]]> #{appointmentEndDate}
        </if>
        <if test="priorityLevel != null  and priorityLevel != ''"> and adi.priority_level = #{priorityLevel}</if>
        <if test="vipFlag != null  and vipFlag != ''"> and woa.vip_flag = #{vipFlag}</if>
        <if test="status != null  and status != ''"> and woa.status = #{status}</if>
        order by woa.accept_time asc
    </select>

    <!--发起质检信息列表查询-->
    <select id="selectSendByVoTwo" parameterType="com.paic.ehis.cs.domain.dto.WorkOrderQueryDTO" resultMap="AcceptResult">
        select woa.work_order_no,woa.business_type,adi.channel_code,adi.item_code,concat(woa.business_type,'-', adi.item_code) as business_service,
        woa.policy_no,woa.policy_item_no,woa.risk_code,woa.insured_no,woa.insured_name,woa.holder_no,woa.end_date,woa.holder_name,woa.accept_by,woa.accept_time,woa.modify_by,woa.modify_time,woa.create_by,woa.update_by,woa.update_time,woa.organ_code,woa.vip_flag,adi.priority_level,woa.status
        FROM
        work_order_accept woa
        LEFT JOIN accept_detail_info adi ON woa.work_order_no = adi.work_order_no
        LEFT JOIN person_info pi ON woa.insured_no = pi.person_id
        WHERE
        1 = 1
        AND woa.STATUS not in( '01','02')
        AND woa.business_type NOT IN ( '02' )
        AND NOT EXISTS ( SELECT 1 FROM quality_inspection_accept qia WHERE qia.STATUS IN ( '01', '02' ) AND woa.work_order_no = qia.work_order_no )
        AND adi.item_code NOT IN ( 'B00034' )
        <if test="businessTypeList != null ">
            and woa.business_type IN (
            <foreach collection="businessTypeList" item="businessType"
                     separator=",">
                #{businessType}
            </foreach>
            )
        </if>
        <if test="endCaseStartTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[>=]]> #{endCaseStartTime}
        </if>
        <if test="endCaseEndTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[<=]]> #{endCaseEndTime}
        </if>
        <if test="itemCode != null  and itemCode != ''"> and adi.item_code = #{itemCode}</if>
        <if test="channelCode != null  and channelCode != ''"> and adi.channel_code = #{channelCode}</if>
        <if test="acceptBy != null  and acceptBy != ''"> and woa.accept_by = #{acceptBy}</if>
        <if test="acceptStartDate != null ">
            and DATE_FORMAT(woa.accept_time,'%Y-%m-%d') <![CDATA[>=]]> #{acceptStartDate}
        </if>
        <if test="acceptEndDate != null ">
            and DATE_FORMAT(woa.accept_time,'%Y-%m-%d') <![CDATA[<=]]> #{acceptEndDate}
        </if>
        <if test="updateBy != null  and updateBy != ''"> and woa.update_by = #{updateBy}</if>
        <if test="updateStartDate != null ">
            and DATE_FORMAT(woa.update_time,'%Y-%m-%d') <![CDATA[>=]]> #{updateStartDate}
        </if>
        <if test="updateEndDate != null ">
            and DATE_FORMAT(woa.update_time,'%Y-%m-%d') <![CDATA[<=]]> #{updateEndDate}
        </if>
        <if test="workOrderNo != null  and workOrderNo != ''"> and woa.work_order_no = #{workOrderNo}</if>
        <if test="policyNo != null  and policyNo != ''"> and woa.policy_no = #{policyNo}</if>
        <if test="policyItemNo != null  and policyItemNo != ''"> and woa.policy_item_no = #{policyItemNo}</if>
        <if test="holderName != null  and holderName != ''"> and woa.holder_name = #{holderName}</if>
        <if test="insuredName != null  and insuredName != ''"> and woa.insured_name = #{insuredName}</if>
        <if test="idNumber != null  and idNumber != ''"> and pi.id_number = #{idNumber}</if>
        <if test="mobilePhone != null  and mobilePhone != ''"> and pi.mobile_phone = #{mobilePhone}</if>
        <if test="organCode != null  and organCode != ''"> and woa.organ_code = #{organCode}</if>
        <if test="appointmentStartDate != null ">
            and DATE_FORMAT(adi.prop10,'%Y-%m-%d') <![CDATA[>=]]> #{appointmentStartDate}
        </if>
        <if test="appointmentEndDate != null ">
            and DATE_FORMAT(adi.prop10,'%Y-%m-%d') <![CDATA[<=]]> #{appointmentEndDate}
        </if>
        <if test="priorityLevel != null  and priorityLevel != ''"> and adi.priority_level = #{priorityLevel}</if>
        <if test="vipFlag != null  and vipFlag != ''"> and woa.vip_flag = #{vipFlag}</if>
        <if test="status != null  and status != ''"> and woa.status = #{status}</if>
    </select>

    <!--根据工单号查询是待处理的数据-->
    <select id="selectSendByVoById1" parameterType="String" resultMap="AcceptResult">
        <include refid="selectSendVo"/>
        where 1=1 and not exists (SELECT 1 FROM quality_inspection_accept qia WHERE qia.work_order_no=woa.work_order_no and qia.status!='03')
       /* and woa.status ='01'*/
        and woa.work_order_no=#{workOrderNo}
    </select>

    <!--工单根据工单号查询所有状态的数据-->
    <select id="selectSendByVoById2" parameterType="String" resultMap="AcceptResult">
        <include refid="selectSendVo"/>
        where 1=1 and not exists (SELECT 1 FROM quality_inspection_accept qia WHERE qia.work_order_no=woa.work_order_no and qia.status!='03')
        and woa.work_order_no=#{workOrderNo}
    </select>


    <resultMap type="com.paic.ehis.cs.domain.vo.QualityAcceptVo" id="QualityResult">
        <result property="workOrderNo" column="work_order_no"/>
        <result property="organCode" column="organ_code"/>
        <result property="itemCode" column="item_code"/>
        <result property="endDate" column="end_date"/>
        <result property="itemType" column="item_type"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="created_time"/>
        <result property="result" column="result"/>
        <result property="inspectionId" column="inspection_id"/>
        <result property="businessType" column="business_type"/>
        <result property="policyNo" column="policy_no"/>
        <result property="policyItemNo" column="policy_item_no"/>
    </resultMap>

    <!--质检查询页面-->
    <select id="selectQualityVo" parameterType="com.paic.ehis.cs.domain.dto.QualityDTO" resultMap="QualityResult">
    SELECT DISTINCT
        qia.inspection_id,
        qia.work_order_no,
        woa.business_type,
        woa.policy_no,
        woa.policy_item_no,
        qia.updated_by,
        qia.updated_time,
        qia.created_time,
        qia.result,
        woa.organ_code,
        woa.end_date,
        adi.item_code
        FROM
            quality_inspection_accept qia left join work_order_accept woa on qia.work_order_no=woa.work_order_no
            left join accept_detail_info adi on woa.work_order_no=adi.work_order_no
        <where>
            <if test="endCaseStartDate != null ">
                and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[>=]]> #{endCaseStartDate}
            </if>
            <if test="endCaseEndDate != null ">
                and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[<=]]> #{endCaseEndDate}
            </if>
            <if test="endDate != null and endDate != ''"> and woa.end_date = #{endDate}</if>
            <if test="updatedTime != null and updatedTime != ''"> and qia.created_time = #{updatedTime}</if>
            <if test="inspectionStartDate != null ">
                and DATE_FORMAT(qia.created_time,'%Y-%m-%d') <![CDATA[>=]]> #{inspectionStartDate}
            </if>
            <if test="inspectionEndDate != null ">
                and DATE_FORMAT(qia.created_time,'%Y-%m-%d') <![CDATA[<=]]> #{inspectionEndDate}
            </if>
            <if test="organCode != null and organCode != ''"> and woa.organ_code = #{organCode}</if>
            <if test="updatedBy != null and updatedBy != ''"> and qia.updated_by = #{updatedBy}</if>
            <if test="itemCode != null and itemCode != ''"> and adi.item_code = #{itemCode}</if>
            <if test="status != null and status != ''"> and qia.status = #{status}</if>
            <if test="result != null and result != ''"> and qia.result = #{result}</if>
        </where>
    </select>

    <select id="selectAcceptByVo" parameterType="com.paic.ehis.cs.domain.dto.WorkOrderQueryDTO" resultMap="AcceptResult">
        <include refid="selectAcceptVo"/>
        where 1=1 and (qihh.status is null or qihh.status not in ('01','03'))

        <if test="endCaseStartTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[>=]]> #{endCaseStartTime}
        </if>

        <if test="endCaseEndTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[<=]]> #{endCaseEndTime}
        </if>

        <if test="organCode != null and organCode != ''"> and woa.organ_code = #{organCode}</if>

        <if test="acceptStatus != null and acceptStatus != ''"> and qia.status = #{acceptStatus}</if>

        <if test="serviceItem != null and serviceItem != ''"> and adi.item_code = #{serviceItem}</if>

        <if test="updateBy !=null and updateBy !='' "> and qia.updated_by = #{updateBy}</if>

    </select>
<!--    提取详细信息值-->
    <select id="getAcceptDetailInfo" parameterType="com.paic.ehis.cs.domain.dto.WorkOrderQueryDTO" resultType="com.paic.ehis.cs.domain.AcceptDetailInfo">
        select * from accept_detail_info adi where 1=1
        <if test="workOrderNo !=null and workOrderNo!=''">and adi.work_order_no = #{workOrderNo}</if>
    </select>
<!--    提取共同属性值-->
    <select id="getAcceptInfo" parameterType="com.paic.ehis.cs.domain.dto.WorkOrderQueryDTO" resultMap="AcceptResult">
        select woa.work_order_no,woa.business_type,adi.item_code,concat(woa.business_type,'-', adi.item_code) as business_service,adi.channel_code,
            woa.policy_no,woa.policy_item_no,woa.risk_code,woa.accept_time,woa.modify_time,woa.vip_flag,adi.priority_level,woa.organ_code,
            woa.insured_no,woa.holder_no,woa.accept_by,woa.modify_by,woa.end_date,adi.call_person_id,adi.call_relation_by,adi.contacts_person_id,
            adi.contacts_relation_by,adi.content,adi.complaint_person_id,adi.call_center_id
        from work_order_accept woa
            left join accept_detail_info adi on woa.work_order_no = adi.work_order_no
        where 1=1
        <if test="workOrderNo !=null and workOrderNo!=''">and adi.work_order_no = #{workOrderNo}</if>
    </select>
<!--    质检确认查询-->
    <select id="selectQualityFlagVO" parameterType="com.paic.ehis.cs.domain.dto.QualityInspectionDTO" resultType="com.paic.ehis.cs.domain.vo.QualityInspectionHandleVo">
        select
            c.inspection_id as inspectionId,
            c.work_order_no as workOrderNo,
            b.item_code as itemCode,
            a.update_by as modifyBy,
            c.updated_by as updatedBy,
            a.business_type as businessType,
            d.inspection_handler_id as inspectionHandlerId
            from quality_inspection_accept c
            left join (select distinct qih.inspection_handler_id,qih.inspection_id,qih.status from quality_inspection_item qii,quality_inspection_handle qih
            where qii.inspection_handler_id=qih.inspection_handler_id and qii.status='Y') d on c.inspection_id=d.inspection_id
            left join accept_detail_info b on c.work_order_no = b.work_order_no
            left join work_order_accept a on a.work_order_no = c.work_order_no
        where 1=1 and c.status = '02' and d.status ='01' and a.update_by=#{updatedBy}
            <if test="firstEndCaseStartTime != null and firstEndCaseStartTime != ''">
                and a.end_date <![CDATA[>=]]> #{firstEndCaseStartTime}
            </if>
            <if test="firstEndCaseEndTime != null and firstEndCaseEndTime != ''">
                and a.end_date <![CDATA[<=]]> #{firstEndCaseEndTime}
            </if>
            <if test="workOrderNo != null and workOrderNo != ''">
                and c.work_order_no = #{workOrderNo}
            </if>
            <if test="serviceItemCode != null and serviceItemCode != ''">
                and b.item_code = #{serviceItemCode}
            </if>

    </select>
    <!--    批量发起质检数据-->
    <insert id="insertAcceptBatch" parameterType="java.util.List">
        INSERT INTO quality_inspection_accept
        (work_order_no, `result`, status, created_by, created_time, updated_by, updated_time)
        VALUES
        <foreach collection="list" item="qualityInspectionAccept" index="index" separator=",">
            (
            #{qualityInspectionAccept.workOrderNo},
            #{qualityInspectionAccept.result},
            #{qualityInspectionAccept.status},
            #{qualityInspectionAccept.createdBy},
            #{qualityInspectionAccept.createdTime},
            #{qualityInspectionAccept.updatedBy},
            #{qualityInspectionAccept.updatedTime}
            )
        </foreach>
    </insert>
<!--获取质检操作-->
    <update id="updateAcceptByVoDTO" parameterType="com.paic.ehis.cs.domain.dto.WorkOrderQueryDTO">
        UPDATE quality_inspection_accept
        SET
        status = #{acceptStatus},
        updated_by = #{updateBy},
        <if test="result != null and result != ''"> result = #{result},</if>
        updated_time = #{updateTime}
        WHERE status=#{status}
        <if test="inspectionId != null and inspectionId != ''"> and inspection_id = #{inspectionId}</if>
        <if test="workOrderNoList != null">
            and work_order_no IN (
            <foreach collection="workOrderNoList" item="workOrderNo"
                     separator=",">
                #{workOrderNo}
            </foreach>
            )
        </if>
    </update>

    <!--信息需求按周抽检规则：已结案的案件未被质检过和未被激活过（修改过）-->
    <select id="getWorkOrderCountByUserId" parameterType="com.paic.ehis.cs.domain.dto.WorkOrderQueryDTO" resultMap="AcceptResult">
        SELECT
        woa.update_by,
        count( * ) AS count,
        GROUP_CONCAT( work_order_no ) AS work_order_nos
        FROM
        work_order_accept woa
        WHERE
        1 = 1
        AND woa.work_order_no not IN ( SELECT work_order_no FROM quality_inspection_accept qia WHERE woa.work_order_no=qia.work_order_no )
        and woa.status='04' and woa.activation_num='0'
        and woa.business_type='01'
        <if test="updateBy != null and updateBy != ''"> and woa.update_by = #{updateBy}</if>
        <if test="status != null and status != ''"> and woa.status = #{status}</if>
        <if test="workOrderNo != null and workOrderNo != ''"> and woa.work_order_no = #{workOrderNo}</if>
        <if test="endCaseStartTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[>=]]> #{endCaseStartTime}
        </if>
        <if test="endCaseEndTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[<=]]> #{endCaseEndTime}
        </if>
        GROUP BY
        woa.update_by
    </select>


    <!--信息需求按月抽检规则：已结案的案件案件首次被激活（修改过一次），并且案件不在质检中或质检结果为合格的案件-->
    <select id="getWorkOrderCountByUserIdMonth" parameterType="com.paic.ehis.cs.domain.dto.WorkOrderQueryDTO" resultMap="AcceptResult">
        SELECT
        woa.update_by,
        count( * ) AS count,
        GROUP_CONCAT( work_order_no ) AS work_order_nos
        FROM
        work_order_accept woa
        WHERE
        1 = 1
        AND woa.work_order_no IN ( SELECT work_order_no FROM quality_inspection_accept WHERE  (STATUS = '03' AND result = '01') or status='01' )
        and woa.activation_num='1'
        and woa.status='04'
        and woa.business_type='01'
        <if test="updateBy != null and updateBy != ''">and woa.update_by = #{updateBy}</if>
        <if test="status != null and status != ''"> and woa.status = #{status}</if>
        <if test="workOrderNo != null and workOrderNo != ''"> and woa.work_order_no = #{workOrderNo}</if>
        <if test="endCaseStartTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[>=]]> #{endCaseStartTime}
        </if>
        <if test="endCaseEndTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[<=]]> #{endCaseEndTime}
        </if>
        GROUP BY
        woa.update_by
    </select>

    <!--预约12点批处理-->
    <select id="selectInvalidAcceptDetailInfo" resultMap="AcceptResult">
        SELECT
            woa.work_order_no,
            woa.business_type,
            woa.STATUS,
            adi.prop18
        FROM
            work_order_accept woa
                LEFT JOIN accept_detail_info adi ON woa.work_order_no = adi.work_order_no
                LEFT JOIN person_info pi ON woa.insured_no = pi.person_id
                LEFT JOIN quality_inspection_accept qia ON woa.work_order_no = qia.work_order_no
        WHERE
            1 = 1 and woa.business_type='02' and woa.status='03'
        and <![CDATA[prop18 < #{invalidDate}]]>
    </select>

    <!--投诉每周一凌晨四点批处理-->
    <select id="selectInvalidQiaMondayFour" resultMap="AcceptResult">
        SELECT
            woa.update_by,
            count( * ) AS count,
	GROUP_CONCAT( woa.work_order_no ) AS work_order_nos
        FROM
            work_order_accept woa
            LEFT JOIN accept_detail_info adi ON woa.work_order_no = adi.work_order_no
            LEFT JOIN person_info pi ON woa.insured_no = pi.person_id
        WHERE
            1 = 1
          AND woa.STATUS NOT IN ( '01', '02' )
          AND woa.business_type IN ( '03' )
          AND NOT EXISTS ( SELECT 1 FROM quality_inspection_accept qia WHERE woa.work_order_no = qia.work_order_no )
          AND adi.item_code NOT IN ( 'B00034' )
        <if test="updateBy != null and updateBy != ''">and woa.update_by = #{updateBy}</if>
        <if test="status != null and status != ''"> and woa.status = #{status}</if>
        <if test="workOrderNo != null and workOrderNo != ''"> and woa.work_order_no = #{workOrderNo}</if>
        <if test="endCaseStartTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[>=]]> #{endCaseStartTime}
        </if>
        <if test="endCaseEndTime != null ">
            and DATE_FORMAT(woa.end_date,'%Y-%m-%d') <![CDATA[<=]]> #{endCaseEndTime}
        </if>
        GROUP BY
            woa.update_by
    </select>
</mapper>