<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.UserInfoMapper">
    
    <resultMap type="UserInfo" id="UserInfoResult">
        <result property="userId"    column="user_id"    />
        <result property="userCode"    column="user_code"    />
        <result property="userName"    column="user_name"    />
        <result property="umCode"    column="um_code"    />
        <result property="userState"    column="user_state"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectUserInfoVo">
        select user_id, user_code, user_name, um_code, user_state, created_by, created_time, updated_by, updated_time from user_info
    </sql>

    <select id="selectUserInfoList" parameterType="UserInfo" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        <where>  
            <if test="userCode != null  and userCode != ''"> and user_code = #{userCode}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="umCode != null  and umCode != ''"> and um_code = #{umCode}</if>
            <if test="userState != null  and userState != ''"> and user_state = #{userState}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectUserInfoById" parameterType="String" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertUserInfo" parameterType="UserInfo">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userCode != null">user_code,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="umCode != null">um_code,</if>
            <if test="userState != null">user_state,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userCode != null">#{userCode},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="umCode != null">#{umCode},</if>
            <if test="userState != null">#{userState},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateUserInfo" parameterType="UserInfo">
        update user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userCode != null">user_code = #{userCode},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="umCode != null">um_code = #{umCode},</if>
            <if test="userState != null">user_state = #{userState},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteUserInfoById" parameterType="String">
        delete from user_info where user_id = #{userId}
    </delete>

    <delete id="deleteUserInfoByIds" parameterType="String">
        delete from user_info where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    
</mapper>