<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paic.ehis.cs.mapper.WorkHandleInfoMapper">
    
    <resultMap type="com.paic.ehis.cs.domain.WorkHandleInfo" id="WorkHandleInfoResult">
        <result property="handleId"    column="handle_id"    />
        <result property="handleType"    column="handle_type"    />
        <result property="workOrderNo"    column="work_order_no"    />
        <result property="flag"    column="flag"    />
        <result property="status"    column="status"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="remark"    column="remark"    />
        <result property="handleProp1"    column="handle_prop1"    />
        <result property="handleProp2"    column="handle_prop2"    />
        <result property="handleProp3"    column="handle_prop3"    />
        <result property="handleProp4"    column="handle_prop4"    />
        <result property="handleProp5"    column="handle_prop5"    />
        <result property="handleProp6"    column="handle_prop6"    />
        <result property="handleProp7"    column="handle_prop7"    />
        <result property="handleProp8"    column="handle_prop8"    />
        <result property="handleProp9"    column="handle_prop9"    />
        <result property="handleProp10"    column="handle_prop10"    />
        <result property="handleProp11"    column="handle_prop11"    />
        <result property="handleProp12"    column="handle_prop12"    />
        <result property="handleProp13"    column="handle_prop13"    />
        <result property="handleProp14"    column="handle_prop14"    />
        <result property="handleProp15"    column="handle_prop15"    />
        <result property="handleProp16"    column="handle_prop16"    />
        <result property="handleProp17"    column="handle_prop17"    />
        <result property="handleProp18"    column="handle_prop18"    />
        <result property="handleProp19"    column="handle_prop19"    />
        <result property="handleProp20"    column="handle_prop20"    />
        <result property="handleProp21"    column="handle_prop21"    />
        <result property="handleProp22"    column="handle_prop22"    />
        <result property="handleProp23"    column="handle_prop23"    />
        <result property="handleProp24"    column="handle_prop24"    />
        <result property="handleProp25"    column="handle_prop25"    />
        <result property="handleProp26"    column="handle_prop26"    />
        <result property="handleProp27"    column="handle_prop27"    />
        <result property="handleProp28"    column="handle_prop28"    />
        <result property="handleProp29"    column="handle_prop29"    />
        <result property="handleProp30"    column="handle_prop30"    />
    </resultMap>

    <sql id="selectWorkHandleInfoVo">
        select handle_id, handle_type, work_order_no, flag, status, created_by, created_time, updated_by, updated_time, remark, handle_prop1, handle_prop2, handle_prop3, handle_prop4, handle_prop5, handle_prop6, handle_prop7, handle_prop8, handle_prop9, handle_prop10, handle_prop11, handle_prop12, handle_prop13, handle_prop14, handle_prop15, handle_prop16, handle_prop17, handle_prop18, handle_prop19, handle_prop20, handle_prop21, handle_prop22, handle_prop23, handle_prop24, handle_prop25, handle_prop26, handle_prop27, handle_prop28, handle_prop29, handle_prop30 from work_handle_info
    </sql>

    <select id="selectWorkHandleInfoList" parameterType="com.paic.ehis.cs.domain.WorkHandleInfo" resultMap="WorkHandleInfoResult">
        <include refid="selectWorkHandleInfoVo"/>
        <where>  
            <if test="handleType != null  and handleType != ''"> and handle_type = #{handleType}</if>
            <if test="workOrderNo != null  and workOrderNo != ''"> and work_order_no = #{workOrderNo}</if>
            <if test="flag != null  and flag != ''"> and flag = #{flag}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
            <if test="handleProp1 != null  and handleProp1 != ''"> and handle_prop1 = #{handleProp1}</if>
            <if test="handleProp2 != null  and handleProp2 != ''"> and handle_prop2 = #{handleProp2}</if>
            <if test="handleProp3 != null  and handleProp3 != ''"> and handle_prop3 = #{handleProp3}</if>
            <if test="handleProp4 != null  and handleProp4 != ''"> and handle_prop4 = #{handleProp4}</if>
            <if test="handleProp5 != null  and handleProp5 != ''"> and handle_prop5 = #{handleProp5}</if>
            <if test="handleProp6 != null  and handleProp6 != ''"> and handle_prop6 = #{handleProp6}</if>
            <if test="handleProp7 != null  and handleProp7 != ''"> and handle_prop7 = #{handleProp7}</if>
            <if test="handleProp8 != null  and handleProp8 != ''"> and handle_prop8 = #{handleProp8}</if>
            <if test="handleProp9 != null  and handleProp9 != ''"> and handle_prop9 = #{handleProp9}</if>
            <if test="handleProp10 != null  and handleProp10 != ''"> and handle_prop10 = #{handleProp10}</if>
            <if test="handleProp11 != null  and handleProp11 != ''"> and handle_prop11 = #{handleProp11}</if>
            <if test="handleProp12 != null  and handleProp12 != ''"> and handle_prop12 = #{handleProp12}</if>
            <if test="handleProp13 != null  and handleProp13 != ''"> and handle_prop13 = #{handleProp13}</if>
            <if test="handleProp14 != null  and handleProp14 != ''"> and handle_prop14 = #{handleProp14}</if>
            <if test="handleProp15 != null  and handleProp15 != ''"> and handle_prop15 = #{handleProp15}</if>
            <if test="handleProp16 != null  and handleProp16 != ''"> and handle_prop16 = #{handleProp16}</if>
            <if test="handleProp17 != null  and handleProp17 != ''"> and handle_prop17 = #{handleProp17}</if>
            <if test="handleProp18 != null  and handleProp18 != ''"> and handle_prop18 = #{handleProp18}</if>
            <if test="handleProp19 != null  and handleProp19 != ''"> and handle_prop19 = #{handleProp19}</if>
            <if test="handleProp20 != null  and handleProp20 != ''"> and handle_prop20 = #{handleProp20}</if>
            <if test="handleProp21 != null  and handleProp21 != ''"> and handle_prop21 = #{handleProp21}</if>
            <if test="handleProp22 != null  and handleProp22 != ''"> and handle_prop22 = #{handleProp22}</if>
            <if test="handleProp23 != null  and handleProp23 != ''"> and handle_prop23 = #{handleProp23}</if>
            <if test="handleProp24 != null  and handleProp24 != ''"> and handle_prop24 = #{handleProp24}</if>
            <if test="handleProp25 != null  and handleProp25 != ''"> and handle_prop25 = #{handleProp25}</if>
            <if test="handleProp26 != null  and handleProp26 != ''"> and handle_prop26 = #{handleProp26}</if>
            <if test="handleProp27 != null  and handleProp27 != ''"> and handle_prop27 = #{handleProp27}</if>
            <if test="handleProp28 != null  and handleProp28 != ''"> and handle_prop28 = #{handleProp28}</if>
            <if test="handleProp29 != null  and handleProp29 != ''"> and handle_prop29 = #{handleProp29}</if>
            <if test="handleProp30 != null  and handleProp30 != ''"> and handle_prop30 = #{handleProp30}</if>
        </where>
    </select>
    
    <select id="selectWorkHandleInfoById" parameterType="Long" resultMap="WorkHandleInfoResult">
        <include refid="selectWorkHandleInfoVo"/>
        where handle_id = #{handleId}
    </select>
        
    <insert id="insertWorkHandleInfo" parameterType="WorkHandleInfo">
        insert into work_handle_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="handleId != null">handle_id,</if>
            <if test="handleType != null and handleType != ''">handle_type,</if>
            <if test="workOrderNo != null and workOrderNo != ''">work_order_no,</if>
            <if test="flag != null">flag,</if>
            <if test="status != null">status,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="remark != null">remark,</if>
            <if test="handleProp1 != null">handle_prop1,</if>
            <if test="handleProp2 != null">handle_prop2,</if>
            <if test="handleProp3 != null">handle_prop3,</if>
            <if test="handleProp4 != null">handle_prop4,</if>
            <if test="handleProp5 != null">handle_prop5,</if>
            <if test="handleProp6 != null">handle_prop6,</if>
            <if test="handleProp7 != null">handle_prop7,</if>
            <if test="handleProp8 != null">handle_prop8,</if>
            <if test="handleProp9 != null">handle_prop9,</if>
            <if test="handleProp10 != null">handle_prop10,</if>
            <if test="handleProp11 != null">handle_prop11,</if>
            <if test="handleProp12 != null">handle_prop12,</if>
            <if test="handleProp13 != null">handle_prop13,</if>
            <if test="handleProp14 != null">handle_prop14,</if>
            <if test="handleProp15 != null">handle_prop15,</if>
            <if test="handleProp16 != null">handle_prop16,</if>
            <if test="handleProp17 != null">handle_prop17,</if>
            <if test="handleProp18 != null">handle_prop18,</if>
            <if test="handleProp19 != null">handle_prop19,</if>
            <if test="handleProp20 != null">handle_prop20,</if>
            <if test="handleProp21 != null">handle_prop21,</if>
            <if test="handleProp22 != null">handle_prop22,</if>
            <if test="handleProp23 != null">handle_prop23,</if>
            <if test="handleProp24 != null">handle_prop24,</if>
            <if test="handleProp25 != null">handle_prop25,</if>
            <if test="handleProp26 != null">handle_prop26,</if>
            <if test="handleProp27 != null">handle_prop27,</if>
            <if test="handleProp28 != null">handle_prop28,</if>
            <if test="handleProp29 != null">handle_prop29,</if>
            <if test="handleProp30 != null">handle_prop30,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="handleId != null">#{handleId},</if>
            <if test="handleType != null and handleType != ''">#{handleType},</if>
            <if test="workOrderNo != null and workOrderNo != ''">#{workOrderNo},</if>
            <if test="flag != null">#{flag},</if>
            <if test="status != null">#{status},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="handleProp1 != null">#{handleProp1},</if>
            <if test="handleProp2 != null">#{handleProp2},</if>
            <if test="handleProp3 != null">#{handleProp3},</if>
            <if test="handleProp4 != null">#{handleProp4},</if>
            <if test="handleProp5 != null">#{handleProp5},</if>
            <if test="handleProp6 != null">#{handleProp6},</if>
            <if test="handleProp7 != null">#{handleProp7},</if>
            <if test="handleProp8 != null">#{handleProp8},</if>
            <if test="handleProp9 != null">#{handleProp9},</if>
            <if test="handleProp10 != null">#{handleProp10},</if>
            <if test="handleProp11 != null">#{handleProp11},</if>
            <if test="handleProp12 != null">#{handleProp12},</if>
            <if test="handleProp13 != null">#{handleProp13},</if>
            <if test="handleProp14 != null">#{handleProp14},</if>
            <if test="handleProp15 != null">#{handleProp15},</if>
            <if test="handleProp16 != null">#{handleProp16},</if>
            <if test="handleProp17 != null">#{handleProp17},</if>
            <if test="handleProp18 != null">#{handleProp18},</if>
            <if test="handleProp19 != null">#{handleProp19},</if>
            <if test="handleProp20 != null">#{handleProp20},</if>
            <if test="handleProp21 != null">#{handleProp21},</if>
            <if test="handleProp22 != null">#{handleProp22},</if>
            <if test="handleProp23 != null">#{handleProp23},</if>
            <if test="handleProp24 != null">#{handleProp24},</if>
            <if test="handleProp25 != null">#{handleProp25},</if>
            <if test="handleProp26 != null">#{handleProp26},</if>
            <if test="handleProp27 != null">#{handleProp27},</if>
            <if test="handleProp28 != null">#{handleProp28},</if>
            <if test="handleProp29 != null">#{handleProp29},</if>
            <if test="handleProp30 != null">#{handleProp30},</if>
         </trim>
    </insert>

    <update id="updateWorkHandleInfo" parameterType="WorkHandleInfo">
        update work_handle_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="handleType != null and handleType != ''">handle_type = #{handleType},</if>
            <if test="workOrderNo != null and workOrderNo != ''">work_order_no = #{workOrderNo},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="handleProp1 != null">handle_prop1 = #{handleProp1},</if>
            <if test="handleProp2 != null">handle_prop2 = #{handleProp2},</if>
            <if test="handleProp3 != null">handle_prop3 = #{handleProp3},</if>
            <if test="handleProp4 != null">handle_prop4 = #{handleProp4},</if>
            <if test="handleProp5 != null">handle_prop5 = #{handleProp5},</if>
            <if test="handleProp6 != null">handle_prop6 = #{handleProp6},</if>
            <if test="handleProp7 != null">handle_prop7 = #{handleProp7},</if>
            <if test="handleProp8 != null">handle_prop8 = #{handleProp8},</if>
            <if test="handleProp9 != null">handle_prop9 = #{handleProp9},</if>
            <if test="handleProp10 != null">handle_prop10 = #{handleProp10},</if>
            <if test="handleProp11 != null">handle_prop11 = #{handleProp11},</if>
            <if test="handleProp12 != null">handle_prop12 = #{handleProp12},</if>
            <if test="handleProp13 != null">handle_prop13 = #{handleProp13},</if>
            <if test="handleProp14 != null">handle_prop14 = #{handleProp14},</if>
            <if test="handleProp15 != null">handle_prop15 = #{handleProp15},</if>
            <if test="handleProp16 != null">handle_prop16 = #{handleProp16},</if>
            <if test="handleProp17 != null">handle_prop17 = #{handleProp17},</if>
            <if test="handleProp18 != null">handle_prop18 = #{handleProp18},</if>
            <if test="handleProp19 != null">handle_prop19 = #{handleProp19},</if>
            <if test="handleProp20 != null">handle_prop20 = #{handleProp20},</if>
            <if test="handleProp21 != null">handle_prop21 = #{handleProp21},</if>
            <if test="handleProp22 != null">handle_prop22 = #{handleProp22},</if>
            <if test="handleProp23 != null">handle_prop23 = #{handleProp23},</if>
            <if test="handleProp24 != null">handle_prop24 = #{handleProp24},</if>
            <if test="handleProp25 != null">handle_prop25 = #{handleProp25},</if>
            <if test="handleProp26 != null">handle_prop26 = #{handleProp26},</if>
            <if test="handleProp27 != null">handle_prop27 = #{handleProp27},</if>
            <if test="handleProp28 != null">handle_prop28 = #{handleProp28},</if>
            <if test="handleProp29 != null">handle_prop29 = #{handleProp29},</if>
            <if test="handleProp30 != null">handle_prop30 = #{handleProp30},</if>
        </trim>
        where handle_id = #{handleId}
    </update>

    <insert id="assistInComplaint" parameterType="WorkHandleInfo">
        insert into work_handle_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="handleId != null">handle_id,</if>
            <if test="handleType != null and handleType != ''">handle_type,</if>
            <if test="workOrderNo != null and workOrderNo != ''">work_order_no,</if>
            <if test="flag != null">flag,</if>
            <if test="status != null">status,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="remark != null">remark,</if>
            <if test="handleProp1 != null">handle_prop1,</if>
            <if test="handleProp2 != null">handle_prop2,</if>
            <if test="handleProp3 != null">handle_prop3,</if>
            <if test="handleProp4 != null">handle_prop4,</if>
            <if test="handleProp5 != null">handle_prop5,</if>
            <if test="handleProp6 != null">handle_prop6,</if>
            <if test="handleProp7 != null">handle_prop7,</if>
            <if test="handleProp8 != null">handle_prop8,</if>
            <if test="handleProp9 != null">handle_prop9,</if>
            <if test="handleProp10 != null">handle_prop10,</if>
            <if test="handleProp11 != null">handle_prop11,</if>
            <if test="handleProp12 != null">handle_prop12,</if>
            <if test="handleProp13 != null">handle_prop13,</if>
            <if test="handleProp14 != null">handle_prop14,</if>
            <if test="handleProp15 != null">handle_prop15,</if>
            <if test="handleProp16 != null">handle_prop16,</if>
            <if test="handleProp17 != null">handle_prop17,</if>
            <if test="handleProp18 != null">handle_prop18,</if>
            <if test="handleProp19 != null">handle_prop19,</if>
            <if test="handleProp20 != null">handle_prop20,</if>
            <if test="handleProp21 != null">handle_prop21,</if>
            <if test="handleProp22 != null">handle_prop22,</if>
            <if test="handleProp23 != null">handle_prop23,</if>
            <if test="handleProp24 != null">handle_prop24,</if>
            <if test="handleProp25 != null">handle_prop25,</if>
            <if test="handleProp26 != null">handle_prop26,</if>
            <if test="handleProp27 != null">handle_prop27,</if>
            <if test="handleProp28 != null">handle_prop28,</if>
            <if test="handleProp29 != null">handle_prop29,</if>
            <if test="handleProp30 != null">handle_prop30,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="handleId != null">#{handleId},</if>
            <if test="handleType != null and handleType != ''">#{handleType},</if>
            <if test="workOrderNo != null and workOrderNo != ''">#{workOrderNo},</if>
            <if test="flag != null">#{flag},</if>
            <if test="status != null">#{status},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="handleProp1 != null">#{handleProp1},</if>
            <if test="handleProp2 != null">#{handleProp2},</if>
            <if test="handleProp3 != null">#{handleProp3},</if>
            <if test="handleProp4 != null">#{handleProp4},</if>
            <if test="handleProp5 != null">#{handleProp5},</if>
            <if test="handleProp6 != null">#{handleProp6},</if>
            <if test="handleProp7 != null">#{handleProp7},</if>
            <if test="handleProp8 != null">#{handleProp8},</if>
            <if test="handleProp9 != null">#{handleProp9},</if>
            <if test="handleProp10 != null">#{handleProp10},</if>
            <if test="handleProp11 != null">#{handleProp11},</if>
            <if test="handleProp12 != null">#{handleProp12},</if>
            <if test="handleProp13 != null">#{handleProp13},</if>
            <if test="handleProp14 != null">#{handleProp14},</if>
            <if test="handleProp15 != null">#{handleProp15},</if>
            <if test="handleProp16 != null">#{handleProp16},</if>
            <if test="handleProp17 != null">#{handleProp17},</if>
            <if test="handleProp18 != null">#{handleProp18},</if>
            <if test="handleProp19 != null">#{handleProp19},</if>
            <if test="handleProp20 != null">#{handleProp20},</if>
            <if test="handleProp21 != null">#{handleProp21},</if>
            <if test="handleProp22 != null">#{handleProp22},</if>
            <if test="handleProp23 != null">#{handleProp23},</if>
            <if test="handleProp24 != null">#{handleProp24},</if>
            <if test="handleProp25 != null">#{handleProp25},</if>
            <if test="handleProp26 != null">#{handleProp26},</if>
            <if test="handleProp27 != null">#{handleProp27},</if>
            <if test="handleProp28 != null">#{handleProp28},</if>
            <if test="handleProp29 != null">#{handleProp29},</if>
            <if test="handleProp30 != null">#{handleProp30},</if>
        </trim>
    </insert>

    <delete id="deleteWorkHandleInfoById" parameterType="Long">
        delete from work_handle_info where handle_id = #{handleId}
    </delete>

    <delete id="deleteWorkHandleInfoByIds" parameterType="String">
        delete from work_handle_info where handle_id in 
        <foreach item="handleId" collection="array" open="(" separator="," close=")">
            #{handleId}
        </foreach>
    </delete>
    <resultMap type="com.paic.ehis.cs.domain.vo.ServiceProcessingVo" id="ServiceProcessingVo">
        <result property="handleId"    column="handle_id"    />
        <result property="handleType"    column="handle_type"    />
        <result property="workOrderNo"    column="work_order_no"    />
        <result property="flag"    column="flag"    />
        <result property="status"    column="status"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    <insert id="insertServiceProcessing" parameterType="com.paic.ehis.cs.domain.dto.AcceptDTO" >
        insert into work_handle_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="handleId != null">handle_id,</if>
            <if test="handleType != null and handleType != ''">handle_type,</if>
            <if test="workOrderNo != null and workOrderNo != ''">work_order_no,</if>
            <if test="flag != null">flag,</if>
            <if test="status != null">status,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="remark != null">remark,</if>
            <if test="handleProp1 != null">handle_prop1,</if>
            <if test="handleProp2 != null">handle_prop2,</if>
            <if test="handleProp3 != null">handle_prop3,</if>
            <if test="handleProp30 != null">handle_prop30,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="handleId != null">#{handleId},</if>
            <if test="handleType != null and handleType != ''">#{handleType},</if>
            <if test="workOrderNo != null and workOrderNo != ''">#{workOrderNo},</if>
            <if test="flag != null">#{flag},</if>
            <if test="status != null">#{status},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="handleProp1 != null">#{handleProp1},</if>
            <if test="handleProp2 != null">#{handleProp2},</if>
            <if test="handleProp3 != null">#{handleProp3},</if>
            <if test="handleProp30 != null">#{handleProp30},</if>
        </trim>
    </insert>
    <select id="selectCreatedBy" parameterType="WorkHandleInfo" resultMap="WorkHandleInfoResult">
        select  handle_id from work_handle_info   where work_order_no=#{workOrderNo}  and created_by=#{createdBy}
    </select>
    <update id="updateStatus"   parameterType="WorkHandleInfo" >
        update work_handle_info set status="N"  where status="Y"  and work_order_no=#{workOrderNo}
    </update>
    <update id="updateServiceProcessing" parameterType="WorkHandleInfo">
        update work_handle_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="handleType != null and handleType != ''">handle_type = #{handleType},</if>
            <if test="workOrderNo != null and workOrderNo != ''">work_order_no = #{workOrderNo},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="handleProp1 != null">handle_prop1 = #{handleProp1},</if>
            <if test="handleProp2 != null">handle_prop2 = #{handleProp2},</if>
            <if test="handleProp3 != null">handle_prop3 = #{handleProp3},</if>
            <if test="handleProp4 != null">handle_prop4 = #{handleProp4},</if>
            <if test="handleProp5 != null">handle_prop5 = #{handleProp5},</if>
            <if test="handleProp6 != null">handle_prop6 = #{handleProp6},</if>
            <if test="handleProp7 != null">handle_prop7 = #{handleProp7},</if>
            <if test="handleProp8 != null">handle_prop8 = #{handleProp8},</if>
            <if test="handleProp9 != null">handle_prop9 = #{handleProp9},</if>
            <if test="handleProp10 != null">handle_prop10 = #{handleProp10},</if>
            <if test="handleProp11 != null">handle_prop11 = #{handleProp11},</if>
            <if test="handleProp12 != null">handle_prop12 = #{handleProp12},</if>
            <if test="handleProp13 != null">handle_prop13 = #{handleProp13},</if>
            <if test="handleProp14 != null">handle_prop14 = #{handleProp14},</if>
            <if test="handleProp15 != null">handle_prop15 = #{handleProp15},</if>
            <if test="handleProp16 != null">handle_prop16 = #{handleProp16},</if>
            <if test="handleProp17 != null">handle_prop17 = #{handleProp17},</if>
            <if test="handleProp18 != null">handle_prop18 = #{handleProp18},</if>
            <if test="handleProp19 != null">handle_prop19 = #{handleProp19},</if>
            <if test="handleProp20 != null">handle_prop20 = #{handleProp20},</if>
            <if test="handleProp21 != null">handle_prop21 = #{handleProp21},</if>
            <if test="handleProp22 != null">handle_prop22 = #{handleProp22},</if>
            <if test="handleProp23 != null">handle_prop23 = #{handleProp23},</if>
            <if test="handleProp24 != null">handle_prop24 = #{handleProp24},</if>
            <if test="handleProp25 != null">handle_prop25 = #{handleProp25},</if>
            <if test="handleProp26 != null">handle_prop26 = #{handleProp26},</if>
            <if test="handleProp27 != null">handle_prop27 = #{handleProp27},</if>
            <if test="handleProp28 != null">handle_prop28 = #{handleProp28},</if>
            <if test="handleProp29 != null">handle_prop29 = #{handleProp29},</if>
            <if test="handleProp30 != null">handle_prop30 = #{handleProp30},</if>
        </trim>
        where created_by=#{createdBy}
    </update>
</mapper>